.cloud__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  * {
    transition: $duration-medium;
  }
  .cloud__inner {
    position: absolute;
    height: 25rem;
    width: 100%;
    .cloud__item {
      &-1 {
        position: absolute;
        height: max(14rem, 17vw);
        width: max(28rem, 33vw);
        bottom: -10%;
        left: max(-10%, -26vw);
        z-index: 5;
      }
      &-2 {
        position: absolute;
        height: max(14rem, 14vw);
        width: max(25rem, 30vw);
        bottom: -15%;
        left: max(3%, 20vw);
        z-index: 5;
      }
      &-3 {
        position: absolute;
        height: max(13rem, 13vw);
        width: max(24rem, 26vw);
        bottom: -12%;
        left: max(4%, 10vw);
        z-index: 15;
      }

      &-4 {
        position: absolute;
        height: max(14rem, 17vw);
        width: max(28rem, 33vw);
        bottom: -10%;
        right: max(-10%, -26vw);
        transform: scaleX(-1);
        z-index: 5;
      }
      &-5 {
        position: absolute;
        height: max(14rem, 14vw);
        width: max(25rem, 30vw);
        bottom: -15%;
        right: max(3%, 20vw);
        transform: scaleX(-1);
        z-index: 5;
      }
      &-6 {
        position: absolute;
        height: max(13rem, 13vw);
        width: max(24rem, 26vw);
        bottom: -12%;
        right: max(4%, 10vw);
        transform: scaleX(-1);
        z-index: 15;
      }
    }
  }
}

.cloud__item {
  background-image: url("../../../img/cloud.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
