.rope__wrapper {
  position: fixed;
  bottom: 47%;
  left: 25%;
  right: 31%;
  height: 5rem;
  transform: translateY(50%);
  transition: $duration-medium;
  background-image: url("../../../img/rope.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
