.unicycle__wrapper {
  position: fixed;
  transition: $duration-medium;
}

.unicycle-profile-girl__wrapper {
  position: fixed;
  transition: $duration-medium;
}

.unicycle-profile-boy__wrapper {
  position: fixed;
  transition: $duration-medium;
}
