.accordion {
  transition: $duration-medium;
  margin-bottom: 10rem;
  * {
    transition: $duration-medium;
  }
}
.accordion__item {
  position: relative;
  width: 100%;
  border-bottom: 0.1rem solid rgb(200, 200, 200, 0.5);
  &:first-child {
    border-top: 0.1rem solid rgb(200, 200, 200, 0.5);
  }
}

.accordion__control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  background-color: $dark;
  z-index: 10;
  .title {
    transform: translateY(-10px);
  }
}

.accordion__btn {
  cursor: pointer;
  width: 16.4rem;
  height: 8rem;
  background-image: url("..//img/accordion-btn-open.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: $duration-fast;
  &:hover {
    transform: scale(1.1);
  }
}

.accordion__item.open {
  .accordion__btn {
    background-image: url("..//img/accordion-btn-close.png.png");
  }
}

.accordion-content__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  .accordion-content {
    display: block;
  }
}

@include small-tablet {
  .accordion {
    .accordion__control {
      padding: 1.5rem 0;
      .title-2 {
        font-size: 4.8rem;
        line-height: 4.8rem;
      }
      .title {
        transform: translateY(0);
      }
    }
  }
}

@include mobile {
  .accordion__btn {
    transform: scale(0.7);
    &:hover {
      transform: scale(0.8);
    }
  }
}
