.chto-v-rezultate-section {
  margin-top: 20vh;
}
.chto-v-rezultate-content {
  height: 80vh;
  margin-top: 25rem;
}

.chto-v-rezultate__text-bg {
  position: absolute;
  bottom: 35rem;
  left: 0;
  width: 40%;
}

.chto-v-rezultate-section {
  .container {
    .clouds__item {
      position: absolute;
      &-1 {
        top: 15%;
        left: -10%;
        width: 20vw;
      }
      &-2 {
        top: 70%;
        left: 70%;
        width: 15vw;
        z-index: -20;
      }
      &-3 {
        top: 80%;
        left: 80%;
        width: 25vw;
        z-index: 20;
      }
    }
    .chto-v-rezultate__img {
      bottom: -20%;
      left: 70%;
      width: 20vw;
      z-index: -15;
    }
  }
}
