.footer {
  padding-top: 9.6rem;
  padding-bottom: 8rem;
  .container {
    padding: 0;
  }
  .nav__item {
    margin-bottom: 1.6rem !important;
  }
}

.footer-desktop {
  & > * {
    width: 45%;
  }
  .footer__nav {
    .nav:not(:first-child) {
      margin-top: $space-small;
      margin-left: $space-std;
    }
    .nav__item {
      .btn-primary {
        margin-bottom: 0 !important;
      }
    }
  }

  .footer__contact {
    .phone {
      margin-bottom: $space-small;
    }
    .email {
      margin-bottom: $space-std;
    }
    .social__block {
      margin-bottom: 4.8rem;
    }
  }
}

.footer-mobile {
  display: none;
  .phone {
    margin-bottom: 1.2rem;
  }
  .email {
    margin-bottom: $space-std;
  }
  .social__block {
    margin-bottom: 4.8rem;
  }
  .nav {
    width: fit-content;
    margin-bottom: 7.5rem;
  }
}

@include tablet {
  .footer-desktop {
    display: none;
  }
  .footer-mobile {
    display: block !important;
  }
}
