.hand__wrapper {
  z-index: -20 !important;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  img {
    width: 48.9rem;
    height: 56.3rem;
    min-width: 45rem;
    transform: scale(0.8);
    margin-left: 5rem;
  }
}
