.header {
  z-index: $zHighest;
  position: fixed;
  top: $space-std;
  width: 100%;
  height: calc(6.4rem + 2rem);
  display: flex;
  justify-content: center;
  transition: $fast;
  .container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .title {
    letter-spacing: 0.2rem;
  }

  .header__service {
    z-index: $zHighest;
    & > * {
      margin-right: $space-small;
    }
  }

  .logo {
    position: relative;
    display: block;
    width: 6.4rem;
    height: 6.4rem;
    background-image: url("../../img/svg/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: $fast;
    // &::before{
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background-color: rgb($dark, $opacity-medium);
    //   z-index: -$zHighest;
    // }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      transition: $fast;
    }
    &:hover::after {
      pointer-events: all;
      background-color: rgb($dark, $opacity-light);
    }
  }
  .profile__btn {
    position: relative;
    z-index: $zHighest;
    &::after {
      content: "";
      position: absolute;
      width: 2.6rem;
      height: 2.6rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("../../img/svg/profile.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transform-origin: 50% 50%;
      transition: $fast;
    }
  }
  .menu__btn {
    position: relative;
    z-index: $zHighest;
    &::after {
      content: "";
      position: absolute;
      width: 2.6rem;
      height: 2.6rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("../../img/svg/menu.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transform-origin: 50% 50%;
      transition: $fast;
    }

    &:hover::after {
      transform: translate(-50%, -50%) rotate(-15deg);
    }
  }
  .nav {
    z-index: $zHighest;
  }
}

//desctop
.header-desktop {
  display: block;
}
.header__side-desktop {
  height: 100%;
  .wrapper {
    padding-top: 15rem;
    padding-right: 10rem;
    z-index: 10;
  }
  .title {
    margin-bottom: 2.6rem;
  }
  .nav {
    margin-bottom: 5.4rem;
  }
  .bg {
    position: absolute;
    bottom: 0%;
    left: 5%;
    width: 65rem;
    height: 78rem;
    & > * {
      position: absolute;
    }

    .panelka__wrapper {
      width: 100%;
      bottom: -20%;
      .panelka {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom;
      }
    }

    .elephant__wrapper {
      width: 30rem;
      bottom: 45%;
      left: 32%;
      .elephant {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom;
      }
    }
  }

  .cloud__wrapper {
    position: absolute;
    width: 45rem;
    img {
      width: 100%;
      height: 100%;
      object-position: bottom;
      object-fit: contain;
    }
    &-1 {
      left: -10rem;
      bottom: -10%;
      z-index: $zLow;
    }
    &-2 {
      left: 50rem;
      bottom: -5%;
    }
    &-3 {
      right: -25rem;
      bottom: -10%;
      z-index: $zLow;
    }
  }
}

//mobile
.header-mobile {
  display: none;
}
.header__side-mobile {
  display: none;
  text-align: center;
  height: 100%;
  .wrapper {
    padding-top: max(12rem, min(15vh, 15rem));
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: fit-content;
  }
  .nav__item {
    margin-bottom: max(0.5rem, min(2vh, 2rem)) !important;
  }

  .header__footer {
    .social__block{
      margin-bottom:  max(1rem, min(3vh, 3rem));
    }
    & > * {
      margin-bottom: $space-std;
    }
    .copyright__block {
      text-align: center;
      align-items: center;
      .oferta{
        margin-bottom:  max(1rem, min(3vh, 3rem));
      }
      .copyright {
        align-items: center;
      }
    }
  }
}

//header side main
.header__side {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $dark;
  transform: translateX(100%) translateY(-$space-std);
  transition: $medium;
}
.header.is-open {
  .header__side {
    transform: translateX(0%) translateY(-$space-std);
  }
}

//adaptive
@include tablet {
  .header-desktop {
    display: none;
  }
  .header__side-desktop {
    display: none;
  }
  .header-mobile {
    display: block;
  }
  .header__side-mobile {
    display: flex;
    justify-content: center;
  }
  .header{
    .menu__btn{
      &:hover::after{
        transform: translate(-50%, -50%) rotate(0);
      }
    }
    .btn-primary.circle:hover::before{
      animation: none;
    }
  }
}
