.huliganskii-proekt-section {
  margin-top: 20vh;
}

.huliganskii-proekt-content {
  &-1 {
    margin-top: 10rem;
  }
}

.huliganskii-proekt__bottom {
  height: 105rem;
}

.huliganskii-proekt-zaglushka {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10 !important;
  img {
    width: 100%;
  }
}
