.primary-btn {
  cursor: pointer;
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: $duration-fast;
}

.primary-btn.elips {
  background-image: url("../../img/svg/primary-btn-elips.svg");
  & > * {
    padding: 1.6rem 2rem;
  }
  &:hover {
    transform: scale(1.1);
  }
}

.primary-btn.circle {
  height: 6.4rem;
  width: 6.4rem;
  background-image: url("../../img/svg/primary-btn-circle.svg");
  & > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3rem;
    width: 3rem;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    transition: $duration-fast;
  }
  & > .account-btn {
    background-image: url("../../img/svg/account-ico.svg");
  }
  & > .burger-btn {
    .header__side.close ~ & {
      background-image: url("../../img/svg/burger-ico.svg");
    }
    .header__side.open ~ & {
      height: 2rem;
      width: 2rem;
      background-image: url("../../img/svg/burger-ico-close.svg");
    }
  }
}
