.qa__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .title {
    width: 45%;
  }
  .qa {
    width: 50%;
  }

  .accordion__item {
    .accordion__control {
      padding: 2.4rem 0;
    }
    .accordion__title {
      font-size: 1.6rem;
      line-height: 2.4rem;
      text-transform: uppercase;
      width: 90%;
    }
    .accordion__btn {
      width: 2.4rem;
      height: 2.4rem;
      background-image: url("../../../img/plus.png");
      &:hover {
        transform: scale(1);
      }
    }
  }

  .accordion__item.open {
    .accordion__btn {
      background-image: url("../../img/minus.png");
    }
  }
}

@include small-tablet {
  .qa__block {
    flex-direction: column;
    & > * {
      width: 100% !important;
    }

    .title {
      margin-bottom: 3rem;
    }

    .accordion {
      margin-bottom: 4.5rem;
    }
  }
}
