.slider__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.splide__slide {
  visibility: hidden;
  padding: 0;
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
}

.splide__slide.is-visible {
  visibility: visible;
}

.slider-arrow__wrapper {
  margin-top: 3.2rem;
  align-self: center;
  .slider__arrow {
    cursor: pointer;
    background-color: transparent;
    width: 6.4rem;
    height: 6.4rem;
    padding: 0;
    border: 0;
    outline: 0;
    &:focus {
      border: 0;
      outline: 0;
    }
    &::after {
      transition: background-image 0.1s;
    }
  }
  .slider__arrow:first-child {
    margin-right: 1.2rem;
  }
}

.splide__list {
  height: 100%;
}

.splide__pagination {
  bottom: -13rem;
}

.splide__pagination li {
  margin: 0 3.4rem;
}

/* Create a circle to serve as the slide dot */
.splide__pagination li button {
  width: 0.2rem;
  height: 0.2rem;

  margin: 0;
  padding: 0;

  background-color: $bg-color;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
}

/* Get rid of the Unicode • character that Slick injects, which screen readers may attempt to read out as "bullet" */
.splide__pagination li button:before {
  content: "";
}

/* Give the focused slide dot a nice visible focus indicator */
.splide__pagination li button:focus {
  outline: none;
}

/* Leverage aria-current for styling to ensure we're using the attribute correctly */
.splide__pagination li button[aria-current="true"] {
  background-color: $bg-color;
  height: 0.8rem;
  width: 0.8rem;
}
