.contact-section {
  z-index: 20;
  padding: 8.5rem 0;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contact__wrapper {
  display: flex;
  align-items: center;
  .email__block {
    margin-right: 6.4rem;
  }
  .contact__ili {
    margin-right: 6.4rem;
  }
  .telegram__block {
    margin-right: 0;
    width: fit-content;
    height: 32rem;
    .btn {
      margin-top: 4.5rem;
    }
  }
  .title {
    margin-bottom: 1rem;
  }
  .descr {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 1.6rem;
  }
  .email__block {
    max-width: 50.3rem;
    height: 32rem;
  }
}

.contact__ili {
  font-family: "Spektra";
  font-size: 3.2rem;
  line-height: 1.6rem;
  letter-spacing: 2%;
  color: #ececec;
  text-transform: uppercase;
}

.telegram-bot__link {
  display: flex;
  padding: 1.2rem;
  padding-right: 2.5rem;
  margin-bottom: 2rem;
  border-radius: 1.6rem;
  background-color: #ececec;
  justify-content: space-between;
  align-items: center;
  color: #131313;
  text-decoration: none;
  &-icon {
    border: 1px solid rgb(19, 19, 19, 0.5);
    border-radius: 1.6rem;
    padding: 3rem;
    margin-right: 2.4rem;
    img {
      height: 4.8rem;
      width: 4.8rem;
    }
  }
  &-title {
    line-height: 2.9rem;
  }
}

@media screen and (max-width: 1341px) {
  .contact__wrapper {
    justify-content: space-between;
    & > div {
      margin-right: 0;
    }
    .contact__ili {
      display: none;
    }
  }
}

@media screen and (max-width: 1195px) {
  .contact__wrapper {
    display: block;
    & > div {
      margin: 0;
    }
    .email__block {
      margin-bottom: 4rem;
    }
  }
}
