#supportPage {
  .support__wrapper {
    padding-top: 12rem;
  }
  .running-line {
    margin-bottom: $space-big;
  }
  .support__block {
    position: relative;
    margin-top: 10rem;
    background-color: #fff;
    border-radius: 2.4rem;
    padding: 4.4rem 6.4rem;
    color: $dark;
    display: flex;
    .btn-primary {
      color: #fff;
    }
    & > .descr {
      width: 50%;
    }
    & > .form {
      width: 50%;

      .amount__block {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
        .amount__item {
          cursor: pointer;
          position: relative;
          white-space: nowrap;
          z-index: 0;

          input[type="radio"] {
            display: none;
          }
          input[type="radio"]:checked + label {
            border-color: $red;
            background-color: $red;
            color: #fff;
          }
          label {
            cursor: pointer;
            display: block;
            padding: 1.5rem 0;
            border: 0.1rem solid $dark;
            border-radius: 4.8rem;
            background-color: transparent;
            text-transform: uppercase;
            text-align: center;
            font-size: 1.4rem;
            line-height: 1.6rem;
            transition: $fast;
          }
          &:hover label {
            background-color: $red;
            border-color: $red;
            color: #fff;
          }
          .descr {
            cursor: pointer;
            pointer-events: none;
            white-space: normal;
            position: absolute;
            top: 105%;
            left: 50%;
            width: 100%;
            transform: translateX(-50%);
            min-width: 15rem;
            padding: 1.5rem 1rem;
            border-radius: 2.5rem;
            background-color: $red;
            color: #fff;
            font-size: 1.2rem;
            line-height: 1.5rem;
            text-align: center;
            opacity: 0;
            visibility: hidden;
            transition: $fast;
          }
          &:hover .descr {
            visibility: visible;
            opacity: 1;
          }
          &::before {
            content: "";
            pointer-events: none;
            position: absolute;
            bottom: 25%;
            left: 50%;
            width: 20rem;
            height: 30rem;
            background-image: url("../../../img/amount-guy.png");
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;
            animation: amount-guy-animation 2s infinite alternate ease-in-out;
            transform-origin: -3% 100%;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
            transition: $fast;
          }
          &:hover::before {
            opacity: 1;
            visibility: visible;
          }
          &:hover {
            z-index: 10;
          }
        }
        .amount-custom__wrapper {
          grid-column-start: 3;
          grid-column-end: 5;
        }
        .amount__input {
          margin-top: $space-small;
          margin-bottom: 0;
          grid-row-start: 3;
          grid-column-start: 1;
          grid-column-end: 5;
          display: block;
          transition: $medium;
          margin-bottom: 0;
          line-height: 0;
          padding: 0;
          font-size: 0;
          border-width: 0;
          opacity: 0;
          &.is-visible {
            opacity: 1;
            padding: 1.4rem 2.4rem;
            border-width: 0.1rem;
            font-size: 1.4rem;
            line-height: 1.9rem;
            margin-bottom: 0.8rem;
          }
        }
      }

      .type__block {
        display: flex;
        align-items: center;
        margin-left: 2rem;
        .checkbox {
          margin: 0;
          input[type="radio"]:checked + label {
            color: $red;
            opacity: 1;
          }
          label {
            font-size: 1.4rem;
            line-height: 1.9rem;
            margin-left: 1.6rem;
            opacity: 0.6;
            transition: $fast;
          }
          label::before {
            left: -1.6rem;
          }
          label::after {
            left: -1.6rem;
          }
          &:first-child {
            margin-right: 1.6rem;
          }
        }
      }

      .support__btn {
        margin-top: 1rem;
      }

      .descr {
        opacity: $opacity-medium;
        margin-bottom: 2rem;
      }
    }
    .cloud__wrapper {
      position: absolute;
      &-1 {
        top: -7rem;
        left: -10rem;
        width: 20rem;
      }
      &-2 {
        bottom: -5rem;
        right: -10rem;
        width: 25rem;
      }
      .cloud__item {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    .options {
      margin-top: $space-std;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: $red;
      text-transform: uppercase;

      & > * {
        white-space: nowrap;
        cursor: pointer;
        margin-right: 2.4rem;
        margin-bottom: 0.8rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@include tablet {
  #supportPage {
    .support__block {
      & > .descr {
        display: none;
      }
      & > .form {
        width: 100%;
      }
    }
  }
}

@include small-tablet {
  #supportPage {
    .support__block {
      & > .form {
        .amount__block {
          margin-top: $space-big;
          position: relative;
          grid-template-columns: repeat(3, 1fr);
          .amount__item {
            position: static;
            &::before {
              content: none;
            }
            .descr {
              top: -$space-big;
              left: 50%;
              transform: translateX(-50%);
              background-color: transparent;
              color: $red;
            }
          }
          .amount-custom__wrapper {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 3;
          }
          .amount__input {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 4;
          }
        }
      }
    }
    .qa__block {
      display: none;
    }
    .tree__block {
      display: none;
    }
  }
}

@include mobile {
  #supportPage {
    .support__block {
      padding: 1rem;
    }
  }
  .cloud__wrapper {
    display: none;
  }
}

@keyframes amount-guy-animation {
  from {
    transform: rotate(-15deg) translate(-45%);
  }

  to {
    transform: rotate(10deg) translate(-45%);
  }
}
