#support {
}

.support__section {
  position: relative;
  padding-top: $header-gap;
  .running-line {
    margin-bottom: $space-big;
  }

  .support__block {
    position: relative;
    margin-top: 10rem;
    background-color: #fff;
    border-radius: 2.4rem;
    padding: 4.4rem 6.4rem;
    color: $dark;
    .descr__block {
      margin-right: $space-big;
      .btn-primary {
        color: #fff;
      }
    }

    .form__block {
      z-index: 1;
    }

    .form {
      margin-bottom: $space-std;
      .amount__block {
        .amount__item {
          cursor: pointer;
          position: relative;
          min-width: 25%;
          padding: 0.3rem;
          white-space: nowrap;
          z-index: 0;
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }
          input[type="radio"] {
            display: none;
          }
          input[type="radio"]:checked + label {
            border-color: $red;
            background-color: $red;
            color: #fff;
          }

          label {
            cursor: pointer;
            display: block;
            padding: 1.5rem 0;
            border: 0.1rem solid $dark;
            border-radius: 4.8rem;
            background-color: transparent;
            text-transform: uppercase;
            text-align: center;
            font-size: 1.4rem;
            line-height: 1.6rem;
            transition: $fast;
          }

          &:hover label {
            background-color: $red;
            border-color: $red;
            color: #fff;
          }

          .descr {
            cursor: pointer;
            pointer-events: none;
            white-space: normal;
            position: absolute;
            top: 105%;
            left: 50%;
            width: 100%;
            transform: translateX(-50%);
            min-width: 15rem;
            padding: 1.5rem 1rem;
            border-radius: 2.5rem;
            background-color: $red;
            color: #fff;
            font-size: 1.2rem;
            line-height: 1.5rem;
            text-align: center;
            opacity: 0;
            visibility: hidden;
            transition: $fast;
          }

          &:hover .descr {
            visibility: visible;
            opacity: 1;
          }

          &::before {
            content: "";
            pointer-events: none;
            position: absolute;
            bottom: 25%;
            left: 50%;
            width: 20rem;
            height: 30rem;
            background-image: url("../../../img/amount-guy.png");
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;
            animation: amount-guy-animation 2s infinite alternate ease-in-out;
            transform-origin: -3% 100%;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
            transition: $fast;
          }

          &:hover::before {
            opacity: 1;
            visibility: visible;
          }

          &:hover {
            z-index: 10;
          }
        }

        .row-second {
          margin-bottom: $space-std;
          .amount__item {
            &:last-child {
              width: 100%;
            }
          }
        }

        .amount__input {
          display: block;
          transition: $medium;
          margin-bottom: 0;
          line-height: 0;
          padding: 0;
          font-size: 0;
          border-width: 0;
          opacity: 0;
          &.is-visible {
            opacity: 1;
            padding: 1.4rem 2.4rem;
            border-width: 0.1rem;
            font-size: 1.4rem;
            line-height: 1.9rem;
            margin-bottom: 0.8rem;
          }
        }
      }

      .type__block {
        display: flex;
        align-items: center;
        margin-left: 2rem;
        .checkbox {
          margin: 0;
          input[type="radio"]:checked + label {
            color: $red;
            opacity: 1;
          }
          label {
            font-size: 1.4rem;
            line-height: 1.9rem;
            margin-left: 1.6rem;
            opacity: 0.6;
            transition: $fast;
          }
          label::before {
            left: -1.6rem;
          }
          label::after {
            left: -1.6rem;
          }
          &:first-child {
            margin-right: 1.6rem;
          }
        }
      }

      .support__btn {
        margin-top: 1rem;
      }

      .descr {
        opacity: $opacity-medium;
        margin-bottom: 2rem;
      }
    }

    .options {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: $red;
      text-transform: uppercase;

      & > * {
        cursor: pointer;
        margin-right: 2.4rem;
        margin-bottom: 0.8rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .cloud__wrapper {
      position: absolute;
      &-1 {
        top: -7rem;
        left: -10rem;
        width: 20rem;
      }
      &-2 {
        bottom: -5rem;
        right: -10rem;
        width: 25rem;
      }
      .cloud__item {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

@include tablet {
  #profile {
    .tree__block {
      display: none;
    }
  }
}

@include mobile {
  #profile {
    .profile__section {
      padding-top: 27rem;
      .container > .title {
        margin-bottom: 6rem;
        font-size: 4.8rem;
        line-height: 4.8rem;
      }
    }
    .profile__qa {
      display: none;
    }
  }
}

@keyframes amount-guy-animation {
  from {
    transform: rotate(-15deg) translate(-45%);
  }

  to {
    transform: rotate(10deg) translate(-45%);
  }
}
