.otcheti__section {
  position: relative;
  padding-top: 18rem;
  .container > .title {
    margin-bottom: 8rem;
  }
  .container > .btn {
    max-width: 24rem;
    margin-bottom: 7.5rem;
  }

  .descr__block {
    display: flex;
    margin-bottom: 15rem;
    & > * {
      width: 50%;
    }
    .descr__img {
      position: relative;
      margin-right: 6.4rem;
      .women-with-case {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        filter: grayscale(1);
        transform-origin: 0% 80%;
        animation: women-with-case-animation 1.5s infinite alternate ease-in-out;
      }

      .cloud__block {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .cloud__wrapper {
          position: absolute;
          z-index: -1;
          img {
            width: 100%;
          }
          &-1 {
            top: calc(50% - 13vw);
            left: calc(0% + 14vw);
            width: 80%;
            transform: translateY(-50%);
          }
          &-2 {
            top: calc(50% + 7vw);
            left: calc(0% + 26vw);
            width: 50%;
            transform: translateY(-50%);
          }
          &-3 {
            top: calc(50% - 23vw);
            left: calc(0% + 27vw);
            width: 60%;
            transform: translateY(-50%);
          }
        }
      }
    }

    .descr {
      .title {
        margin-bottom: 3.2rem;
      }
      .email {
        border-bottom: 0.1rem solid $red;
        transition: $fast;
        &:hover {
          border-color: transparent;
        }
      }
    }
  }
  .running-line {
    margin-bottom: 8rem;
  }
  .otcheti__block {
    position: relative;
    .title {
      margin-bottom: 4.8rem;
    }
    .otcheti__nav {
      display: none;
    }
    .otcheti__type {
      margin-bottom: 4.8rem;
      .text-medium {
        margin-bottom: 2.4rem;
      }
      .otcheti-type__block {
        display: flex;
        flex-wrap: wrap;
      }
      .otcheti__item {
        margin-right: $space-small;
        cursor: pointer;
        position: relative;
        border: 0.1rem solid rgb($grey, $opacity-thick);
        border-radius: 1.6rem;
        padding: $space-small;
        padding-left: 5.6rem;
        font-size: 1.2rem;
        line-height: 1.6rem;
        max-width: 27rem;
        max-height: $space-big;
        margin-bottom: $space-small;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 1.6rem;
          transform: translateY(-50%);
          width: 2.4rem;
          height: 3.2rem;
          background-image: url("../../../img/svg/file-ico.svg");
          background-repeat: no-repeat;
          background-position: top;
          background-size: contain;
        }
        &:hover {
          border-color: rgb($red, $opacity-thick);
        }
      }
    }
    .star__wrapper {
      position: absolute;
      right: 5vw;
      top: -20rem;
      width: 40rem !important;
      height: 40rem !important;
      .star {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

.progress__block {
  margin-top: 16rem;
  .progress__item {
    position: relative;
    max-width: 30rem;
    margin-left: 9.6rem;
    margin-bottom: max(5vw, 5rem);
    z-index: 10;
    .cifra {
      position: absolute;
      top: -3rem;
      left: -2rem;
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    img {
      position: absolute;
      top: -20rem;
      height: 11rem;
      object-fit: cover;
      object-position: center;
      &.end {
        left: 5rem;
      }
      &.start {
        left: -14rem;
      }
      &.center {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.otcheti__section {
  .star__wrapper {
    position: absolute;
    top: 0;
    right: calc(10% - 6rem);
    width: 51rem;
    .star {
      width: 100%;
    }
  }
  .cloud__item {
    position: absolute;
    &-1 {
      width: 14rem;
      top: 25rem;
      right: min(44%, 47rem);
    }
    &-2 {
      width: 18rem;
      top: 10rem;
      right: calc(10% + 18rem);
    }
    &-3 {
      width: 12rem;
      top: 34rem;
      right: min(30%, 24rem);
    }
  }
}

@include tablet {
  .progress__block {
    & > * {
      justify-content: flex-start;
    }
    .progress__item {
      margin-bottom: 12rem;
    }
    img {
      display: none;
    }
  }
  .otcheti__section {
    padding-top: 27rem;
    .container > .title {
      margin-bottom: 0;
    }
    .otcheti-btn {
      position: relative;
      cursor: pointer;
      color: $red;
      font-size: 1.4rem;
      line-height: 1.9rem;
      text-transform: capitalize;
      background: transparent;
      width: fit-content;
      padding: 0;
      border: none;
      display: inline-block;
      text-align: left;
      margin-bottom: $space-std !important;
      &::after {
        content: "";
        position: absolute;
        bottom: -0.1rem;
        left: 0;
        width: 100%;
        height: 0.1rem;
        background-color: rgb($red, $opacity-thick);
        opacity: 0;
        transition: $fast;
      }
      &:hover::after {
        opacity: 1;
      }
    }
    .descr__block {
      margin-bottom: $space-big;
      .descr__img {
        position: absolute;
        z-index: $zLow;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        .women-with-case {
          position: absolute;
          right: -30%;
          top: -40%;
          animation: none;
        }
        .cloud__wrapper {
          display: none;
        }
      }
      .descr {
        width: 100%;
      }
    }
    .otcheti__block-wrapper {
      padding-top: $space-big !important;
      background-color: $grey;
      padding: $space-std 0;
    }
    .otcheti__block {
      .title {
        margin-bottom: 6rem !important;
      }
      .otcheti__nav {
        display: block !important;
        color: $dark;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        text-transform: uppercase !important;
        font-size: 1.2rem !important;
        line-height: 1.6rem !important;
        padding-bottom: $space-small !important;
        border-bottom: 0.1rem solid rgb($dark, $opacity-thick);
        margin-bottom: $space-std !important;
        .nav__item {
          position: relative;
          cursor: pointer;
          &::after {
            z-index: 10;
            content: "";
            position: absolute;
            height: 2px;
            width: 0%;
            left: 0;
            bottom: -1.7rem;
            transition: $fast;
          }
          &:hover::after {
            width: 100%;
            background-color: $red;
          }
          &.is-active::after {
            width: 100%;
            background-color: $red;
          }
        }
      }
      .otcheti__type {
        .text-medium {
          color: $dark !important;
          font-size: 2.4rem;
          line-height: 3.2rem !important;
        }
      }
      .otcheti-type__block {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
      }
      .otcheti__item {
        max-width: none !important;
        max-height: none !important;
        color: $dark;
        border-color: rgb($dark, $opacity-thick) !important;
        padding: 10rem 0.5rem 2.8rem 0.5rem !important;
        margin: 0 !important;
        text-align: center !important;
        &:hover {
          background-color: darken($grey, 5%);
        }
        &::before {
          width: 4.8rem !important;
          height: 6.4rem !important;
          top: 2.4rem !important;
          left: 50% !important;
          transform: translateX(-50%) !important;
        }
      }
      .star__wrapper {
        display: none;
      }
    }
    .star__wrapper {
      display: none;
    }
    .cloud__item {
      display: none;
    }
  }
}

.otcheti__slider {
  z-index: 10;
  padding: 3rem 0;
  padding-bottom: 10rem;
  width: 45rem;
  .splide__slide {
    display: flex;
    justify-content: center;
  }
  .otcheti-slider__item {
    background-color: $dark;
    position: relative;
    cursor: pointer;
    width: 40rem;
    height: 50rem;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    .slider__img {
      overflow: hidden;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      top: -10rem;
      width: calc(100% - 2px);
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
    .slider__content {
      text-transform: uppercase;
      padding-top: $space-big;
      font-family: "Spektra";
      font-size: 2.4rem;
      line-height: 3.2rem;
      letter-spacing: 0.1rem;
      position: absolute;
      bottom: 0;
      z-index: 10;
      width: 100%;
      height: 20rem;
      color: $grey;
      background-image: url("../../../img/otcheti-slider-bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
    }
  }

  .arrow-wrapper {
    z-index: -1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60rem;
    display: flex;
    justify-content: space-between;
    .is-control {
      border-color: $grey;
      &.previous-button {
        .arrow {
          border-right-color: $grey;
        }
      }
      &.next-button {
        .arrow {
          border-left-color: $grey;
        }
      }
      &:hover {
        border-color: $red;
      }
    }
  }

  .splide__pagination {
    width: 100%;
    bottom: -5rem;
  }

  .splide__pagination li button {
    background-color: $grey;
  }
  .splide__pagination li button[aria-current="true"] {
    background-color: $grey;
  }
}

@include small-tablet {
  .otcheti__slider {
    padding-bottom: 3rem;
    .arrow-wrapper {
      z-index: 1;
      width: auto;
      position: static;
    }
    .splide__pagination {
      bottom: -13.5rem;
    }
  }
  .otcheti__block {
    .otcheti-type__block {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }
}

@keyframes women-with-case-animation {
  from {
    transform: translateY(1%) rotate(0deg);
  }
  to {
    transform: translateY(-1%) rotate(-4deg);
  }
}
