.profile__section {
  position: relative;
  padding-top: 18rem;
  .container > .title {
    margin-bottom: 6rem;
  }
}

.profile__enter {
  max-width: 51rem;
  color: $dark;
  padding-top: 4.5rem;
  padding-bottom: 14.5rem;
  font-size: 1.4rem;
  line-height: 1.9rem;
  .profile__title {
    margin-bottom: 2.2rem;
  }
  .descr {
    margin-bottom: 2.4rem;
    .support__link {
      display: inline-block;
      border-bottom: 0.1rem solid transparent;
      transition: $fast;
      &:hover {
        border-color: $red;
      }
    }
  }
  form {
    input[type="password"] {
      margin-bottom: 0;
    }
    .password__reset {
      .reset-password__btn {
        display: inline-block;
        border-bottom: 0.1rem solid transparent;
        transition: $fast;
        &:hover {
          border-color: $red;
        }
      }
    }
  }
}

.profile-block__wrapper {
  background-color: #fff;
  .profile__title {
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .profile__nav {
    display: none;
  }
}

.profile__block {
  padding: 8.4rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $space-std;
  color: $dark;
  .subscription__block {
    grid-column-start: 1;
  }
  .transaction__block {
    grid-column-start: 1;
    grid-row-start: 2;
  }
}

.subscription__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.2rem;
  .profile__title {
    margin-bottom: 3.2rem;
  }
  .subscription__btn {
    width: 90%;
    margin-top: 3.2rem;
    align-self: center;
  }
  .subscription__info {
    padding: 2.4rem;
    width: 100%;
    border: 0.1rem solid rgb(19, 19, 19, 0.5);
    border-radius: 2.4rem;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: $dark;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .main-info {
      display: flex;
      flex-direction: column;
      margin-bottom: 3.2rem;
      .type {
        margin-bottom: 0.4rem;
      }
      .next-date {
        margin-bottom: 1.6rem;
        opacity: 0.6;
      }
    }

    .balance__block {
      text-align: right;
      color: $red;
      .balance {
        margin-bottom: 1.4rem;
      }
    }

    & > .btn {
      margin-top: 0;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    & > .descr {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .more {
      cursor: pointer;
      border-bottom: 0.1rem solid transparent;
      transition: $fast;
      &:hover {
        border-color: $red;
      }
    }
  }
}

.transaction__block {
  & > .profile__title {
    margin-bottom: 2.8rem;
  }

  .transaction__filter {
    cursor: pointer;
    position: relative;
    display: flex;
    margin-bottom: 5.5rem;
    &::after {
      content: "";
      position: absolute;
      top: 3.2rem;
      left: 0;
      width: 100%;
      height: 0.1rem;
      background-color: $dark;
      opacity: 0.6;
    }
    .transaction__selection {
      position: relative;
      text-transform: uppercase;
      font-size: 1.2rem;
      line-height: 1.6rem;
      &:not(:last-child) {
        margin-right: 4.8rem;
      }
      &.is-active {
        &::after {
          content: "";
          z-index: 1;
          position: absolute;
          top: 3.1rem;
          left: 0;
          width: 100%;
          height: 0.2rem;
          background-color: $red;
        }
      }
    }
  }

  .transaction__overall {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    line-height: 2.6rem;
    margin-bottom: 3.2rem;
  }

  .transaction__list {
    .transaction__item {
      position: relative;
      padding: 2.4rem 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      font-size: 1.4rem;
      line-height: 1.9rem;
      &::after {
        content: "";
        position: absolute;
        border: 0.1rem dashed $dark;
        bottom: 0;
        left: 0;
        width: 100%;
        opacity: 0.2;
      }

      &:first-child:before {
        content: "";
        position: absolute;
        border: 0.1rem dashed $dark;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0.2;
      }

      & > * {
        &:last-child {
          text-align: right;
        }
      }

      .type {
        font-size: 1.2rem;
        line-height: 1.6rem;
        opacity: 0.6;
      }

      .result {
        font-size: 1.2rem;
        line-height: 1.6rem;
        &.success {
          color: $green;
        }
        &.reject {
          color: $red;
        }
      }
    }
  }
}

.profile__data {
  width: 100%;
  .profile__title {
    margin-bottom: 3.2rem;
  }
  form {
    margin-bottom: $space-small;
    input[type="password"] {
      margin-bottom: 0;
    }
    .btn {
      margin-top: 0;
    }
    .agree__descr {
      font-size: 1.2rem;
      line-height: 1.6rem;
      .oferta__link {
        border-bottom: 0.1rem solid transparent;
        transition: $fast;
        &:hover {
          border-color: $red;
        }
      }
    }
  }

  .contact {
    display: flex;
    text-transform: uppercase;
    color: $red;
    font-size: 1.2rem;
    line-height: 1.6rem;
    & > * {
      cursor: pointer;
      border-bottom: 0.1rem solid transparent;
      transition: $fast;
      &:hover {
        border-color: $red;
      }
    }
    & > *:not(:last-child) {
      margin-right: 2.4rem;
    }
  }
}

.dog {
  position: absolute;
  top: -30rem;
  right: -50rem;
  transform: scale(0.28) rotate(-38deg) translate(50%, -50%);
  z-index: -1;
}

@include tablet {
  .profile__section {
    .profile__nav {
      padding-top: 4rem;
      display: block;
      color: $dark;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      font-size: 1.2rem;
      line-height: 1.6rem;
      padding-bottom: $space-small;
      border-bottom: 0.1rem solid rgb($dark, $opacity-thick);
      margin-bottom: $space-std;
      .nav__item {
        position: relative;
        cursor: pointer;
        &::after {
          z-index: 10;
          content: "";
          position: absolute;
          height: 2px;
          width: 0%;
          left: 0;
          bottom: -1.7rem;
          transition: $fast;
        }
        &:hover::after {
          width: 100%;
          background-color: $red;
        }
        &.is-active::after {
          width: 100%;
          background-color: $red;
        }
      }
    }
    .profile__block {
      padding-top: 0;
      grid-template-columns: 1fr;

      .transaction__block {
        grid-row-start: 3;
      }
      .profile__data {
        grid-row-start: 2;
      }
    }
    .dog {
      position: absolute;
      top: -44rem;
      right: -62rem;
      transform: scale(0.2) rotate(-38deg) translate(50%, -50%);
      z-index: -1;
    }
  }
  .tree__block {
    display: none;
  }
}

@include mobile {
  .profile__section {
    padding-top: 27rem;
    .container > .title {
      margin-bottom: 6rem;
      font-size: 4.8rem;
      line-height: 4.8rem;
    }
    .subscription__info {
      z-index: 10;
      overflow: hidden;
      position: relative;
      padding-top: 14rem;
      .balance__block {
        z-index: 11;
        width: 200%;
        padding-top: 3.2rem;
        padding-bottom: 1.3rem;
        transform: translateX(-25%);
        position: absolute;
        text-align: center;
        top: -14rem;
        left: 0;
        background-color: $red;
        color: #fff;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 3;
        .balance {
          font-size: 2.4rem;
          line-height: 3.2rem;
          letter-spacing: 0.2;
        }
        .reject-subscription {
          .link {
            color: #fff !important;
            &:hover::after {
              background-color: #fff !important;
            }
          }
        }
      }
      .main-info {
        margin-top: $space-small;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-bottom: $space-small;
      }
    }
  }
}

#profilePage {
  *[class*="modal__content-"] {
    max-width: 52rem;
    background-color: #fff;
    padding: 2.4rem;
    padding-top: 3.2rem;
    border-radius: 2.4rem;
    border: 0.1rem solid rgb($dark, $opacity-thick);
    text-align: center;
    .modal__btn-close {
      position: static;
      background-image: none;
      margin-left: 1.6rem;
      width: fit-content;
      &:hover {
        transform: rotate(0);
      }
    }
  }
  .modal__content-change-data{
    padding-top: 3.2rem !important;
    min-width: 51rem;
    .form{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      margin-top: 3rem;
      margin-bottom: 5.4rem;
      & > *{
        input{
          width: 22.4rem;
          height: 7.2rem;
          border-radius: 0.8rem;
          margin-bottom: 0;
          padding: 2rem 2.4rem;
          font-size: 2.4rem !important;
          line-height: 3.2rem !important;
          text-transform: uppercase;
          border: 0.1rem solid rgb($dark, $opacity-thick);
          font-family: "GTWalsheimPro" !important;
          &:focus,
          &:active {
            outline: none;
            border: 0.1rem solid $dark;
          }
        }
      }
      .amount__wrapper{
        position: relative;
        overflow: hidden;
        .amount{
          padding-right: 6.4rem;
        }
        .currency{
          position: absolute;
          right: 2.4rem;
          top: 50%;
          transform: translateY(-50%);
          text-transform: uppercase;
          font-size: 2.4rem ;
          line-height: 3.2rem ;
        }
      }
      .date{
        padding-left: calc(2.4rem + 3.2rem + 1.6rem);
      }
      .date__wrapper{
        position: relative;
        &::before{
          content: '';
          position: absolute;

          top: 50%;
          left: 2.4rem;
          transform: translateY(-50%);

          height: 3.2rem;
          width: 3.2rem;

          background-image: url('../../../img/svg/calendar-ico.svg');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          z-index: 10000000;
        }
      }

      &::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -2.4rem;
        width: 100%;
        height: 1px;
        background-color: rgb($dark, $opacity-medium);
      }

    }
    .btn__group{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      color: $red;
      & > *{
        height: fit-content;
      }
      .disabled{
        color: rgb($dark, $opacity-thick);
      }
    }
  }
}
