<div class="additional-q__block">
  <div class="additional-q__title">
    Остался вопрос? Вы можете задать его здесь, и мы обязательно вернёмся к вам
    с ответом:
  </div>
  <form class="additional-q__form" action="post">
    <input type="text" placeholder="Имя" />
    <input type="text" placeholder="example@domain.com*" />
    <input
      type="text"
      data-format="+* (***) *** - ** - **"
      data-mask="+7 (___) ___ - __ - __
      "
    />
    <div class="textarea__descr">Поле для любого вопроса или комментария</div>
    <textarea rows="4"></textarea>

    <div class="checkbox agree__checkbox">
      <input type="checkbox" id="additional-q__agree" />
      <label for="additional-q__agree"
        >Согласие на обработку персональных данных</label
      >
    </div>
    <div class="btn btn-std">Поддержать</div>
  </form>
</div>
