<div class="afisha__contact">
  <div class="content">
    <div class="title title-3 text-red">
      Оставьте контакты, и мы пришлём вам информацию о следующей дате показа,
      как только она появится!
    </div>
    <div class="text-tiny">Так вы первым узнаете про наши новости и планы.</div>
  </div>

  <form class="form" action="post">
    <input class="name" type="text" placeholder="Имя*" />

    <input class="email" type="text" placeholder="example@domain.com*" />

    <div class="checkbox agree__checkbox">
      <input type="checkbox" id="agree" />
      <label for="agree">Согласие на обработку персональных данных</label>
    </div>
    <div class="btn btn-std">отправить</div>
  </form>
</div>
