<section class="main-item chto-v-rezultate-section">
  <div class="container relative">
    <div class="title title-main section__title">
      <div>
        <span>что в результате?</span>
      </div>
    </div>

    <div class="align__container-right">
      <div class="chto-v-rezultate__wrapper">
        <div class="content chto-v-rezultate-content">
          <p class="text-regular">
            В&nbsp;результате мы&nbsp;<span class="text-contrast"
              >всегда работаем с&nbsp;культурным продуктом</span
            >. Итог первого года обучения для детей&nbsp;&mdash; карнавал,
            миротворческой резиденции Rebels for Peace
            в&nbsp;Германии&nbsp;&mdash; спектакль DoMiNo, международного
            партнёрства&nbsp;&mdash; перфоманс Circus.Brahms на&nbsp;фестивале
            Балансировка. <br /><br />
            В&nbsp;основе нашего метода&nbsp;&mdash; желание менять
            и&nbsp;умение действовать. Наша команда работает для того, чтобы
            создавать совместный культурный продукт: фестиваль, программу,
            перфоманс. Мы&nbsp;не&nbsp;можем позволить себе бездействовать
            и&nbsp;только говорить, это цирк!
          </p>
        </div>
      </div>
    </div>

    <div class="chto-v-rezultate__text-bg">
      <span class="title title-second outline"
        >За&nbsp;нас лучше скажут зрители, которые были
        на&nbsp;спектаклях:</span
      >
    </div>

    <img class="clouds__item clouds__item-1" src="../img/cloud.png" alt="" />
    <img class="clouds__item clouds__item-2" src="../img/cloud.png" alt="" />
    <img class="clouds__item clouds__item-3" src="../img/cloud.png" alt="" />
    <img
      class="chto-v-rezultate__img absolute"
      src="../img/chto-v-rezultate-img.png"
      alt=""
    />
  </div>

  <div class="chto-v-rezultate__slider relative">
    <div class="container relative">
      <div class="carousel relative" id="chtoVRezultateSlider">
        <div class="splide">
          <div class="splide__track">
            <div class="splide__list">
              <div class="splide__slide" role="group">
                <div class="comment__item">
                  <div class="comment__user">
                    <img src="../img/user-avatar.png" alt="" />
                    <div class="title title-third">Юрий</div>
                  </div>

                  <div class="comment__content">
                    <div class="comment__subtitle paragraph-uppercase">
                      В «Снах Пиросмани» актеры-подростки летают на канатах,
                      трюкачат, жонглируют, танцуют и веселятся.
                    </div>

                    <div class="comment__descr">
                      А ты сидишь в зале, и мысли твои уходят куда-то вдаль от
                      повседневных вопросов. Огляделся вокруг — у всего зала
                      глаза на мокром месте, а всеобщее состояние умиления и
                      радости накатывает еще сильнее.
                    </div>
                  </div>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="comment__item">
                  <div class="comment__user">
                    <img src="../img/user-avatar.png" alt="" />
                    <div class="title title-third">Мария</div>
                  </div>

                  <div class="comment__content">
                    <div class="comment__subtitle paragraph-uppercase">
                      В «Снах Пиросмани» актеры-подростки летают на канатах,
                      трюкачат, жонглируют, танцуют и веселятся.
                    </div>

                    <div class="comment__descr">
                      А ты сидишь в зале, и мысли твои уходят куда-то вдаль от
                      повседневных вопросов. Огляделся вокруг — у всего зала
                      глаза на мокром месте, а всеобщее состояние умиления и
                      радости накатывает еще сильнее.
                    </div>
                  </div>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="comment__item">
                  <div class="comment__user">
                    <img src="../img/user-avatar.png" alt="" />
                    <div class="title title-third">Валерий</div>
                  </div>

                  <div class="comment__content">
                    <div class="comment__subtitle paragraph-uppercase">
                      В «Снах Пиросмани» актеры-подростки летают на канатах,
                      трюкачат, жонглируют, танцуют и веселятся.
                    </div>

                    <div class="comment__descr">
                      А ты сидишь в зале, и мысли твои уходят куда-то вдаль от
                      повседневных вопросов. Огляделся вокруг — у всего зала
                      глаза на мокром месте, а всеобщее состояние умиления и
                      радости накатывает еще сильнее.
                    </div>
                  </div>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="comment__item">
                  <div class="comment__user">
                    <img src="../img/user-avatar.png" alt="" />
                    <div class="title title-third">Федор</div>
                  </div>

                  <div class="comment__content">
                    <div class="comment__subtitle paragraph-uppercase">
                      В «Снах Пиросмани» актеры-подростки летают на канатах,
                      трюкачат, жонглируют, танцуют и веселятся.
                    </div>

                    <div class="comment__descr">
                      А ты сидишь в зале, и мысли твои уходят куда-то вдаль от
                      повседневных вопросов. Огляделся вокруг — у всего зала
                      глаза на мокром месте, а всеобщее состояние умиления и
                      радости накатывает еще сильнее.
                    </div>
                  </div>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="comment__item">
                  <div class="comment__user">
                    <img src="../img/user-avatar.png" alt="" />
                    <div class="title title-third">Юля</div>
                  </div>

                  <div class="comment__content">
                    <div class="comment__subtitle paragraph-uppercase">
                      В «Снах Пиросмани» актеры-подростки летают на канатах,
                      трюкачат, жонглируют, танцуют и веселятся.
                    </div>

                    <div class="comment__descr">
                      А ты сидишь в зале, и мысли твои уходят куда-то вдаль от
                      повседневных вопросов. Огляделся вокруг — у всего зала
                      глаза на мокром месте, а всеобщее состояние умиления и
                      радости накатывает еще сильнее.
                    </div>
                  </div>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="comment__item">
                  <div class="comment__user">
                    <img src="../img/user-avatar.png" alt="" />
                    <div class="title title-third">Дмитрий</div>
                  </div>

                  <div class="comment__content">
                    <div class="comment__subtitle paragraph-uppercase">
                      В «Снах Пиросмани» актеры-подростки летают на канатах,
                      трюкачат, жонглируют, танцуют и веселятся.
                    </div>

                    <div class="comment__descr">
                      А ты сидишь в зале, и мысли твои уходят куда-то вдаль от
                      повседневных вопросов. Огляделся вокруг — у всего зала
                      глаза на мокром месте, а всеобщее состояние умиления и
                      радости накатывает еще сильнее.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="arrow-wrapper">
          <div class="previous-button is-control">
            <div class="arrow"></div>
          </div>

          <div class="next-button is-control">
            <div class="arrow"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
