<section class="main-item chto-proishodit-section height-200">
  <div class="container relative">
    <div class="title title-main section__title">
      <div>
        <span>а что происходит </span>
      </div>

      <div class="outline italic">
        <span>сейчас? </span>
      </div>
    </div>

    <div class="chto-proishodit__text">
      После пандемии дети снова несутся к нам после школы, из шатра до ночи их
      не выгнать. Двери хлопают, обувь по всему коридору, красота же. За шатёр
      началась борьба, и это не шутки. Мы параллельно тренируемся,
      восстанавливаем «Эффект пинг-понгового шарика», прогоняем «Перья», ставим
      новый спектакль под кодовым названием «Рондо». Только тссс, это ещё
      секрет, мы вам этого не говорили!
    </div>

    <div class="align__container-right">
      <div class="title title-main section__title">
        <div>
          <span>ЭТО ВСЕ?</span>
        </div>

        <div class="outline italic">
          <span>НЕТ!</span>
        </div>
      </div>
    </div>

    <div class="chto-proishodit__slider relative">
      <div class="carousel relative" id="chtoProishoditSlider">
        <div class="splide">
          <div class="splide__track">
            <div class="splide__list">
              <div class="splide__slide" role="group">
                <div class="chto-proishodit-item">
                  <a href="">
                    <img
                      class="chto-proishodit-item__img"
                      src="../img/chto-proishodit-img-item.png"
                      alt=""
                    />
                    <div class="chto-proishodit-item__content">
                      <div
                        class="chto-proishodit-item__title title title-fourth"
                      >
                        Онлайн курсы ПО ЖОНГЛИРОВАНИЮ
                      </div>
                      <div class="chto-proishodit-item__descr">
                        Ещё мы по-прежнему набираем любительскую сборную по
                        жонглированию и ждём всех на онлайн-курсах. Научим
                        жонглировать тремя мячами за 2 недели!
                        <br /><br />
                        Это занятие для тех, кому надо:
                        <ul class="list-reset">
                          <li>вырваться из рутины</li>
                          <li>выпустить эмоции</li>
                          <li>решить сложную задачу</li>
                          <li>отдохнуть головой и телом за 30 минут</li>
                        </ul>
                        <br /><br />
                        Если вы прочитали этот список и подумали, что
                        жонглирование подойдёт всем, то да, так оно и есть. Ждём
                        новичков любого возраста и уровня физической подготовки.
                        Для занятий нужна только крупа и носки. Да, крупа и
                        носки, вы всё правильно прочитали. Рис, булгур, греча
                        или гречка — выбор за вами.
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="chto-proishodit-item">
                  <a href="">
                    <img
                      class="chto-proishodit-item__img"
                      src="../img/chto-proishodit-img-item.png"
                      alt=""
                    />
                    <div class="chto-proishodit-item__content">
                      <div
                        class="chto-proishodit-item__title title title-fourth"
                      >
                        Онлайн курсы ПО ЖОНГЛИРОВАНИЮ 2
                      </div>
                      <div class="chto-proishodit-item__descr">
                        Ещё мы по-прежнему набираем любительскую сборную по
                        жонглированию и ждём всех на онлайн-курсах. Научим
                        жонглировать тремя мячами за 2 недели!
                        <br /><br />
                        Это занятие для тех, кому надо:
                        <ul class="list-reset">
                          <li>вырваться из рутины</li>
                          <li>выпустить эмоции</li>
                          <li>решить сложную задачу</li>
                          <li>отдохнуть головой и телом за 30 минут</li>
                        </ul>
                        <br /><br />
                        Если вы прочитали этот список и подумали, что
                        жонглирование подойдёт всем, то да, так оно и есть. Ждём
                        новичков любого возраста и уровня физической подготовки.
                        Для занятий нужна только крупа и носки. Да, крупа и
                        носки, вы всё правильно прочитали. Рис, булгур, греча
                        или гречка — выбор за вами.
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="chto-proishodit-item">
                  <a href="">
                    <img
                      class="chto-proishodit-item__img"
                      src="../img/chto-proishodit-img-item.png"
                      alt=""
                    />
                    <div class="chto-proishodit-item__content">
                      <div
                        class="chto-proishodit-item__title title title-fourth"
                      >
                        Онлайн курсы ПО ЖОНГЛИРОВАНИЮ 3
                      </div>
                      <div class="chto-proishodit-item__descr">
                        Ещё мы по-прежнему набираем любительскую сборную по
                        жонглированию и ждём всех на онлайн-курсах. Научим
                        жонглировать тремя мячами за 2 недели!
                        <br /><br />
                        Это занятие для тех, кому надо:
                        <ul class="list-reset">
                          <li>вырваться из рутины</li>
                          <li>выпустить эмоции</li>
                          <li>решить сложную задачу</li>
                          <li>отдохнуть головой и телом за 30 минут</li>
                        </ul>
                        <br /><br />
                        Если вы прочитали этот список и подумали, что
                        жонглирование подойдёт всем, то да, так оно и есть. Ждём
                        новичков любого возраста и уровня физической подготовки.
                        Для занятий нужна только крупа и носки. Да, крупа и
                        носки, вы всё правильно прочитали. Рис, булгур, греча
                        или гречка — выбор за вами.
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="chto-proishodit-item">
                  <a href="">
                    <img
                      class="chto-proishodit-item__img"
                      src="../img/chto-proishodit-img-item.png"
                      alt=""
                    />
                    <div class="chto-proishodit-item__content">
                      <div
                        class="chto-proishodit-item__title title title-fourth"
                      >
                        Онлайн курсы ПО ЖОНГЛИРОВАНИЮ 4
                      </div>
                      <div class="chto-proishodit-item__descr">
                        Ещё мы по-прежнему набираем любительскую сборную по
                        жонглированию и ждём всех на онлайн-курсах. Научим
                        жонглировать тремя мячами за 2 недели!
                        <br /><br />
                        Это занятие для тех, кому надо:
                        <ul class="list-reset">
                          <li>вырваться из рутины</li>
                          <li>выпустить эмоции</li>
                          <li>решить сложную задачу</li>
                          <li>отдохнуть головой и телом за 30 минут</li>
                        </ul>
                        <br /><br />
                        Если вы прочитали этот список и подумали, что
                        жонглирование подойдёт всем, то да, так оно и есть. Ждём
                        новичков любого возраста и уровня физической подготовки.
                        Для занятий нужна только крупа и носки. Да, крупа и
                        носки, вы всё правильно прочитали. Рис, булгур, греча
                        или гречка — выбор за вами.
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="chto-proishodit-item">
                  <a href="">
                    <img
                      class="chto-proishodit-item__img"
                      src="../img/chto-proishodit-img-item.png"
                      alt=""
                    />
                    <div class="chto-proishodit-item__content">
                      <div
                        class="chto-proishodit-item__title title title-fourth"
                      >
                        Онлайн курсы ПО ЖОНГЛИРОВАНИЮ 5
                      </div>
                      <div class="chto-proishodit-item__descr">
                        Ещё мы по-прежнему набираем любительскую сборную по
                        жонглированию и ждём всех на онлайн-курсах. Научим
                        жонглировать тремя мячами за 2 недели!
                        <br /><br />
                        Это занятие для тех, кому надо:
                        <ul class="list-reset">
                          <li>вырваться из рутины</li>
                          <li>выпустить эмоции</li>
                          <li>решить сложную задачу</li>
                          <li>отдохнуть головой и телом за 30 минут</li>
                        </ul>
                        <br /><br />
                        Если вы прочитали этот список и подумали, что
                        жонглирование подойдёт всем, то да, так оно и есть. Ждём
                        новичков любого возраста и уровня физической подготовки.
                        Для занятий нужна только крупа и носки. Да, крупа и
                        носки, вы всё правильно прочитали. Рис, булгур, греча
                        или гречка — выбор за вами.
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="chto-proishodit-item">
                  <a href="">
                    <img
                      class="chto-proishodit-item__img"
                      src="../img/chto-proishodit-img-item.png"
                      alt=""
                    />
                    <div class="chto-proishodit-item__content">
                      <div
                        class="chto-proishodit-item__title title title-fourth"
                      >
                        Онлайн курсы ПО ЖОНГЛИРОВАНИЮ 6
                      </div>
                      <div class="chto-proishodit-item__descr">
                        Ещё мы по-прежнему набираем любительскую сборную по
                        жонглированию и ждём всех на онлайн-курсах. Научим
                        жонглировать тремя мячами за 2 недели!
                        <br /><br />
                        Это занятие для тех, кому надо:
                        <ul class="list-reset">
                          <li>вырваться из рутины</li>
                          <li>выпустить эмоции</li>
                          <li>решить сложную задачу</li>
                          <li>отдохнуть головой и телом за 30 минут</li>
                        </ul>
                        <br /><br />
                        Если вы прочитали этот список и подумали, что
                        жонглирование подойдёт всем, то да, так оно и есть. Ждём
                        новичков любого возраста и уровня физической подготовки.
                        Для занятий нужна только крупа и носки. Да, крупа и
                        носки, вы всё правильно прочитали. Рис, булгур, греча
                        или гречка — выбор за вами.
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="arrow-wrapper">
          <div class="previous-button is-control">
            <div class="arrow"></div>
          </div>

          <div class="next-button is-control">
            <div class="arrow"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
