<section class="main-item chto-v-rezultate-section">
  <div class="container relative">
    <div class="title title-main section__title">
      <div>
        <span>что в результате?</span>
      </div>
    </div>

    <div class="align__container-right">
      <div class="chto-v-rezultate__wrapper">
        <div class="content chto-v-rezultate-content">
          <p class="text-regular">
            В&nbsp;результате мы&nbsp;<span class="text-contrast"
              >всегда работаем с&nbsp;культурным продуктом</span
            >. Итог первого года обучения для детей&nbsp;&mdash; карнавал,
            миротворческой резиденции Rebels for Peace
            в&nbsp;Германии&nbsp;&mdash; спектакль DoMiNo, международного
            партнёрства&nbsp;&mdash; перфоманс Circus.Brahms на&nbsp;фестивале
            Балансировка. <br /><br />
            В&nbsp;основе нашего метода&nbsp;&mdash; желание менять
            и&nbsp;умение действовать. Наша команда работает для того, чтобы
            создавать совместный культурный продукт: фестиваль, программу,
            перфоманс. Мы&nbsp;не&nbsp;можем позволить себе бездействовать
            и&nbsp;только говорить, это цирк!
          </p>
        </div>
      </div>
    </div>

    <div class="chto-v-rezultate__text-bg">
      <span class="title title-second outline"
        >За&nbsp;нас лучше скажут зрители, которые были
        на&nbsp;спектаклях:</span
      >
    </div>
    <img class="clouds__item clouds__item-1" src="../img/cloud.png" alt="" />
    <img class="clouds__item clouds__item-2" src="../img/cloud.png" alt="" />
    <img class="clouds__item clouds__item-3" src="../img/cloud.png" alt="" />
    <img
      class="chto-v-rezultate__img absolute"
      src="../img/chto-v-rezultate-img.png"
      alt=""
    />
  </div>

  <div class="comment__wrapper">
    <div class="container relative">
      <div class="slider__wrapper">
        <div id="chto-v-rezultate-slider" class="splide">
          <div class="splide__track">
            <div class="splide__list">
              <button
                class="splide__slide"
                role="group"
                aria-label="slide 1 of 6"
              >
                <div class="comment__item">
                  <div class="comment__user">
                    <img
                      class="comment__useravatar"
                      src="../img/user-avatar.png"
                      alt="user avatar"
                    />
                    <div class="comment__username title title-third">Юрий</div>
                  </div>

                  <div class="comment__content">
                    <div class="comment-title paragraph-uppercase">
                      В «Снах Пиросмани» актеры-подростки летают на канатах,
                      трюкачат, жонглируют, танцуют и веселятся.
                    </div>
                    <div class="comment-descr">
                      А ты сидишь в зале, и мысли твои уходят куда-то вдаль от
                      повседневных вопросов. Огляделся вокруг — у всего зала
                      глаза на мокром месте, а всеобщее состояние умиления и
                      радости накатывает еще сильнее.
                    </div>
                  </div>
                </div>
              </button>

              <button
                class="splide__slide"
                role="group"
                aria-label="slide 2 of 6"
              >
                <div class="comment__item">
                  <div class="comment__user">
                    <img
                      class="comment__useravatar"
                      src="../img/user-avatar.png"
                      alt="user avatar"
                    />
                    <div class="comment__username title title-third">Мария</div>
                  </div>

                  <div class="comment__content">
                    <div class="comment-title paragraph-uppercase">
                      «Перья» — это неописуемо! (Хорошо) я часто определяю для
                      себя степень восторженности мурашками.
                    </div>
                    <div class="comment-descr">
                      от Ольгу Берггольц читаешь — и мурашки по всему телу, и
                      замираешь на мгновение. Ваш спектакль тоже так захватывает
                      — что даже и не один раз мурашки…
                    </div>
                  </div>
                </div>
              </button>

              <button
                class="splide__slide"
                role="group"
                aria-label="slide 3 of 6"
              >
                <div class="comment__item">
                  <div class="comment__user">
                    <img
                      class="comment__useravatar"
                      src="../img/user-avatar.png"
                      alt="user avatar"
                    />
                    <div class="comment__username title title-third">
                      Валерий
                    </div>
                  </div>

                  <div class="comment__content">
                    <div class="comment-title paragraph-uppercase">
                      В «Снах Пиросмани» актеры-подростки летают на канатах,
                      трюкачат, жонглируют, танцуют и веселятся.
                    </div>
                    <div class="comment-descr">
                      А ты сидишь в зале, и мысли твои уходят куда-то вдаль от
                      повседневных вопросов. Огляделся вокруг — у всего зала
                      глаза на мокром месте, а всеобщее состояние умиления и
                      радости накатывает еще сильнее.
                    </div>
                  </div>
                </div>
              </button>

              <button
                class="splide__slide"
                role="group"
                aria-label="slide 4 of 6"
              >
                <div class="comment__item">
                  <div class="comment__user">
                    <img
                      class="comment__useravatar"
                      src="../img/user-avatar.png"
                      alt="user avatar"
                    />
                    <div class="comment__username title title-third">
                      Сергей
                    </div>
                  </div>

                  <div class="comment__content">
                    <div class="comment-title paragraph-uppercase">
                      В «Снах Пиросмани» актеры-подростки летают на канатах,
                      трюкачат, жонглируют, танцуют и веселятся.
                    </div>
                    <div class="comment-descr">
                      А ты сидишь в зале, и мысли твои уходят куда-то вдаль от
                      повседневных вопросов. Огляделся вокруг — у всего зала
                      глаза на мокром месте, а всеобщее состояние умиления и
                      радости накатывает еще сильнее.
                    </div>
                  </div>
                </div>
              </button>

              <button
                class="splide__slide"
                role="group"
                aria-label="slide 5 of 6"
              >
                <div class="comment__item">
                  <div class="comment__user">
                    <img
                      class="comment__useravatar"
                      src="../img/user-avatar.png"
                      alt="user avatar"
                    />
                    <div class="comment__username title title-third">Федор</div>
                  </div>

                  <div class="comment__content">
                    <div class="comment-title paragraph-uppercase">
                      В «Снах Пиросмани» актеры-подростки летают на канатах,
                      трюкачат, жонглируют, танцуют и веселятся.
                    </div>
                    <div class="comment-descr">
                      А ты сидишь в зале, и мысли твои уходят куда-то вдаль от
                      повседневных вопросов. Огляделся вокруг — у всего зала
                      глаза на мокром месте, а всеобщее состояние умиления и
                      радости накатывает еще сильнее.
                    </div>
                  </div>
                </div>
              </button>

              <button
                class="splide__slide"
                role="group"
                aria-label="slide 6 of 6"
              >
                <div class="comment__item">
                  <div class="comment__user">
                    <img
                      class="comment__useravatar"
                      src="../img/user-avatar.png"
                      alt="user avatar"
                    />
                    <div class="comment__username title title-third">Юля</div>
                  </div>

                  <div class="comment__content">
                    <div class="comment-title paragraph-uppercase">
                      В «Снах Пиросмани» актеры-подростки летают на канатах,
                      трюкачат, жонглируют, танцуют и веселятся.
                    </div>
                    <div class="comment-descr">
                      А ты сидишь в зале, и мысли твои уходят куда-то вдаль от
                      повседневных вопросов. Огляделся вокруг — у всего зала
                      глаза на мокром месте, а всеобщее состояние умиления и
                      радости накатывает еще сильнее.
                    </div>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>

        <div
          class="slider-arrow__wrapper"
          id="chto-v-rezultate-slider-controls"
        >
          <button
            class="slider__arrow slider__arrow-prev comment__arrow"
          ></button>

          <button
            class="slider__arrow slider__arrow-next comment__arrow"
          ></button>
        </div>
      </div>
    </div>
  </div>
</section>
