<div class="clouds__wrapper fixed">
  <div class="clouds">
    <div class="clouds__side clouds__side-left">
      <img
        class="clouds__item clouds__item-1"
        id="hahah"
        src="../img/cloud.png"
        alt=""
      />
      <img class="clouds__item clouds__item-2" src="../img/cloud.png" alt="" />
      <img class="clouds__item clouds__item-3" src="../img/cloud.png" alt="" />
    </div>

    <div class="clouds__side clouds__side-right">
      <img class="clouds__item clouds__item-4" src="../img/cloud.png" alt="" />
      <img class="clouds__item clouds__item-5" src="../img/cloud.png" alt="" />
      <img class="clouds__item clouds__item-6" src="../img/cloud.png" alt="" />
    </div>
  </div>
</div>
