<div class="details__block">
  <div class="title-4 text-red uppercase">Реквизиты организации</div>
  <div>
    Автономная некоммерческая организация социально-культурных услуг
    «Упсала-Цирк»
    <br /><br />
    Адрес юридический и фактический: 195027 Санкт-Петербург, Свердловская наб.,
    д. 44, лит. Ю
    <br />
    ИНН 7811154195
    <br />
    КПП 780401001
    <br />
    ОГРН 1087800004434
    <br /><br />
    Банк: Филиал «Санкт-Петербургский» акционерного общества «Альфа-банк» в г.
    Санкт-Петербург
    <br />
    Р/cч: 40703810832130000098
    <br />
    К/сч: 30101810600000000786
    <br />
    БИК 044030786
    <br /><br />
  </div>
  <div class="title-4 text-red uppercase">Назначение платежа</div>
  <div>Добровольное пожертвование</div>
</div>
