<footer class="footer">
  <div class="container">
    <div class="footer-desktop flex space-between">
      <div class="flex footer__nav">
        <nav class="nav flex column">
          <div class="nav__item">
            <a href="./support.html" class="btn-primary elips nav__item"
              >Поддержать проект</a
            >
          </div>
          <div class="nav__item">
            <a href="./index.html" class="nav__link">Упсала-Цирк</a>
          </div>
          <div class="nav__item">
            <a href="" class="nav__link">Спектакли</a>
          </div>
          <div class="nav__item">
            <a href="" class="nav__link">Партнерам</a>
          </div>
          <div class="nav__item">
            <a href="./otcheti.html" class="nav__link">Отчеты</a>
          </div>
        </nav>

        <nav class="nav flex column">
          <div class="nav__item">
            <a href="" class="nav__link">Онлайн-курсы</a>
          </div>
          <div class="nav__item">
            <a href="" class="nav__link">Магазин</a>
          </div>
          <div class="nav__item">
            <a href="" class="nav__link">Корпоративные события</a>
          </div>
          <div class="nav__item">
            <a href="" class="nav__link">Как нас найти</a>
          </div>
          <div class="nav__item">
            <a href="" class="nav__link">Команда</a>
          </div>
        </nav>
      </div>

      <div class="footer__contact">
        <div class="phone title title-3 font-Spektra">+7 (812) 633-35-58</div>
        <div class="email text-big">hello@upsalacircus.ru</div>
        @include('./social-block.html') @include('./copyright-block.html')
      </div>
    </div>

    <div class="footer-mobile flex column">
      <div class="phone title title-4 font-Spektra">+7 (812) 633-35-58</div>
      <div class="email text-big">hello@upsalacircus.ru</div>
      @include('./social-block.html')

      <nav class="nav flex column">
        <div class="nav__item">
          <a href="" class="btn-primary elips nav__item">Магазин</a>
        </div>
        <div class="nav__item">
          <a href="" class="nav__link">Спектакли</a>
        </div>
        <div class="nav__item">
          <a href="" class="nav__link">Поддержать проект</a>
        </div>
        <div class="nav__item">
          <a href="" class="nav__link">Упсала</a>
        </div>
        <div class="nav__item">
          <a href="" class="nav__link">Как найти</a>
        </div>
        <div class="nav__item">
          <a href="" class="nav__link">Онлайн-курсы</a>
        </div>
        <div class="nav__item">
          <a href="" class="nav__link">Отчеты</a>
        </div>
        <div class="nav__item">
          <a href="" class="nav__link">Партнерам</a>
        </div>
      </nav>

      @include('./copyright-block.html')
    </div>
  </div>
</footer>
