<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <ul class="nav list-reset">
        <div>
          <li class="nav__item">
            <a href="" class="nav__link octagram octagram-support"
              >Поддержать&nbsp;проект</a
            >
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Упсала&nbsp;-&nbsp;Цирк</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Спектакли</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Партнерам</a>
          </li>
          <li class="nav__item"><a href="" class="nav__link">Отчеты</a></li>
        </div>

        <div>
          <li class="nav__item">
            <a href="" class="nav__link">Онлайн-курсы</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Магазин</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Корпоративные события</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Как нас найти</a>
          </li>
          <li class="nav__item"><a href="" class="nav__link">Команда</a></li>
        </div>
      </ul>

      <div class="footer__contact">
        <div class="phone title title-third">+7 (812) 633-35-58</div>
        <div class="mail">hello@upsalacircus.ru</div>
        <ul class="social list-reset">
          <li class="social__item">
            <a href="" class="social__link">
              <img src="../img/svg/vk-ico.svg" alt="" />
            </a>
          </li>
          <li class="social__item">
            <a href="" class="social__link"
              ><img src="../img/svg/instagram-ico.svg" alt=""
            /></a>
          </li>
          <li class="social__item">
            <a href="" class="social__link"
              ><img src="../img/svg/facebook-ico.svg" alt=""
            /></a>
          </li>
          <li class="social__item">
            <a href="" class="social__link"
              ><img src="../img/svg/tiktok-ico.svg" alt=""
            /></a>
          </li>
        </ul>
        <div class="copyright__block">
          <a href="" class="copyright__block-oferta">Публичная оферта</a>
          <span class="copyright__block-copyright"
            >© Упсала-Цирк, 2020 АНО Упсала-Цирк ОГРН 1087800004434</span
          >
        </div>
      </div>
    </div>
  </div>
</footer>
