<header class="header">
  <div class="container">
    <div class="header__side-left">
      <a href="/" class="header__logo"></a>
      <a href="" class="primary-btn-cirle account"></a>
    </div>

    <div class="header__side-right">
      <ul class="nav header__nav list-reset close">
        <li class="nav__item"><a href="" class="nav__link">Упсала-Цирк</a></li>
        <li class="nav__item"><a href="" class="nav__link">Спектакли</a></li>
        <li class="nav__item"><a href="" class="nav__link">Партнерам</a></li>
        <li class="nav__item"><a href="" class="nav__link">Магазин</a></li>
        <li class="nav__item">
          <a href="" class="nav__link primary-btn">Поддержать проект</a>
        </li>
      </ul>
      <div class="primary-btn-cirle menu-btn"></div>
    </div>
  </div>
</header>
