<header class="header container">
  <div class="header__side-left">
    <a href="/" class="header__logo"></a>
    <a href="" class="primary-btn-cirle account"></a>
  </div>

  <div class="header__side-right">
    <div href="" class="primary-btn-cirle menu"></div>
    <ul class="header__nav list-reset">
      <li class="nav__item"><a href="" class="nav__link">Упсала-Цирк</a></li>
      <li class="nav__item"><a href="" class="nav__link">Спектакли</a></li>
      <li class="nav__item"><a href="" class="nav__link">Партнерам</a></li>
      <li class="nav__item"><a href="" class="nav__link">Магазин</a></li>
      <li class="nav__item">
        <a href="" class="nav__link primary-btn">Поддержать проект</a>
      </li>
    </ul>
  </div>
</header>
