<header class="header">
  <div class="container">
    <div class="header__service">
      <a href="/" class="logo"></a>
      <a href="/" class="primary-btn circle">
        <div class="account-btn"></div>
      </a>
    </div>

    <div class="desctop">
      <ul class="header__nav nav list-reset">
        <li class="nav__item">
          <a href="" class="nav__link">Упсала-Цирк</a>
        </li>
        <li class="nav__item"><a href="" class="nav__link">Спектакли</a></li>
        <li class="nav__item"><a href="" class="nav__link">Партнерам</a></li>
        <li class="nav__item"><a href="" class="nav__link">Магазин</a></li>
        <li class="nav__item">
          <a href="" class="nav__link primary-btn elips">
            <div>Поддержать проект</div>
          </a>
        </li>
      </ul>
    </div>

    <div class="mobile">
      <div class="header__side close">
        <ul class="header__nav nav list-reset">
          <li class="nav__item">
            <a href="" class="nav__link">Упсала-Цирк</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Спектакли</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Партнерам</a>
          </li>
          <li class="nav__item"><a href="" class="nav__link">Магазин</a></li>
          <li class="nav__item">
            <a href="" class="nav__link primary-btn elips">
              <div>Поддержать проект</div>
            </a>
          </li>
        </ul>

        <div class="footer__contact">
          <ul class="social list-reset">
            <li class="social__item">
              <a href="" class="social__link">
                <img src="../img/svg/vk-ico.svg" alt="" />
              </a>
            </li>
            <li class="social__item">
              <a href="" class="social__link"
                ><img src="../img/svg/instagram-ico.svg" alt=""
              /></a>
            </li>
            <li class="social__item">
              <a href="" class="social__link"
                ><img src="../img/svg/facebook-ico.svg" alt=""
              /></a>
            </li>
            <li class="social__item">
              <a href="" class="social__link">
                <img src="../img/svg/tiktok-ico.svg" alt="" />
              </a>
            </li>
          </ul>

          <div class="copyright__block">
            <div>
              <a href="../oferta.html" class="copyright__block-oferta">
                Публичная оферта
              </a>
            </div>
            <div class="copyright__block-copyright">
              © Упсала-Цирк,<br />2020 АНО Упсала-Цирк<br />ОГРН 1087800004434
            </div>
          </div>
        </div>
      </div>

      <div class="primary-btn circle">
        <div class="burger-btn"></div>
      </div>
    </div>
  </div>
</header>
