<!-- <section class="main-item kulturnii-producti-section">
  <div class="container relative height-100">
    <div class="title title-main section__title">
      <div>
        <span>Культурные </span>
      </div>
      <div class="outline italic">
        <span>продукты </span>
      </div>
    </div>

    <div class="kulturnii-producti__wrapper">
      <div class="slider__wrapper">
        <div class="splide" id="kulturnii-producti-slider">
          <div class="splide__track">
            <div class="splide__list">
              <button
                class="splide__slide"
                role="group"
                aria-label="slide 1 of 6"
              >
                <div class="kulturnii-producti__item">
                  <div class="kulturnii-producti__img"></div>
                  <div class="kulturnii-producti-item__content">
                    <div class="title title-third">
                      Мексиканский карнавал смерти
                    </div>
                    <div class="paragraph-uppercase">
                      — Серёжа, просто выживи!
                    </div>
                    <div class="text-regular">
                      Такие наставления в&nbsp;2020 году давал давал детям
                      Андрей Кислицин, постановщик карнавала смерти
                      и&nbsp;артист Cirque du&nbsp;Soleil, накануне события.
                      &laquo;Всем активнее, я&nbsp;хочу посмотреть, когда
                      вы&nbsp;начнёте играть&raquo;,&nbsp;&mdash; говорил
                      он&nbsp;на&nbsp;репетиции стоя на&nbsp;заборе.
                      И&nbsp;знаете что? Просто чума, бадумтс! Карнавал смерти,
                      а&nbsp;если присмотреться&nbsp;&mdash; праздник жизни,
                      на&nbsp;котором играют дети. Выглядит как полное безумие.
                      Серёжа и&nbsp;другие дети выжили. Спасибо всем, кто шёл
                      в&nbsp;этот день вдоль набережной у&nbsp;Севкабель Порта
                      вместе с&nbsp;нами, щурился на&nbsp;солнце и&nbsp;искренне
                      радовался карнавалу так, будто 2020 года не&nbsp;было.
                    </div>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>

        <div
          class="slider-arrow__wrapper"
          id="kulturnii-producti-slider-controls"
        >
          <button
            class="slider__arrow slider__arrow-prev kulturnii-producti__arrow"
          ></button>

          <button
            class="slider__arrow slider__arrow-next kulturnii-producti__arrow"
          ></button>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="main-item kulturnii-producti-section">
  <div class="container relative">
    <img src="../img/kulturnii-producti-img.png" alt="" />
  </div>
</section>
