<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item"><a href="" class="nav__link">Упсала-Цирк</a></li>
    <li class="nav__item"><a href="" class="nav__link">Спектакли</a></li>
    <li class="nav__item"><a href="" class="nav__link">Партнерам</a></li>
    <li class="nav__item"><a href="" class="nav__link">Магазин</a></li>
    <li class="octagram">
      <img src="../img/svg/octagram-support.svg" alt="" />
      <a class="octagram__text nav__link" href="">Поддержать&nbsp;проект</a>
    </li>
  </ul>
</nav>
