<section class="main-item ne-cirk__section height-200">
  <div class="container">
    <div class="ne-cirk__content relative">
      <div class="ne-cirk__title title title-1 section__title absolute">
        <div>Тут вам</div>

        <div class="italic">
          <div class="outline">не&nbsp;</div>
          <div>цирк</div>
        </div>
      </div>

      <div>
        <div class="ne-cirk-btn__block">
          <a href="" class="btn btn-outline">Афиша</a>
          <a href="" class="btn btn-std">Поддержать проект</a>
        </div>

        <div class="ne-cirk__down absolute">
          <div class="down__btn"></div>
          <p class="down__text">Листайте вниз, знакомьтесь с цирком</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="animation fixed">
  <div class="girl__wrapper">
    <div class="girl__inner">
      <div class="girl"></div>
    </div>
  </div>
</div>
