<section class="main-item ne-cirk__section height-200">
  <div class="container">
    <div class="ne-cirk__content relative">
      <div class="ne-cirk__title title title-1 section__title absolute">
        <div>
          <span>Тут вам</span>
        </div>

        <div class="italic">
          <span class="outline">не&nbsp;</span>
          <span>цирк</span>
        </div>
      </div>

      <div>
        <div class="ne-cirk-btn__block">
          <a href="" class="btn btn-outline">Афиша</a>
          <a href="" class="btn btn-std">Поддержать проект</a>
        </div>

        <div class="ne-cirk__down absolute">
          <div class="down__btn"></div>
          <p class="down__text">Листайте вниз, знакомьтесь с цирком</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="girl__wrapper fixed">
  <div class="girl__inner">
    <img class="girl" src="../img/main-girl.png" alt="" />
  </div>
</div>
