<!-- <div class="carousel" id="chtoVRezultateSlider">
  <div class="splide">
    <div class="splide__track">
      <div class="splide__list">
        <div class="splide__slide" role="group" aria-label="card 1 of 5">
          <div class="card">
            <a href="https://accessible360.com" target="_blank">
              <div class="image">
                <img
                  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3609497/galina-n-300x300.jpg"
                  class="product-image"
                  alt=""
                />
              </div>
              <h2 class="title">First product</h2>
            </a>

            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <div class="price">
                <span class="new-price">$9.99</span>
                <span class="original-price">
                  <span class="sr-only">Originally:</span>
                  $100.00
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="splide__slide" role="group" aria-label="card 2 of 5">
          <div class="card">
            <a href="https://accessible360.com" target="_blank">
              <div class="image">
                <img
                  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3609497/galina-n-300x300.jpg"
                  class="product-image"
                  alt=""
                />
              </div>
              <h2 class="title">First product</h2>
            </a>

            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <div class="price">
                <span class="new-price">$9.99</span>
                <span class="original-price">
                  <span class="sr-only">Originally:</span>
                  $100.00
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="arrow-wrapper">
    <button class="previous-button is-control">
      <span class="sr-only">Prev</span>
    </button>

    <button class="next-button is-control">
      <span class="sr-only">Next</span>
    </button>
  </div>
</div> -->
