<div class="support-ty">
  <div class="title title-3">Спасибо за поддержку!</div>
  <div class="text-tiny">
    В течение суток вам придёт письмо с паролем от личного кабинета, где в
    будущем вы сможете следить за платежами и управлять подпиской
  </div>
  <a class="link text-red uppercase">вернуться на главную</a>

  <!-- <img class="juggler" src="../img/juggler.png" alt="" />
  <img class="cloud cloud-1" src="../img/cloud.png" alt="" />
  <img class="cloud cloud-2" src="../img/cloud.png" alt="" />
  <div class="exclamation__symbol exclamation__symbol-1">!</div>
  <div class="exclamation__symbol exclamation__symbol-2">!</div>
  <div class="star__wrapper">
    <img class="star" src="../img/star.png" alt="" />
  </div> -->
</div>
