<div class="tree__block">
  <div class="yellow-bg__wrapper">
    <img class="yellow-bg" src="../img/yellow-bg.png" alt="" />
  </div>

  <div class="tree__wrapper tree__wrapper-1">
    <img class="tree__item tree__item-1" src="../img/tree.png" alt="" />
  </div>
  <div class="tree__wrapper tree__wrapper-2">
    <img class="tree__item tree__item-2" src="../img/tree.png" alt="" />
  </div>
  <div class="tree__wrapper tree__wrapper-3">
    <img class="tree__item tree__item-3" src="../img/tree.png" alt="" />
  </div>
  <div class="tree__wrapper tree__wrapper-4">
    <img class="tree__item tree__item-4" src="../img/tree.png" alt="" />
  </div>
  <div class="tree__wrapper tree__wrapper-5">
    <img class="tree__item tree__item-5" src="../img/tree.png" alt="" />
  </div>
  <div class="tree__wrapper tree__wrapper-6">
    <img class="tree__item tree__item-6" src="../img/tree.png" alt="" />
  </div>
  <div class="tree__wrapper tree__wrapper-7">
    <img class="tree__item tree__item-7" src="../img/tree.png" alt="" />
  </div>
</div>
