@import "../../vars";
@import "../../mixins/breakpoint";

.afisha-list__section {
  padding-top: 15rem;
}

.afisha-list__filter {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  .filter__selection {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 1.6rem 4.8rem;
    margin-right: 1rem;
    border-radius: 50%;
    border: 0.1rem solid transparent;
    background-color: $dark;
    transition: $fast;
  }
  .filter__selection.is-active {
    border: 0.1rem solid $red;
  }
  .filter__selection:not(.is-active):hover {
    border: 0.1rem solid $red;
    opacity: 0.5;
  }
}

.afisha-list__block {
  margin-bottom: 8.8rem;
  .title {
    margin-bottom: 3rem;
  }
  .inner {
    display: grid;
    grid-gap: 1rem;
  }
}

.afisha-list__item {
  position: relative;
  text-decoration: none;
  background-color: #fff;
  color: $dark;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1.8rem 2rem 1.8rem;
  width: 100%;
  min-width: 30rem;
  overflow: hidden;
  transition: $fast;

  & > * {
    width: 75%;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("..//../img/meropriatie-item-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    transition: $fast;
    z-index: 0;
  }

  &:hover::before {
    transform: scale(1.5);
  }

  .address {
    position: relative;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    &::after {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: 0;
      width: 100%;
      height: 0.1rem;
      background-color: $dark;
      opacity: 0.6;
    }
  }

  .preview {
    width: 100%;
    object-fit: contain;
    margin-bottom: 0.8rem;
  }

  .name {
    font-size: 1.7rem;
    line-height: 2.6rem;
    margin-bottom: 0.5rem;
  }

  .descr {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .date {
    text-transform: uppercase;
    font-size: 4.8rem;
    line-height: 8.8rem;
  }

  .buy-btn {
    margin-top: 0;
  }
  .buy__block {
    display: none;
  }
}

.afisha__contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 20rem;
  &-form {
    position: relative;
    grid-column-start: 2;
    .title {
      margin-bottom: 1rem;
    }
    .text-tiny {
      margin-bottom: 2.4rem;
    }
    form {
      width: 80%;
    }
    input {
      background-color: $dark;
      border-color: rgb($grey, $opacity-thick);
      color: $grey;
      &:focus,
      &:active {
        border: 1px solid rgb($grey, $opacity-thick) !important;
      }
    }
    .checkbox {
      label {
        &::before {
          border-color: $grey;
        }
      }
    }
    .cloud__item {
      position: absolute;
      &-1 {
        bottom: -50%;
        width: 45rem;
        right: -22%;
      }
      &-2 {
        bottom: -54%;
        width: 40rem;
        right: 0%;
      }
    }
  }
  &-animation {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    .afisha-contact-img {
      position: absolute;
      width: 50rem;
      top: -5rem;
      left: 50%;
      transform: translateX(-50%);
    }
    .cloud__item {
      position: absolute;
      &-1 {
        bottom: -50%;
        width: 45rem;
        left: -22%;
      }
      &-2 {
        bottom: -54%;
        width: 40rem;
        left: 0%;
      }
    }
  }
}

@include for-desktop {
  .afisha-list__section {
    .afisha-list__block {
      .inner {
        grid-template-columns: repeat(3, 1fr) !important;
        .afisha-list__item {
          max-width: 50rem !important;
          justify-self: center;
        }
      }
    }
  }
}

@include big-desktop {
  .afisha-list__section {
    .afisha-list__block {
      .inner {
        grid-template-columns: repeat(4, 1fr) !important;
      }
    }
  }
}

@include tablet {
  .afisha-list__section {
    .afisha-list__filter {
      display: flex;
      justify-content: space-between;
      padding-bottom: $space-small;
      border-bottom: 1px solid rgb($grey, $opacity-thick);
      max-width: 60rem;
    }
    .filter__selection {
      position: relative;
      padding: 0;
      margin-right: 0;
      border: none !important;
      background-color: $dark;
      &::after {
        content: "";
        position: absolute;
        bottom: -1.7rem;
        width: 0%;
        height: 2px;
        left: 0;
        background-color: $red;
        transition: $fast;
      }
    }

    .filter__selection.is-active {
      border: none;
      opacity: 1 !important;
      &::after {
        width: 100%;
      }
    }
    .filter__selection:hover {
      border: none;
      opacity: 1 !important;
      &::after {
        width: 100%;
      }
    }
    .afisha-list__block {
      .inner {
        grid-template-columns: repeat(2, 1fr) !important;
        .afisha-list__item {
          max-width: 50rem !important;
          justify-self: center;
        }
      }
    }
  }
}

@include small-tablet {
  .afisha-list__section {
    .afisha-list__block {
      & > .title {
        font-size: 4.8rem;
        line-height: 4.8rem;
      }
      .inner {
        grid-template-columns: repeat(1, 1fr) !important;
      }
      .afisha-list__item {
        max-width: 50rem;
        justify-self: center;
      }
    }
  }
}

@include mobile {
  .afisha-list__section {
    .afisha-list__block {
      .afisha-list__item {
        & > .date {
          display: none;
        }
        & > .buy-btn {
          display: none;
        }
        & > * {
          width: 100%;
        }
        .buy__block {
          border-top: 1px solid rgb($dark, $opacity-thick);
          padding-top: 1rem;
          display: flex;
          background-color: transparent;
          justify-content: space-between;
          align-items: center;
          text-transform: uppercase;
          margin-top: 3.2rem;
          .buy-btn {
            color: $red;
            font-size: 2.4rem;
            letter-spacing: 0.1rem;
          }
          .date {
            font-size: 2.9rem;
            line-height: 3.2rem;
          }
        }
      }
    }
    .afisha-list__block {
      margin-bottom: 2rem;
    }
  }
  .afisha-list__section + .footer .container {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -6rem;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: rgb($grey, $opacity-thick);
    }
  }
}
