.about-section {
  .jumper__wrapper {
    position: fixed;
    transition: $duration-medium;
    z-index: 10 !important;
  }
  .juggler__wrapper {
    position: fixed;
    z-index: -10;
    transition: $duration-medium;
  }
}

.about-content {
  width: 80%;
  margin-top: 70vh;
  transition: $duration-medium;
  &-1 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-transform: uppercase;
  }
  &-2,
  &-3 {
    font-size: 1.7rem;
    line-height: 2.6rem;
    .title {
      margin-left: -20vw;
      margin-bottom: 4.8rem;
    }
    .primary-btn {
      display: inline-block;
      margin-top: 4rem;
    }
  }
}
