.huliganskii-proekt-section {
  margin-top: 20vh;
}

.huliganskii-proekt-content {
  height: 500vh;
  width: 70%;
  font-size: 1.7rem;
  line-height: 2.6rem;
  margin-top: 10vh;
  &:first-child {
    margin-top: 0;
  }
}
