.incluzivnii-proekt-section {
  height: 400vh;
  margin-top: 20vh;
  .mountain__wrapper {
    z-index: 10;
    position: fixed;
    transition: medium;
  }
  .boy-on-ball__wrapper {
    z-index: 50;
    position: fixed;
    transition: medium;
  }
  .giraffe__wrapper {
    z-index: 40;
    position: fixed;
    transition: medium;
  }
  .panelka-block__wrapper {
    z-index: 50;
    position: fixed;
    transition: medium;
  }
  .panelka-back__wrapper {
    z-index: 40;
    position: fixed;
    transition: medium;
  }
  .girl-on-hoduli__wrapper {
    z-index: 45;
    position: fixed;
    transition: medium;
  }

  .cloud__wrapper {
    position: fixed;
  }

  .yellow-bg__wrapper {
    z-index: 35;
    position: fixed;
    transition: medium;
  }
}

.incluzivnii-proekt-content {
  font-size: 1.7rem;
  line-height: 2.6rem;
  margin-top: 20vh;
  width: 70%;
  &-1 {
  }
  &-2 {
    margin-top: 120vh;
  }
  &-3 {
    margin-top: 40vh;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    .primary-btn {
      margin-top: 2rem;
      text-transform: none;
    }
  }
}
