.proftruppa-section {
  margin-bottom: 40vh;
  .cirkcler__wrapper {
    position: fixed;
    transition: $duration-medium;
  }
  .kacheli__wrapper {
    margin-top: 30vh;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    .kacheli__inner {
      position: relative;
      width: 47rem;
      background-image: url("../../../img/kacheli-moon.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
      transform: translateX(6rem);

      & > * {
        position: absolute;
      }
      .brevno-right {
        left: 50%;
        transform: translateX(-50%);
        bottom: 44%;
      }
      .brevno {
        left: 44%;
        bottom: 45%;
      }
      .brevno-left {
        left: 40%;
        transform: translateX(-50%);
        bottom: 44%;
      }
      .actor-left {
        left: 20%;
        bottom: 85%;
      }
      .actor-right {
        left: 70%;
        bottom: 52%;
      }
    }
  }
  .cloud__wrapper {
    position: fixed;
    z-index: -10;
    transition: $duration-medium;
  }
}

.proftruppa-content {
  width: 70%;
  margin-top: 10rem;
  font-size: 1.7rem;
  line-height: 2.6rem;
  &-2 {
    margin-top: 60vh;
  }
}
