.section-3 {
  margin-top: 40vw !important;
  .jumper__wrapper {
    position: fixed;
    &-1 {
      transition: medium;
      z-index: 10 !important;
    }
    &-2 {
      z-index: -10;
    }
  }
  .juggler__wrapper {
    position: fixed;
    z-index: -10;
    transition: medium;
  }

  .cloud__wrapper {
    z-index: -15;
    position: fixed;
    transition: medium;
  }

  .content__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .content {
      font-size: 1.7rem;
      line-height: 2.6rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: max(20vw, 10rem);
      margin-right: min(10rem, 10vw);
      &-1 {
        font-size: 2.4rem;
        line-height: 3.2rem;
        text-transform: uppercase;
        .text-blue {
          white-space: nowrap;
        }
      }
      & > .title {
        width: 70%;
        margin-bottom: 6rem;
      }

      & > .content__text {
        width: 50%;
      }
    }
  }
}

// .about-content {
//   width: 80%;
//   margin-top: 70vh;
//   transition: medium;
//   &-1 {
//     font-size: 2.4rem;
//     line-height: 3.2rem;
//     text-transform: uppercase;
//   }
//   &-2,
//   &-3 {
//     font-size: 1.7rem;
//     line-height: 2.6rem;
//     .title {
//       margin-left: -20vw;
//       margin-bottom: 4.8rem;
//     }
//     .primary-btn {
//       display: inline-block;
//       margin-top: 4rem;
//     }
//   }
// }
