.section-3 {
  margin-top: max(50rem, 30vw) !important;
  .jumper__wrapper {
    position: fixed;
    &-1 {
      transition: medium;
      z-index: -1;
      max-width: 28rem;
      min-width: 14rem;
      width: 15vw;
      .jumper {
        width: 100%;
        object-fit: contain;
      }
    }
    &-2 {
      z-index: -10;
    }
  }
  .juggler__wrapper {
    position: fixed;
    z-index: -1;
    transition: medium;
    width: 45vw;
    max-width: 80rem;
    min-width: 52rem;
    .juggler {
      width: 100%;
    }
  }

  .btn-primary {
    display: block;
    width: fit-content;
    margin-top: 3rem;
  }

  & > .cloud__item {
    position: fixed;
    &-1 {
      width: min(25vw, 64rem);
      min-width: 34rem;
      // bottom: -5%;
      left: -10%;
    }
    &-2 {
      width: min(23vw, 58rem);
      min-width: 28rem;
      // bottom: -1%;
      left: 10%;
      z-index: 1;
    }
    &-3 {
      width: min(17vw, 45rem);
      min-width: 23rem;
      // bottom: -5%;
      left: 30%;
      z-index: 2;
    }
    &-4 {
      width: min(18vw, 45rem);
      min-width: 20rem;
      // bottom: -2%;
      left: 50%;
    }
    &-5 {
      width: min(23vw, 58rem);
      min-width: 28rem;
      // bottom: -1%;
      left: 67%;
    }
    &-6 {
      width: min(25vw, 64rem);
      min-width: 34rem;
      // bottom: -5%;
      left: 85%;
    }
  }

  .cloud__wrapper {
    z-index: -15;
    position: fixed;
    transition: medium;
  }

  .content__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .content {
      font-size: 1.7rem;
      line-height: 2.6rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: max(20vw, 10rem);
      margin-right: min(10rem, 10vw);
      &:last-child {
        margin-bottom: 10rem;
      }
      &-1 {
        font-size: 2.4rem;
        line-height: 3.2rem;
        text-transform: uppercase;
        .text-blue {
          white-space: nowrap;
        }
      }
      & > .title {
        width: 70%;
        margin-bottom: 6rem;
      }

      & > .content__text {
        width: 50%;
      }
    }
  }
}

@include tablet {
  .section-3 {
    .content__wrapper {
      .content {
        margin-right: 0;

        // &-1 {
        //   margin-bottom: 50vh !important;
        // }

        & > .title {
          width: 100%;
        }
        & > .content__text {
          width: 100%;
        }
      }
    }
  }
}

@include small-tablet {
  .section-3 {
    margin-top: 5rem !important;
  }
  .jumper__wrapper {
    &-1 {
      display: none;
    }
  }
}

@include big-desktop {
  .section-3 {
    & > .cloud__item {
      &-2 {
        z-index: -2 !important;
      }
    }
  }
}
