.section-8 {
  .content__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
    margin-bottom: 15rem;
    .content {
      &-1 {
        width: 45%;
        margin-top: 9rem;
      }
      &-2 {
        width: 45%;
      }
    }
  }
  .slider__wrapper {
    position: relative;
    background-color: $grey;
    padding-top: 6.5rem;
  }
  .slider__item {
    cursor: pointer;
    color: $dark;
    .user {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 5rem;
    }
    .avatar{
      width: 16rem;
      height: 16rem;
    }
    .name {
      margin-top: 3rem;
      margin-left: 3rem;
    }
    .content {
      margin-bottom: 1rem;
    }
    .subtitle {
      font-size: 2.4rem;
      line-height: 3.2rem;
      margin-bottom: 1.6rem;
    }
    .descr {
      font-size: 1.4rem;
      line-height: 1.9rem;
    }
  }
  .section-8__img__wrapper {
    z-index: -1;
    position: absolute;
    top: min(-25rem, max(-50vw, -30rem));
    right: 0;
    max-width: 35rem;
    min-width: 19rem;
    width: 35vw;
    .section-8__img {
      object-fit: contain;
      object-position: top;
      width: 100%;
    }
    .cloud__item {
      position: absolute;
      &-1 {
        z-index: -1;
        top: -10%;
        left: 40%;
        max-width: 30rem;
        min-width: 17rem;
        width: 35vw;
      }
      &-2 {
        top: 5%;
        left: 50%;
        max-width: 18rem;
        min-width: 10rem;
        width: 20vw;
      }
    }
  }
}

@include tablet {
  .section-8 {
    .slider__item{
      .avatar{
        width: 14.8rem;
        height: 14.8rem;
      }
    }
    .content__wrapper {
      flex-direction: column-reverse;
      margin-bottom: 30rem;
      .content {
        &-1 {
          width: 100%;
          margin-top: 4rem;
        }
        &-2 {
          width: 100%;
        }
      }
    }
    .star__wrapper {
      top: min(-5vw, -6rem);
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@include small-tablet {
  .section-8 {
    .content__wrapper {
      margin-top: 4rem;
    }
    .slider__item {
      .name {
        margin-top: 0;
      }
    }
  }
}

@include mobile {
  .section-8 {
    .slider__wrapper {
      padding-top: 4rem;
    }
    .slider__item {
      .user {
        margin-bottom: 3rem;
      }
      .content {
        margin-bottom: 2rem;
      }
      .subtitle {
        font-size: 1.6rem;
        line-height: 2.6rem;
      }
      .descr {
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
    }
  }
}
