.section-10 {
  & > .container > .descr {
    width: 50%;
    margin-top: 4rem;
    margin-bottom: 6rem;
  }
  .content__block {
    display: flex;
  }
  .yt__block {
    background-color: $grey;
    padding: 1.7rem;
    padding-bottom: 2.5rem;
    width: min-content;
    height: fit-content;
    border-radius: 1.6rem;
    color: $dark;
    margin-right: 6rem;
    .subtitle {
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }
    .descr {
      font-size: 1.4rem;
      line-height: 1.9rem;
    }
  }
  .smi__block {
    display: flex;
    width: 100%;
    justify-content: left;
    flex-wrap: wrap;
    .smi__item {
      margin: 0.8rem;
      color: $dark;
      position: relative;
      width: 23rem;
      border-radius: 1.6rem;
      overflow: hidden;
      height: max-content;
      padding-top: 15rem;

      .img__wrapper {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        height: 20rem;
        transition: $fast;
        .img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .content__wrapper {
        height: max-content;
        padding: 4rem 1.5rem 1rem 1.5rem;

        background-image: url("../img/statia-bg-img.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        .subtitle {
          font-size: 1.4rem;
          line-height: 1.6rem;
          margin-bottom: 1.5rem;
        }
        .descr {
          font-size: 1.2rem;
          line-height: 1.6rem;
        }
      }
      &:hover {
        .img__wrapper {
          height: 25rem;
        }
      }
    }
  }
  .star-line__wrapper {
    z-index: -1;
    position: absolute;
    top: max(-10%, -10rem);
    right: 10%;
    width: min(71rem, 70vw);
    transform: rotate(15deg);
    .star-line {
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  .tree__block {
    margin-top: 20rem;
  }
}

@include tablet {
  .section-10 {
    & > .container > .descr {
      width: 100%;
    }
    .content__block {
      flex-direction: column;
    }
    .smi__block {
      margin-top: 4rem;
      justify-content: center;
    }
    .yt__block {
      align-self: center;
      width: 100%;
      max-width: 60rem;
      margin-right: 0;
    }
    .yt {
      width: 100%;
      min-height: 16rem;
    }
  }
}

// .smi-o-nas__text {
//   width: 60%;
//   margin-top: 6rem;
//   font-size: 1.7rem;
//   line-height: 2.6rem;
// }

// .smi-o-nas-star-line {
//   position: absolute;
//   left: 40%;
//   top: -10%;
//   z-index: -10;
// }

// .smi-o-nas__content {
//   margin-top: 4.2rem;
//   display: flex;
//   width: 100%;
//   .main {
//     width: min-content;
//     color: #131313;
//     padding: 1.6rem 1.7rem;
//     background-color: $grey;
//     border-radius: 1.6rem;
//     .smi-o-nas-content__title {
//       margin: 1.3rem 0;
//     }
//     .smi-o-nas-content__descr {
//       font-size: 1.4rem;
//       line-height: 1.9rem;
//     }
//   }
//   .secondary {
//     margin-left: 7rem;
//   }
// }

// .statia-block {
//   display: flex;
//   flex-wrap: wrap;
//   .statia-link {
//     margin-right: 3.8rem;
//   }
// }

// .statia-item {
//   color: #131313;
//   width: 23rem;
//   min-height: 28rem;
//   border-radius: 1.6rem;
//   background-image: url("..//../img/statia-img.png");
//   background-repeat: no-repeat;
//   background-position: top;
//   background-size: 120%;
//   transition: medium;
//   &:hover {
//     background-size: 140%;
//   }
//   .statia-item__img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     height: 70%;
//     z-index: 0;
//     object-fit: cover;
//     border-radius: 1.6rem;
//   }
//   .statia-item__content {
//     position: absolute;
//     padding: 1.1rem 1.6rem;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     height: 60%;
//     z-index: 10;
//     background-image: url("..//img/statia-bg-img.png");
//     background-repeat: no-repeat;
//     background-size: cover;
//     border-radius: 1.6rem;
//   }
//   .statia-item__title {
//     margin-top: 3rem;
//     font-size: 1.4rem;
//     line-height: 1.7rem;
//     text-transform: uppercase;
//     margin-bottom: 1.1rem;
//   }
//   .statia-item__descr {
//     font-size: 1.2rem;
//     line-height: 1.9rem;
//   }
// }
