.smi-o-nas-section {
  margin-top: 40vh;
  min-height: 150vh;
  .yellow-bg__wrapper {
    position: fixed;
  }
  .tree__wrapper {
    position: fixed;
    &-2 {
      z-index: 1;
    }
    &-6 {
      z-index: 1;
    }
  }
}

.smi-o-nas__text {
  width: 60%;
  margin-top: 6rem;
  font-size: 1.7rem;
  line-height: 2.6rem;
}

.smi-o-nas-star-line {
  position: absolute;
  left: 40%;
  top: -10%;
  z-index: -10;
}

.smi-o-nas__content {
  margin-top: 4.2rem;
  display: flex;
  width: 100%;
  .main {
    width: min-content;
    color: #131313;
    padding: 1.6rem 1.7rem;
    background-color: $grey;
    border-radius: 1.6rem;
    .smi-o-nas-content__title {
      margin: 1.3rem 0;
    }
    .smi-o-nas-content__descr {
      font-size: 1.4rem;
      line-height: 1.9rem;
    }
  }
  .secondary {
    margin-left: 7rem;
  }
}

.statia-block {
  display: flex;
  flex-wrap: wrap;
  .statia-link {
    margin-right: 3.8rem;
  }
}

.statia-item {
  color: #131313;
  width: 23rem;
  min-height: 28rem;
  border-radius: 1.6rem;
  background-image: url("../../../img/statia-img.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 120%;
  transition: $duration-medium;
  &:hover {
    background-size: 140%;
  }
  .statia-item__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70%;
    z-index: 0;
    object-fit: cover;
    border-radius: 1.6rem;
  }
  .statia-item__content {
    position: absolute;
    padding: 1.1rem 1.6rem;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%;
    z-index: 10;
    background-image: url("../../img/statia-bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.6rem;
  }
  .statia-item__title {
    margin-top: 3rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    margin-bottom: 1.1rem;
  }
  .statia-item__descr {
    font-size: 1.2rem;
    line-height: 1.9rem;
  }
}
