.video__section {
  height: 350vh;
}

.video-block {
  height: 100vh;
  width: 100vw;
  background-image: url("../../../img/video-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 13.6rem;
    height: 13.6rem;
    transform: translate(-50%, -50%);
    background-image: url("../../../img/video-play.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.video-block__text {
  height: 100vh;
  width: 100vw;
  background-image: url("../../../img/video-text-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
