.contact-main__wrapper {
  z-index: 20;
  padding: 8.5rem 0;
  padding-bottom: 0;
  .descr {
    white-space: normal;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      border-color: rgb(200, 200, 200, 0.5);
      background-color: transparent;
      color: $grey;
      &:focus,
      &:active {
        border-color: rgb(200, 200, 200);
      }
      &::placeholder {
        color: rgb(200, 200, 200, 0.5);
      }
      &.email {
      }
      &:not([type="checkbox"]) {
        display: block;
      }
    }
    .checkbox {
      margin-top: 0;
    }
    label::before {
      border-color: $grey;
    }
    .title {
      margin-bottom: 0.8rem;
    }
    .descr {
      font-size: 1.2rem;
      line-height: 1.6rem;
    }

    .email__block {
      width: 45%;
      white-space: nowrap;
      .descr {
        margin-bottom: 2rem;
      }
    }

    .tg__block {
      width: 45%;
      align-self: flex-start;
      .descr {
        margin-bottom: 3.2rem;
      }
      .tg__link {
        color: $dark;
        padding: 1.2rem;
        padding-right: 3rem;
        background-color: #fff;
        border-radius: 1.6rem;
        display: flex;
        align-items: center;
        margin-bottom: 4.6rem;
      }
      .tg__ico {
        border: 0.1rem solid rgb(19, 19, 19, 0.5);
        border-radius: 1.6rem;
        padding: min(3rem, 5%);
        margin-right: 2.4rem;
        img {
          display: block;
          width: 4.8rem;
          height: 4.8rem;
        }
      }
    }

    .ili__block {
      align-self: center;
    }
  }
}

@media screen and (max-width: 1170px) {
  .contact__wrapper {
    flex-direction: column;
    & > * {
      width: 100% !important;
    }
    .ili__block {
      display: none;
    }
    .email__block {
      white-space: normal;
      margin-bottom: 4rem;
    }
  }
}

@media screen and (max-width: 1322px) {
  .contact__wrapper {
    .tg__link{
      margin-bottom: 3.8rem !important;
    }
  }
}
