@import "./section-1";
@import "./section-2";
@import "./section-3";
@import "./section-4";
// @import "./section-5";
@import "./section-6";
// @import "./incluzivnii-proekt-section";
@import "./section-8";
@import "./section-9";
@import "./section-10";
@import "./section-11";
@import "./section-12";
@import "./contact-main";

#indexPage {
  section[class^="section-"] {
    position: relative;
    margin-top: min(15rem, 10vw);
  }
  .section__title {
    white-space: nowrap;
  }
  .content {
    font-size: 1.7rem;
    line-height: 2.6rem;
  }
  & > .tree__block {
    position: fixed;
    width: 100vw;
    height: 50vw;
    bottom: -100rem;
  }
  // .cloud__block {
  //   position: fixed;
  //   bottom: -50%;
  //   left: 0;
  //   width: 100%;
  //   height: 20vw;
  & > .cloud__item {
    position: fixed;
    &-1 {
      width: min(25vw, 64rem);
      min-width: 34rem;
      // bottom: -5%;
      left: -10%;
    }
    &-2 {
      width: min(23vw, 58rem);
      min-width: 28rem;
      // bottom: -1%;
      left: 10%;
      z-index: 1;
    }
    &-3 {
      width: min(17vw, 45rem);
      min-width: 23rem;
      // bottom: -5%;
      left: 30%;
      z-index: 2;
    }
    &-4 {
      width: min(18vw, 45rem);
      min-width: 20rem;
      // bottom: -2%;
      left: 50%;
    }
    &-5 {
      width: min(23vw, 58rem);
      min-width: 28rem;
      // bottom: -1%;
      left: 67%;
    }
    &-6 {
      width: min(25vw, 64rem);
      min-width: 34rem;
      // bottom: -5%;
      left: 85%;
    }
  }
  & > .star__wrapper {
    position: fixed;
    bottom: 00%;
    width: min(51rem, 40vw);
    .star {
      width: 100%;
    }
  }

  & > .pin {
    opacity: 1;
    cursor: pointer;
    position: fixed;
    bottom: min(3vw, 3rem);
    right: min(3vw, 3rem);
    width: 13rem;
    height: 13rem;
    background-image: url("../../../img/pin.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: $fast;
    &:hover {
      transform: scale(1.1);
    }
  }
}

@include big-desktop {
  #indexPage {
    & > .cloud__item {
      &-2 {
        z-index: -2 !important;
      }
    }
  }
}

@include small-tablet {
  #indexPage {
    & > .pin {
      display: none;
    }
  }
}
