<section class="main-item about-section">
  <div class="container relative">
    <div class="about__padding-block"></div>
    <div class="align__container-right">
      <div class="about__wrapper">
        <div class="content about-content about-content-1">
          <p class="paragraph-uppercase">
            <span class="text-contrast">
              В&nbsp;стационарном шатре без животных
            </span>
            и&nbsp;клоунов, в&nbsp;котором люди смеются и плачут, перья летят,
            в&nbsp;офисе висит &laquo;Золотая маска&raquo;, в&nbsp;финале
            спектакля играет Аукцыон, пока дети на&nbsp;набережной устраивают
            мексиканский карнавал смерти.
            <span class="title title-third text-blue"
              >Это&nbsp;же отвал башки!</span
            >
          </p>
        </div>

        <div class="content about-content about-content-2">
          <div class="title title-third minus-50-mr std-margin-bottom-x2">
            Цирк достаточно непрактичная вещь. Его нельзя
            <span class="text-blue">съесть</span> или по&nbsp;<span
              class="text-contrast"
              >бочкам разлить</span
            >.
          </div>
          <p class="text-regular">
            Уже 20&nbsp;лет (ого!) мы&nbsp;задаёмся вопросом, зачем нужен цирк.
            И&nbsp;вот к&nbsp;чему мы&nbsp;пришли. Мы&nbsp;начинали как
            социальный проект. Большинство материалов про нас выглядит примерно
            так: &laquo;В&nbsp;2000 году Астрид Шорн и&nbsp;Лариса Афанасьева
            занимались с&nbsp;детьми цирковым искусством прямо на&nbsp;улицах
            города&raquo;. Да, в&nbsp;конце прошлого века были странные времена.
            Весёлые, потому что было много свободы, энергии и&nbsp;надежды.
            Но&nbsp;и&nbsp;печальные, потому что люди оказывались ненужными.
            И&nbsp;в&nbsp;те&nbsp;времена Астрид и&nbsp;Лариса создали цирк для
            хулиганов. Первых артистов нашли прямо на&nbsp;улице&nbsp;&mdash;
            заинтересовали жонглированием и&nbsp;моноциклом.
          </p>
        </div>

        <div class="about__padding-block"></div>

        <div class="content about-content about-content-3 height-100">
          <div class="title title-third minus-50-mr std-margin-bottom-x2">
            <span class="text-contrast">Прошло 20 лет</span>, мы выросли из
            хулиганского проекта, обзавелись шатром, собрали профтруппу и
            наворотили дел.
          </div>
          <p class="text-regular">
            А&nbsp;панками так и&nbsp;остались&nbsp;&mdash; мы&nbsp;по-прежнему
            независимый культурный проект без государственного финансирования.
            Сегодня это наш выбор. Мы&nbsp;сами ищем средства на&nbsp;программы
            цирка и&nbsp;работаем во&nbsp;многом благодаря частным
            пожертвованиям и&nbsp;поддержке бизнеса. Вместе с&nbsp;вами
            мы&nbsp;создаём ту&nbsp;культуру, в&nbsp;которой мы&nbsp;живём.
            В&nbsp;этом смысле мы&nbsp;можем рассчитывать только
            на&nbsp;взаимную поддержку друг друга.
            <br /><br />
            Да, многие дети по-прежнему здесь и&nbsp;сейчас что-то меняют
            в&nbsp;Упсала-Цирке, но&nbsp;мы&nbsp;делаем это и&nbsp;для
            следующего поколения. В&nbsp;доступном искусстве и&nbsp;образовании
            нуждается огромное количество людей. Мы&nbsp;строим культурную базу
            для того, чтобы завтра было немножко увереннее и&nbsp;свободнее.
            Через цирк мы&nbsp;говорим о&nbsp;важном, отвечаем
            на&nbsp;социальные вызовы и&nbsp;создаём общество, в&nbsp;котором
            хотим жить.
            <br /><br />
            Шутки в&nbsp;сторону! Цирк&nbsp;&mdash; это серьёзно. Как говорят
            в&nbsp;цирке, это заруба. И&nbsp;наша заруба&nbsp;&mdash; создавать
            возможности для раскрытия творческого потенциала, чтобы люди
            становились свободнее и&nbsp;счастливее. Через эксперименты
            мы&nbsp;узнаём и&nbsp;расширяем границы. Мы&nbsp;меняем себя,
            общество и&nbsp;пространство вокруг.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="jumper__wrapper jumper__wrapper-1 absolute">
    <div class="jumper jumper-1">
      <img class="jumper__img" src="../img/jumper.png" alt="" />
    </div>
  </div> -->

  <div class="jumper__wrapper jumper__wrapper-2 absolute">
    <div class="jumper jumper-2">
      <img class="jumper__img" src="../img/jumper.png" alt="" />
    </div>
  </div>
</section>
