@include('../animation/girl.html') @include('../animation/hand.html')
@include('../animation/cloud.html') @include('../animation/juggler.html')
@include('../animation/star.html') @include('../animation/jumper.html')
<!-- @include('../animation/jumper.html') -->
@include('../animation/unicycle.html') @include('../animation/tree.html')
@include('../animation/panelka.html') @include('../animation/rope.html')
@include('../animation/elephant.html') @include('../animation/childrens.html')
@include('../animation/yellow-bg.html')
