<section class="main-item huliganskii-proekt-section">
  <div class="container relative">
    <div class="title title-main section__title huliganskii-proekt__title">
      <div>
        <span>Xулиганский</span>
      </div>

      <div class="italic">
        <span class="outline">проект</span>
      </div>
    </div>
    <div class="align__container-right">
      <div class="huliganskii-proekt__wrapper">
        <div class="content huliganskii-proekt-content-1">
          <p class="text-regular">
            Привет!
            <br /><br />
            Это Сарвар, ему 16&nbsp;лет. Если вы&nbsp;зайдёте в&nbsp;цирк после
            обеда, то&nbsp;с&nbsp;вероятность в&nbsp;99% встретите Сарвара,
            который тренируется, пока в&nbsp;шатре не&nbsp;вырубят свет.
            Он&nbsp;родился и&nbsp;вырос в&nbsp;Узбекистане, но&nbsp;последние
            несколько лет живёт в&nbsp;Петербурге и&nbsp;занимается в&nbsp;нашем
            хулиганском проекте. За&nbsp;это время он&nbsp;выучил русский язык
            и&nbsp;начал другую жизнь. Что в&nbsp;шатре по-настоящему важно?
            Только&nbsp;то, что Сарвар артист Упсала-Цирка.
          </p>
        </div>

        <div class="content huliganskii-proekt-content-2">
          <p class="text-regular">
            Вместе с&nbsp;Сарваром в&nbsp;хулиганском проекте занимается ещё
            67&nbsp;молодых артистов. Это ребята из&nbsp;неблагополучных
            и&nbsp;приёмных семей. Сразу после школы дети приходят&nbsp;и, как
            правило, уходят домой уже поздно вечером. И&nbsp;так от&nbsp;трёх
            до&nbsp;пяти раз в&nbsp;неделю. В&nbsp;программе акробатика,
            жонглирование, эквилибристика, современный танец, паркур, воздушная
            акробатика на&nbsp;полотнах. Каждый курс решает свою творческую
            задачу: новички ставят цирковой карнавал, средняя группа увлечена
            постановкой спектакля, выпускники готовят сольные номера.
          </p>
        </div>

        <div class="content huliganskii-proekt-content-3">
          <p class="text-regular">
            Мы&nbsp;несем ответственность перед каждым ребёнком, который
            занимается в&nbsp;этом проекте. Трудным подросткам мало кто
            помогает: их&nbsp;отправляют за&nbsp;забор спецшколы или спецучилища
            &laquo;перевоспитывать&raquo;, а&nbsp;на&nbsp;деле&nbsp;&mdash;
            ломают. Упсала-Цирк меняет контекст
            с&nbsp;&laquo;вы&nbsp;преступники, и&nbsp;с&nbsp;вами все
            ясно&raquo; на&nbsp;&laquo;вы&nbsp;талантливы и&nbsp;можете прыгнуть
            выше головы&raquo;.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- ЗАГЛУШКА -->
  <div class="huliganskii-proekt__bottom"></div>
  <div class="huliganskii-proekt-zaglushka">
    <img src="../img/huligaskii-proekt-img.png" alt="" />
  </div>
</section>
