<section class="main-item huliganskii-proekt-section">
  <div class="container relative">
    <div class="title title-1 section__title huliganskii-proekt__title">
      <div>
        <div>Xулиганский</div>
      </div>

      <div class="italic">
        <div class="outline">проект</div>
      </div>
    </div>

    <div class="align__container-right">
      <div class="huliganskii-proekt__wrapper">
        <div class="huliganskii-proekt-content">
          Привет!
          <br /><br />
          Это Сарвар, ему 16&nbsp;лет. Если вы&nbsp;зайдёте в&nbsp;цирк после
          обеда, то&nbsp;с&nbsp;вероятность в&nbsp;99% встретите Сарвара,
          который тренируется, пока в&nbsp;шатре не&nbsp;вырубят свет.
          Он&nbsp;родился и&nbsp;вырос в&nbsp;Узбекистане, но&nbsp;последние
          несколько лет живёт в&nbsp;Петербурге и&nbsp;занимается в&nbsp;нашем
          хулиганском проекте. За&nbsp;это время он&nbsp;выучил русский язык
          и&nbsp;начал другую жизнь. Что в&nbsp;шатре по-настоящему важно?
          Только&nbsp;то, что Сарвар артист Упсала-Цирка.
          <br /><br />
          Вместе с&nbsp;Сарваром в&nbsp;хулиганском проекте занимается ещё
          67&nbsp;молодых артистов. Это ребята из&nbsp;неблагополучных
          и&nbsp;приёмных семей. Сразу после школы дети приходят&nbsp;и, как
          правило, уходят домой уже поздно вечером. И&nbsp;так от&nbsp;трёх
          до&nbsp;пяти раз в&nbsp;неделю. В&nbsp;программе акробатика,
          жонглирование, эквилибристика, современный танец, паркур, воздушная
          акробатика на&nbsp;полотнах. Каждый курс решает свою творческую
          задачу: новички ставят цирковой карнавал, средняя группа увлечена
          постановкой спектакля, выпускники готовят сольные номера.
          <br /><br />
          Мы&nbsp;несем ответственность перед каждым ребёнком, который
          занимается в&nbsp;этом проекте. Трудным подросткам мало кто помогает:
          их&nbsp;отправляют за&nbsp;забор спецшколы или спецучилища
          &laquo;перевоспитывать&raquo;, а&nbsp;на&nbsp;деле&nbsp;&mdash;
          ломают. Упсала-Цирк меняет контекст с&nbsp;&laquo;вы&nbsp;преступники,
          и&nbsp;с&nbsp;вами все ясно&raquo; на&nbsp;&laquo;вы&nbsp;талантливы
          и&nbsp;можете прыгнуть выше головы&raquo;.
        </div>
      </div>
    </div>
  </div>

  <div class="unicycle__wrapper">
    <div class="unicycle__inner">
      <img class="unicycle" src="../img/unicycle.png" alt="" />
    </div>
  </div>

  <div class="unicycle-profile-girl__wrapper">
    <img
      class="unicycle-profile-girl"
      src="../../img/unicycle-profile-girl.png"
      alt=""
    />
  </div>

  <div class="unicycle-profile-boy__wrapper">
    <img
      class="unicycle-profile-boy"
      src="../../img/unicycle-profile-boy.png"
      alt=""
    />
  </div>

  <div class="panelka__wrapper-left">
    <img class="panelka-left" src="../../img/panelka-left.png" alt="" />
  </div>

  <div class="panelka__wrapper-right">
    <img class="panelka-right" src="../../img/panelka-right.png" alt="" />
  </div>

  <div class="elephant__wrapper">
    <img class="elephant" src="../../img/elephant.png" alt="" />
  </div>

  <div class="childrens__wrapper">
    <img class="childrens" src="../../img/childrens.png" alt="" />
  </div>

  <div class="rope__wrapper" alt=""></div>
</section>
