<section class="main-item incluzivnii-proekt-section relative">
  <div class="container relative">
    <div class="title title-1 section__title incluzivnii-proekt-title">
      <div>
        <div>Инклюзивный</div>
      </div>

      <div class="italic">
        <div class="outline">проект</div>
      </div>
    </div>

    <div class="align__container-right">
      <div class="incluzivnii-proekt__wrapper">
        <div class="incluzivnii-proekt-content incluzivnii-proekt-content-1">
          <p>
            А&nbsp;это Максим, артист спектакля &laquo;Я&nbsp;Басё&raquo;
            и&nbsp;участник нашего инклюзивного проекта. Пару лет назад
            он&nbsp;возвращался с&nbsp;мамой в&nbsp;метро после тренировки.
            Впереди стоял мужчина с&nbsp;ребёнком, который начал показывать
            на&nbsp;Максима. Мама артиста уже привыкла к&nbsp;тому, что дети
            реагируют ярко, задают вопросы, а&nbsp;не&nbsp;отводят глаза.
            И&nbsp;вдруг папа говорит девочке: &laquo;Так ты&nbsp;подойди
            к&nbsp;мальчику, поздоровайся. Ведь не&nbsp;часто увидишь артиста
            из&nbsp;Упсала-Цирка в&nbsp;метро&raquo;.
          </p>
        </div>

        <div class="incluzivnii-proekt-content incluzivnii-proekt-content-2">
          <p>
            Эта смена ролей важна для всех детей с&nbsp;социальными ярлыками.
            В&nbsp;инклюзивном центре занимаются артисты с&nbsp;синдромом Дауна,
            расстройствами аутистического спектра, поведенческими
            и&nbsp;ментальными особенностями. Для ребят очень важно, чтобы
            их&nbsp;считали настоящими артистами. В&nbsp;то&nbsp;же время
            мы&nbsp;не&nbsp;только помогаем детям, но&nbsp;и&nbsp;меняем
            общество. Мы&nbsp;снижаем стигматизирующее отношение к&nbsp;тем, кто
            чем-то отличается&nbsp;&mdash; людям с&nbsp;особенностями,
            со&nbsp;сложным поведением, &laquo;неудобным&raquo; людям.
          </p>
        </div>

        <div class="incluzivnii-proekt-content incluzivnii-proekt-content-3">
          <p class="text-blue">
            Мы&nbsp;не&nbsp;говорим, что в&nbsp;нашем спектакле приняли участие
            5&nbsp;хулиганов и&nbsp;6&nbsp;ребят из&nbsp;инклюзивного центра.
            Мы&nbsp;говорим, что в&nbsp;нашем спектакле выступают
            11&nbsp;молодых артистов.
          </p>
          <a href="" class="primary-btn elips">
            <div>Поддержать проект</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="mountain__wrapper">
    <img class="mountain" src="../../img/mountain.png" alt="" />
  </div>

  <div class="boy-on-ball__wrapper">
    <img class="boy-on-ball" src="../../img/boy-on-ball.png" alt="" />
  </div>

  <div class="giraffe__wrapper">
    <img class="giraffe" src="../../img/giraffe.png" alt="" />
  </div>

  <div class="panelka-block__wrapper">
    <img class="panelka-block" src="../../img/panelka-block.png" alt="" />
  </div>

  <div class="panelka-back__wrapper">
    <img class="panelka-back" src="../../img/panelka-back.png" alt="" />
  </div>

  <div class="girl-on-hoduli__wrapper">
    <img class="girl-on-hoduli" src="../../img/girl-on-hoduli.png" alt="" />
  </div>
</section>
