<section class="main-item incluzivnii-proekt-section relative">
  <div class="container relative">
    <div class="title title-main section__title">
      <div>
        <span>Инклюзивный</span>
      </div>

      <div class="italic">
        <span class="outline">проект</span>
      </div>
    </div>

    <div class="align__container-right">
      <div class="incluzivnii-proekt__wrapper">
        <div class="content incluzivnii-proekt-content-1">
          <p class="text-regular">
            А&nbsp;это Максим, артист спектакля &laquo;Я&nbsp;Басё&raquo;
            и&nbsp;участник нашего инклюзивного проекта. Пару лет назад
            он&nbsp;возвращался с&nbsp;мамой в&nbsp;метро после тренировки.
            Впереди стоял мужчина с&nbsp;ребёнком, который начал показывать
            на&nbsp;Максима. Мама артиста уже привыкла к&nbsp;тому, что дети
            реагируют ярко, задают вопросы, а&nbsp;не&nbsp;отводят глаза.
            И&nbsp;вдруг папа говорит девочке: &laquo;Так ты&nbsp;подойди
            к&nbsp;мальчику, поздоровайся. Ведь не&nbsp;часто увидишь артиста
            из&nbsp;Упсала-Цирка в&nbsp;метро&raquo;.
          </p>
        </div>

        <div class="content incluzivnii-proekt-content-2">
          <p class="text-regular">
            Эта смена ролей важна для всех детей с&nbsp;социальными ярлыками.
            В&nbsp;инклюзивном центре занимаются артисты с&nbsp;синдромом Дауна,
            расстройствами аутистического спектра, поведенческими
            и&nbsp;ментальными особенностями. Для ребят очень важно, чтобы
            их&nbsp;считали настоящими артистами. В&nbsp;то&nbsp;же время
            мы&nbsp;не&nbsp;только помогаем детям, но&nbsp;и&nbsp;меняем
            общество. Мы&nbsp;снижаем стигматизирующее отношение к&nbsp;тем, кто
            чем-то отличается&nbsp;&mdash; людям с&nbsp;особенностями,
            со&nbsp;сложным поведением, &laquo;неудобным&raquo; людям.
          </p>
        </div>

        <div class="content incluzivnii-proekt-content-3">
          <p class="paragraph-uppercase text-blue">
            Мы&nbsp;не&nbsp;говорим, что в&nbsp;нашем спектакле приняли участие
            5&nbsp;хулиганов и&nbsp;6&nbsp;ребят из&nbsp;инклюзивного центра.
            Мы&nbsp;говорим, что в&nbsp;нашем спектакле выступают
            11&nbsp;молодых артистов.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- ЗАГЛУШКА -->
  <div class="inclizivnii-proekt__bottom"></div>
  <div class="inclizivnii-proekt-zaglushka">
    <img src="../img/incluzivnii-proekt-img.png" alt="" />
  </div>
</section>
