<section class="main-item iz-chego-sostoit-section">
  <div class="running-line">
    <div class="title title-1">
      Из чего состоит <span class="outline">Цирк </span>Из чего состоит
      <span class="outline">Цирк </span>
      Из чего состоит <span class="outline">Цирк </span>Из чего состоит
      <span class="outline">Цирк </span>
    </div>

    <div class="title title-1">
      Из чего состоит <span class="outline">Цирк </span>Из чего состоит
      <span class="outline">Цирк </span>
      Из чего состоит <span class="outline">Цирк </span>Из чего состоит
      <span class="outline">Цирк </span>
    </div>
  </div>

  <div class="container">
    <div class="iz-chego-sostoit__content">
      <div>
        <div class="iz-chego-sostoit__preview relative">
          <img src="../img/iz-chego-sostoit-img.png" />
          <img src="../img/iz-chego-sostoit-img.png" />
          <img src="../img/iz-chego-sostoit-img.png" />
          <img src="../img/iz-chego-sostoit-img.png" />
          <img src="../img/iz-chego-sostoit-img.png" />
          <img src="../img/iz-chego-sostoit-img.png" />
          <img src="../img/iz-chego-sostoit-img.png" />
          <img src="../img/iz-chego-sostoit-img.png" />
        </div>
      </div>

      <div>
        <ul class="iz-chego-sostoit__list list-reset">
          <li class="title title-4">Хулиганский проект</li>
          <li class="title title-4">Профтруппа</li>
          <li class="title title-4">Инклюзивный проект</li>
          <li class="title title-4">Что в результате?</li>
          <li class="title title-4">Культурные продукты</li>
          <li class="title title-4">СМИ о нас</li>
          <li class="title title-4">А что происходит сейчас</li>
          <li class="title title-4">Наша история</li>
        </ul>
      </div>

      <div class="cloud__item cloud__item-1"></div>
      <div class="cloud__item cloud__item-2"></div>
      <div class="cloud__item cloud__item-3"></div>
    </div>
  </div>
</section>
