<section class="main-item iz-chego-sostoit-section">
  <div class="text__running-line">
    <div class="title title-main">
      Из чего состоит <span class="outline">Цирк </span>Из чего состоит
      <span class="outline">Цирк </span>
      Из чего состоит <span class="outline">Цирк </span>Из чего состоит
      <span class="outline">Цирк </span>
    </div>

    <div class="title title-main">
      Из чего состоит <span class="outline">Цирк </span>Из чего состоит
      <span class="outline">Цирк </span>
      Из чего состоит <span class="outline">Цирк </span>Из чего состоит
      <span class="outline">Цирк </span>
    </div>
  </div>

  <div class="container">
    <div class="iz-chego-sostoit">
      <div class="iz-chego-sostoit__preview">
        <img src="../img/iz-chego-sostoit-img.png" />
        <img
          class="clouds__item clouds__item-1"
          src="../img/cloud.png"
          alt=""
        />
        <img
          class="clouds__item clouds__item-2"
          src="../img/cloud.png"
          alt=""
        />
        <img
          class="clouds__item clouds__item-3"
          src="../img/cloud.png"
          alt=""
        />
      </div>

      <ul class="iz-chego-sostoit__list list-reset">
        <li class="title title-fourth">
          <span>Хулиганский проект</span>
        </li>
        <li class="title title-fourth">Профтруппа</li>
        <li class="title title-fourth">Инклюзивный проект</li>
        <li class="title title-fourth">Что в результате?</li>
        <li class="title title-fourth">Культурные продукты</li>
        <li class="title title-fourth">СМИ о нас</li>
        <li class="title title-fourth">А что происходит сейчас</li>
        <li class="title title-fourth">Наша история</li>
      </ul>
    </div>
  </div>
</section>
