<section class="main-item kulturnii-producti-section">
  <div class="container relative height-100">
    <div class="title title-1 section__title kulturnii-producti__title">
      <div>
        <div>Культурные</div>
      </div>

      <div class="italic">
        <div class="outline">продукты</div>
      </div>
    </div>

    <div class="kulturnii-producti__slider relative">
      <div class="carousel relative" id="kulturniiProductiSlider">
        <div class="splide">
          <div class="splide__track">
            <div class="splide__list">
              <div class="splide__slide" role="group">
                <div class="kulturnii-producti__item">
                  <img
                    class="kulturnii-producti__img"
                    src="../img/kulturnii-producti-img.jpg"
                    alt=""
                  />
                  <div class="kulturnii-producti__content">
                    <div class="kulturnii-producti__content__wrapper">
                      <div class="kulturnii-producti__subtitle title title-3">
                        REBELS FOR PEACE
                      </div>
                      <div class="kulturnii-producti__descr">
                        26 апреля 2019 года в Петербурге прошла очередная
                        репетиция парада Победы: горожане стояли в пробках и
                        делали селфи на фоне танков. В это время в шатре
                        Упсала-Цирка прошла премьера спектакля DoMiNo, в котором
                        подростки из России, Германии, Сирии и Афганистана
                        рассказывали о мире, в котором они живут.
                        <br /><br />
                        DoMiNo — спектакль-полилог и спектакль-высказывание.
                        Каждый из участников выходит на цирковую сцену с личной
                        историей о доме, семье, потере и обретении.
                        <br /><br />
                        Спектакль DoMiNo был поставлен в миротворческой
                        резиденции Упсала-Цирка Rebels for Peace (Хулиганы за
                        мир). Самому младшему участнику резиденции было 7 лет,
                        самому старшему — 17. После весенней премьеры спектакля
                        в Петербурге команда Упсала-Цирка провела три летних
                        недели в Германии, в городах Цайц и Лейпциг.
                        <br /><br />
                        Каждый день проходили занятия в творческих мастерских:
                        современный цирк, документальный театр, медиатехнологии,
                        саунд-дизайн. Подростки исследовали темы войны и мира,
                        границ и коммуникации — в повседневности, творчестве,
                        городском пространстве.
                        <br /><br />
                        Итогом резиденции стал фестиваль-променад Rebels for
                        Peace, на котором прошли презентации работ мастерских. В
                        финале участники устроили пикник с местными жителями,
                        чтобы отпраздновать, увидеть друг друга и почувствовать
                        единение.
                        <br /><br />
                        В 2020 году мы провели уже онлайн-резиденцию, на которой
                        изучали феномен изоляции. Привет, пандемия!
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="kulturnii-producti__item">
                  <img
                    class="kulturnii-producti__img"
                    src="../img/kulturnii-producti-img.jpg"
                    alt=""
                  />
                  <div class="kulturnii-producti__content">
                    <div class="kulturnii-producti__content__wrapper">
                      <div class="kulturnii-producti__subtitle title title-3">
                        REBELS FOR PEACE
                      </div>
                      <div class="kulturnii-producti__descr">
                        26 апреля 2019 года в Петербурге прошла очередная
                        репетиция парада Победы: горожане стояли в пробках и
                        делали селфи на фоне танков. В это время в шатре
                        Упсала-Цирка прошла премьера спектакля DoMiNo, в котором
                        подростки из России, Германии, Сирии и Афганистана
                        рассказывали о мире, в котором они живут.
                        <br /><br />
                        DoMiNo — спектакль-полилог и спектакль-высказывание.
                        Каждый из участников выходит на цирковую сцену с личной
                        историей о доме, семье, потере и обретении.
                        <br /><br />
                        Спектакль DoMiNo был поставлен в миротворческой
                        резиденции Упсала-Цирка Rebels for Peace (Хулиганы за
                        мир). Самому младшему участнику резиденции было 7 лет,
                        самому старшему — 17. После весенней премьеры спектакля
                        в Петербурге команда Упсала-Цирка провела три летних
                        недели в Германии, в городах Цайц и Лейпциг.
                        <br /><br />
                        Каждый день проходили занятия в творческих мастерских:
                        современный цирк, документальный театр, медиатехнологии,
                        саунд-дизайн. Подростки исследовали темы войны и мира,
                        границ и коммуникации — в повседневности, творчестве,
                        городском пространстве.
                        <br /><br />
                        Итогом резиденции стал фестиваль-променад Rebels for
                        Peace, на котором прошли презентации работ мастерских. В
                        финале участники устроили пикник с местными жителями,
                        чтобы отпраздновать, увидеть друг друга и почувствовать
                        единение.
                        <br /><br />
                        В 2020 году мы провели уже онлайн-резиденцию, на которой
                        изучали феномен изоляции. Привет, пандемия!
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="kulturnii-producti__item">
                  <img
                    class="kulturnii-producti__img"
                    src="../img/kulturnii-producti-img.jpg"
                    alt=""
                  />
                  <div class="kulturnii-producti__content">
                    <div class="kulturnii-producti__content__wrapper">
                      <div class="kulturnii-producti__subtitle title title-3">
                        REBELS FOR PEACE
                      </div>
                      <div class="kulturnii-producti__descr">
                        26 апреля 2019 года в Петербурге прошла очередная
                        репетиция парада Победы: горожане стояли в пробках и
                        делали селфи на фоне танков. В это время в шатре
                        Упсала-Цирка прошла премьера спектакля DoMiNo, в котором
                        подростки из России, Германии, Сирии и Афганистана
                        рассказывали о мире, в котором они живут.
                        <br /><br />
                        DoMiNo — спектакль-полилог и спектакль-высказывание.
                        Каждый из участников выходит на цирковую сцену с личной
                        историей о доме, семье, потере и обретении.
                        <br /><br />
                        Спектакль DoMiNo был поставлен в миротворческой
                        резиденции Упсала-Цирка Rebels for Peace (Хулиганы за
                        мир). Самому младшему участнику резиденции было 7 лет,
                        самому старшему — 17. После весенней премьеры спектакля
                        в Петербурге команда Упсала-Цирка провела три летних
                        недели в Германии, в городах Цайц и Лейпциг.
                        <br /><br />
                        Каждый день проходили занятия в творческих мастерских:
                        современный цирк, документальный театр, медиатехнологии,
                        саунд-дизайн. Подростки исследовали темы войны и мира,
                        границ и коммуникации — в повседневности, творчестве,
                        городском пространстве.
                        <br /><br />
                        Итогом резиденции стал фестиваль-променад Rebels for
                        Peace, на котором прошли презентации работ мастерских. В
                        финале участники устроили пикник с местными жителями,
                        чтобы отпраздновать, увидеть друг друга и почувствовать
                        единение.
                        <br /><br />
                        В 2020 году мы провели уже онлайн-резиденцию, на которой
                        изучали феномен изоляции. Привет, пандемия!
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="kulturnii-producti__item">
                  <img
                    class="kulturnii-producti__img"
                    src="../img/kulturnii-producti-img.jpg"
                    alt=""
                  />
                  <div class="kulturnii-producti__content">
                    <div class="kulturnii-producti__content__wrapper">
                      <div class="kulturnii-producti__subtitle title title-3">
                        REBELS FOR PEACE
                      </div>
                      <div class="kulturnii-producti__descr">
                        26 апреля 2019 года в Петербурге прошла очередная
                        репетиция парада Победы: горожане стояли в пробках и
                        делали селфи на фоне танков. В это время в шатре
                        Упсала-Цирка прошла премьера спектакля DoMiNo, в котором
                        подростки из России, Германии, Сирии и Афганистана
                        рассказывали о мире, в котором они живут.
                        <br /><br />
                        DoMiNo — спектакль-полилог и спектакль-высказывание.
                        Каждый из участников выходит на цирковую сцену с личной
                        историей о доме, семье, потере и обретении.
                        <br /><br />
                        Спектакль DoMiNo был поставлен в миротворческой
                        резиденции Упсала-Цирка Rebels for Peace (Хулиганы за
                        мир). Самому младшему участнику резиденции было 7 лет,
                        самому старшему — 17. После весенней премьеры спектакля
                        в Петербурге команда Упсала-Цирка провела три летних
                        недели в Германии, в городах Цайц и Лейпциг.
                        <br /><br />
                        Каждый день проходили занятия в творческих мастерских:
                        современный цирк, документальный театр, медиатехнологии,
                        саунд-дизайн. Подростки исследовали темы войны и мира,
                        границ и коммуникации — в повседневности, творчестве,
                        городском пространстве.
                        <br /><br />
                        Итогом резиденции стал фестиваль-променад Rebels for
                        Peace, на котором прошли презентации работ мастерских. В
                        финале участники устроили пикник с местными жителями,
                        чтобы отпраздновать, увидеть друг друга и почувствовать
                        единение.
                        <br /><br />
                        В 2020 году мы провели уже онлайн-резиденцию, на которой
                        изучали феномен изоляции. Привет, пандемия!
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="kulturnii-producti__item">
                  <img
                    class="kulturnii-producti__img"
                    src="../img/kulturnii-producti-img.jpg"
                    alt=""
                  />
                  <div class="kulturnii-producti__content">
                    <div class="kulturnii-producti__content__wrapper">
                      <div class="kulturnii-producti__subtitle title title-3">
                        REBELS FOR PEACE
                      </div>
                      <div class="kulturnii-producti__descr">
                        26 апреля 2019 года в Петербурге прошла очередная
                        репетиция парада Победы: горожане стояли в пробках и
                        делали селфи на фоне танков. В это время в шатре
                        Упсала-Цирка прошла премьера спектакля DoMiNo, в котором
                        подростки из России, Германии, Сирии и Афганистана
                        рассказывали о мире, в котором они живут.
                        <br /><br />
                        DoMiNo — спектакль-полилог и спектакль-высказывание.
                        Каждый из участников выходит на цирковую сцену с личной
                        историей о доме, семье, потере и обретении.
                        <br /><br />
                        Спектакль DoMiNo был поставлен в миротворческой
                        резиденции Упсала-Цирка Rebels for Peace (Хулиганы за
                        мир). Самому младшему участнику резиденции было 7 лет,
                        самому старшему — 17. После весенней премьеры спектакля
                        в Петербурге команда Упсала-Цирка провела три летних
                        недели в Германии, в городах Цайц и Лейпциг.
                        <br /><br />
                        Каждый день проходили занятия в творческих мастерских:
                        современный цирк, документальный театр, медиатехнологии,
                        саунд-дизайн. Подростки исследовали темы войны и мира,
                        границ и коммуникации — в повседневности, творчестве,
                        городском пространстве.
                        <br /><br />
                        Итогом резиденции стал фестиваль-променад Rebels for
                        Peace, на котором прошли презентации работ мастерских. В
                        финале участники устроили пикник с местными жителями,
                        чтобы отпраздновать, увидеть друг друга и почувствовать
                        единение.
                        <br /><br />
                        В 2020 году мы провели уже онлайн-резиденцию, на которой
                        изучали феномен изоляции. Привет, пандемия!
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="arrow-wrapper">
          <div class="previous-button is-control">
            <div class="arrow"></div>
          </div>

          <div class="next-button is-control">
            <div class="arrow"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
