<section class="main-item bg-grey nasha-istoria-section">
  <div class="running-line">
    <div class="title title-1">
      наша <span class="italic">История</span>&nbsp; наша
      <span class="italic">История</span>&nbsp; наша
      <span class="italic">История</span>&nbsp;
    </div>

    <div class="title title-1">
      наша <span class="italic">История</span>&nbsp; наша
      <span class="italic">История</span>&nbsp; наша
      <span class="italic">История</span>&nbsp;
    </div>
  </div>

  <div class="nasha-istoria__slider relative">
    <div class="carousel relative" id="nashaIstoriaSlider">
      <div class="splide">
        <div class="splide__track">
          <div class="splide__list">
            <div class="splide__slide" role="group">
              <div class="nasha-istoria-item">
                <img
                  class="nasha-istoria-item__img"
                  src="../img/nasha-storia-img-item.jpg"
                  alt=""
                />
                <div class="nasha-istoria-item__content">
                  <div class="nasha-istoria-item__title title title-4">
                    2016 год. как Мы обновили шатер
                  </div>
                  <div class="nasha-istoria-item__descr">
                    Да, за 20 лет у нас столько всего произошло: уличные
                    карнавалы и спектакли, гастроли по России и Европе, «Золотая
                    маска», стационарный шатёр и жонглёрские онлайн-курсы. А
                    теперь вот и свой интернет-магазин.
                    <br /><br />
                    Там вы можете купить мерч для движа и поддержать
                    Упсала-Цирк. Чтобы вы могли свободно проживать в нём жизнь
                    со всеми её эмоциями, не отмораживаться и действовать. А в
                    Петербурге с вашей поддержкой и дальше будет цирк, в который
                    люди будут приходить смеяться и плакать.
                    <br /><br />
                    Если вы ещё не перешли, знайте, что там наши коллаборации с
                    ARNY PRAHT, NNedre и свой мерч. Клик!
                  </div>
                </div>
              </div>
            </div>

            <div class="splide__slide" role="group">
              <div class="nasha-istoria-item">
                <img
                  class="nasha-istoria-item__img"
                  src="../img/nasha-storia-img-item.jpg"
                  alt=""
                />
                <div class="nasha-istoria-item__content">
                  <div class="nasha-istoria-item__title title title-4">
                    2016 год. как Мы обновили шатер
                  </div>
                  <div class="nasha-istoria-item__descr">
                    Да, за 20 лет у нас столько всего произошло: уличные
                    карнавалы и спектакли, гастроли по России и Европе, «Золотая
                    маска», стационарный шатёр и жонглёрские онлайн-курсы. А
                    теперь вот и свой интернет-магазин.
                    <br /><br />
                    Там вы можете купить мерч для движа и поддержать
                    Упсала-Цирк. Чтобы вы могли свободно проживать в нём жизнь
                    со всеми её эмоциями, не отмораживаться и действовать. А в
                    Петербурге с вашей поддержкой и дальше будет цирк, в который
                    люди будут приходить смеяться и плакать.
                    <br /><br />
                    Если вы ещё не перешли, знайте, что там наши коллаборации с
                    ARNY PRAHT, NNedre и свой мерч. Клик!
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
