<section class="main-item ne-cirk-section height-200">
  <div class="container relative height-100">
    <div class="ne-cirk__content">
      <div class="ne-cirk__title title title-1 section__title">
        <div>
          <div>Тут вам</div>
        </div>

        <div class="italic">
          <div class="outline">не&nbsp;</div>
          <div>цирк</div>
        </div>
      </div>
      <div class="ne-cirk__down-btn">
        <div class="down-btn"></div>
        <div>Листайте вниз, знакомьтесь с цирком</div>
      </div>
    </div>
  </div>

  <div class="girl__wrapper">
    <img class="girl" src="./img/girl.png" alt="" />
  </div>

  <div class="hand__wrapper">
    <img class="hand" src="./img/hand.png" alt="" />
  </div>
</section>
