<section class="section-11">
  <div class="container">
    <div class="title title-1 section__title">
      <div>
        <div>а что происходит</div>
      </div>

      <div class="italic">
        <div class="outline">сейчас?</div>
      </div>
      <!-- <div class="star__wrapper star__wrapper-1">
        <img class="star" src="./img/star.png" alt="" />
      </div> -->
    </div>

    <div class="content__wrapper">
      <div class="descr">
        После пандемии дети снова несутся к нам после школы, из шатра до ночи их
        не выгнать. Двери хлопают, обувь по всему коридору, красота же. За шатёр
        началась борьба, и это не шутки. Мы параллельно тренируемся,
        восстанавливаем «Эффект пинг-понгового шарика», прогоняем «Перья»,
        ставим новый спектакль под кодовым названием «Рондо». Только тссс, это
        ещё секрет, мы вам этого не говорили!
      </div>

      <div class="img__wrapper">
        <img class="img" src="../../img/girl-on-hoduli.png" alt="" />
        <img
          class="cloud__item cloud__item-1"
          src="../../img/cloud.png"
          alt=""
        />
        <img
          class="cloud__item cloud__item-2"
          src="../../img/cloud.png"
          alt=""
        />
        <img
          class="cloud__item cloud__item-3"
          src="../../img/cloud.png"
          alt=""
        />
      </div>
    </div>

    <div class="title__wrapper">
      <div class="title title-1 section__title">
        <div>
          <div>ЭТО ВСЕ?</div>
        </div>

        <div class="italic">
          <div class="outline">НЕТ!</div>
        </div>
        <!-- <div class="star__wrapper star__wrapper-2">
          <img class="star" src="./img/star.png" alt="" />
        </div> -->
      </div>
    </div>

    <div class="slider__wrapper">
      <div class="carousel" id="section11__slider">
        <div class="splide">
          <div class="splide__track">
            <div class="splide__list">
              <div class="splide__slide" role="group">
                <div class="slider__item">
                  <div class="img__wrapper">
                    <img
                      class="img"
                      src="./img/chto-proishodit-img-item.png"
                      alt=""
                    />
                  </div>
                  <div class="content__wrapper">
                    <div class="content">
                      <div class="subtitle title title-4">
                        Онлайн курсы ПО ЖОНГЛИРОВАНИЮ
                      </div>
                      <div class="descr">
                        Ещё мы по-прежнему набираем любительскую сборную по
                        жонглированию и ждём всех на онлайн-курсах. Научим
                        жонглировать тремя мячами за 2 недели!
                        <br /><br />
                        Это занятие для тех, кому надо:
                        <ul class="list-reset">
                          <li>вырваться из рутины</li>
                          <li>выпустить эмоции</li>
                          <li>решить сложную задачу</li>
                          <li>отдохнуть головой и телом за 30 минут</li>
                        </ul>
                        <br /><br />
                        Если вы прочитали этот список и подумали, что
                        жонглирование подойдёт всем, то да, так оно и есть. Ждём
                        новичков любого возраста и уровня физической подготовки.
                        Для занятий нужна только крупа и носки. Да, крупа и
                        носки, вы всё правильно прочитали. Рис, булгур, греча
                        или гречка — выбор за вами.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="slider__item">
                  <div class="img__wrapper">
                    <img
                      class="img"
                      src="./img/chto-proishodit-img-item.png"
                      alt=""
                    />
                  </div>
                  <div class="content__wrapper">
                    <div class="content">
                      <div class="subtitle title title-4">
                        Онлайн курсы ПО ЖОНГЛИРОВАНИЮ
                      </div>
                      <div class="descr">
                        Ещё мы по-прежнему набираем любительскую сборную по
                        жонглированию и ждём всех на онлайн-курсах. Научим
                        жонглировать тремя мячами за 2 недели!
                        <br /><br />
                        Это занятие для тех, кому надо:
                        <ul class="list-reset">
                          <li>вырваться из рутины</li>
                          <li>выпустить эмоции</li>
                          <li>решить сложную задачу</li>
                          <li>отдохнуть головой и телом за 30 минут</li>
                        </ul>
                        <br /><br />
                        Если вы прочитали этот список и подумали, что
                        жонглирование подойдёт всем, то да, так оно и есть. Ждём
                        новичков любого возраста и уровня физической подготовки.
                        Для занятий нужна только крупа и носки. Да, крупа и
                        носки, вы всё правильно прочитали. Рис, булгур, греча
                        или гречка — выбор за вами.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="slider__item">
                  <div class="img__wrapper">
                    <img
                      class="img"
                      src="./img/chto-proishodit-img-item.png"
                      alt=""
                    />
                  </div>
                  <div class="content__wrapper">
                    <div class="content">
                      <div class="subtitle title title-4">
                        Онлайн курсы ПО ЖОНГЛИРОВАНИЮ
                      </div>
                      <div class="descr">
                        Ещё мы по-прежнему набираем любительскую сборную по
                        жонглированию и ждём всех на онлайн-курсах. Научим
                        жонглировать тремя мячами за 2 недели!
                        <br /><br />
                        Это занятие для тех, кому надо:
                        <ul class="list-reset">
                          <li>вырваться из рутины</li>
                          <li>выпустить эмоции</li>
                          <li>решить сложную задачу</li>
                          <li>отдохнуть головой и телом за 30 минут</li>
                        </ul>
                        <br /><br />
                        Если вы прочитали этот список и подумали, что
                        жонглирование подойдёт всем, то да, так оно и есть. Ждём
                        новичков любого возраста и уровня физической подготовки.
                        Для занятий нужна только крупа и носки. Да, крупа и
                        носки, вы всё правильно прочитали. Рис, булгур, греча
                        или гречка — выбор за вами.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="slider__item">
                  <div class="img__wrapper">
                    <img
                      class="img"
                      src="./img/chto-proishodit-img-item.png"
                      alt=""
                    />
                  </div>
                  <div class="content__wrapper">
                    <div class="content">
                      <div class="subtitle title title-4">
                        Онлайн курсы ПО ЖОНГЛИРОВАНИЮ
                      </div>
                      <div class="descr">
                        Ещё мы по-прежнему набираем любительскую сборную по
                        жонглированию и ждём всех на онлайн-курсах. Научим
                        жонглировать тремя мячами за 2 недели!
                        <br /><br />
                        Это занятие для тех, кому надо:
                        <ul class="list-reset">
                          <li>вырваться из рутины</li>
                          <li>выпустить эмоции</li>
                          <li>решить сложную задачу</li>
                          <li>отдохнуть головой и телом за 30 минут</li>
                        </ul>
                        <br /><br />
                        Если вы прочитали этот список и подумали, что
                        жонглирование подойдёт всем, то да, так оно и есть. Ждём
                        новичков любого возраста и уровня физической подготовки.
                        Для занятий нужна только крупа и носки. Да, крупа и
                        носки, вы всё правильно прочитали. Рис, булгур, греча
                        или гречка — выбор за вами.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="slider__item">
                  <div class="img__wrapper">
                    <img
                      class="img"
                      src="./img/chto-proishodit-img-item.png"
                      alt=""
                    />
                  </div>
                  <div class="content__wrapper">
                    <div class="content">
                      <div class="subtitle title title-4">
                        Онлайн курсы ПО ЖОНГЛИРОВАНИЮ
                      </div>
                      <div class="descr">
                        Ещё мы по-прежнему набираем любительскую сборную по
                        жонглированию и ждём всех на онлайн-курсах. Научим
                        жонглировать тремя мячами за 2 недели!
                        <br /><br />
                        Это занятие для тех, кому надо:
                        <ul class="list-reset">
                          <li>вырваться из рутины</li>
                          <li>выпустить эмоции</li>
                          <li>решить сложную задачу</li>
                          <li>отдохнуть головой и телом за 30 минут</li>
                        </ul>
                        <br /><br />
                        Если вы прочитали этот список и подумали, что
                        жонглирование подойдёт всем, то да, так оно и есть. Ждём
                        новичков любого возраста и уровня физической подготовки.
                        Для занятий нужна только крупа и носки. Да, крупа и
                        носки, вы всё правильно прочитали. Рис, булгур, греча
                        или гречка — выбор за вами.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="slider__item">
                  <div class="img__wrapper">
                    <img
                      class="img"
                      src="./img/chto-proishodit-img-item.png"
                      alt=""
                    />
                  </div>
                  <div class="content__wrapper">
                    <div class="content">
                      <div class="subtitle title title-4">
                        Онлайн курсы ПО ЖОНГЛИРОВАНИЮ
                      </div>
                      <div class="descr">
                        Ещё мы по-прежнему набираем любительскую сборную по
                        жонглированию и ждём всех на онлайн-курсах. Научим
                        жонглировать тремя мячами за 2 недели!
                        <br /><br />
                        Это занятие для тех, кому надо:
                        <ul class="list-reset">
                          <li>вырваться из рутины</li>
                          <li>выпустить эмоции</li>
                          <li>решить сложную задачу</li>
                          <li>отдохнуть головой и телом за 30 минут</li>
                        </ul>
                        <br /><br />
                        Если вы прочитали этот список и подумали, что
                        жонглирование подойдёт всем, то да, так оно и есть. Ждём
                        новичков любого возраста и уровня физической подготовки.
                        Для занятий нужна только крупа и носки. Да, крупа и
                        носки, вы всё правильно прочитали. Рис, булгур, греча
                        или гречка — выбор за вами.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="arrow-wrapper">
          <div class="previous-button is-control">
            <div class="arrow"></div>
          </div>

          <div class="next-button is-control">
            <div class="arrow"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
