<section class="section-4">
  <div class="running-line">
    <div class="title title-1">
      Из чего состоит <span class="outline">Цирк </span>Из чего состоит
      <span class="outline">Цирк </span>
      Из чего состоит <span class="outline">Цирк </span>Из чего состоит
      <span class="outline">Цирк </span>
    </div>

    <div class="title title-1">
      Из чего состоит <span class="outline">Цирк </span>Из чего состоит
      <span class="outline">Цирк </span>
      Из чего состоит <span class="outline">Цирк </span>Из чего состоит
      <span class="outline">Цирк </span>
    </div>
  </div>

  <div class="container">
    <div class="content__wrapper">
      <div class="preview__block">
        <img class="preview" src="../img/iz-chego-sostoit-img.png" />
        <img class="preview" src="../img/iz-chego-sostoit-img.png" />
        <img class="preview" src="../img/iz-chego-sostoit-img.png" />
        <img class="preview" src="../img/iz-chego-sostoit-img.png" />
        <img class="preview" src="../img/iz-chego-sostoit-img.png" />
        <img class="preview" src="../img/iz-chego-sostoit-img.png" />
        <img class="preview" src="../img/iz-chego-sostoit-img.png" />
        <img class="preview" src="../img/iz-chego-sostoit-img.png" />
      </div>

      <ul class="nav__list list-reset">
        <a class="nav__link" href="#section5"
          ><li class="nav__item title title-4">Хулиганский проект</li></a
        >
        <a class="nav__link" href="#section6"
          ><li class="nav__item title title-4">Профтруппа</li></a
        >
        <a class="nav__link" href="#section7"
          ><li class="nav__item title title-4">Инклюзивный проект</li></a
        >
        <a class="nav__link" href="#section8"
          ><li class="nav__item title title-4">Что в результате?</li></a
        >
        <a class="nav__link" href="#section9"
          ><li class="nav__item title title-4">Культурные продукты</li></a
        >
        <a class="nav__link" href="#section10"
          ><li class="nav__item title title-4">СМИ о нас</li></a
        >
        <a class="nav__link" href="#section11"
          ><li class="nav__item title title-4">А что происходит сейчас</li></a
        >
        <a class="nav__link" href="#section12"
          ><li class="nav__item title title-4">Наша история</li></a
        >
      </ul>
    </div>
  </div>
</section>
