<section class="section-7" id="section7">
  <div class="container">
    <div class="title title-1 section__title">
      <div>
        <div>Инклюзивный</div>
      </div>

      <div class="italic">
        <div class="outline">проект</div>
      </div>
    </div>

    <div class="content__wrapper">
      <div class="content content-1">
        <div class="content__text">
          А это Максим, артист спектакля «Я Басё» и участник нашего инклюзивного
          проекта. Пару лет назад он возвращался с мамой в метро после
          тренировки. Впереди стоял мужчина с ребёнком, который начал показывать
          на Максима. Мама артиста уже привыкла к тому, что дети реагируют ярко,
          задают вопросы, а не отводят глаза. И вдруг папа говорит девочке: «Так
          ты подойди к мальчику, поздоровайся. Ведь не часто увидишь артиста из
          Упсала-Цирка в метро».
        </div>
      </div>

      <div class="content content-2">
        <div class="content__text">
          Эта смена ролей важна для всех детей с социальными ярлыками. В
          инклюзивном центре занимаются артисты с синдромом Дауна,
          расстройствами аутистического спектра, поведенческими и ментальными
          особенностями. Для ребят очень важно, чтобы их считали настоящими
          артистами. В то же время мы не только помогаем детям, но и меняем
          общество. Мы снижаем стигматизирующее отношение к тем, кто чем-то
          отличается — людям с особенностями, со сложным поведением, «неудобным»
          людям.
        </div>
      </div>

      <div class="content content-3">
        <div class="content__text">
          Мы не говорим, что в нашем спектакле приняли участие 5 хулиганов и 6
          ребят из инклюзивного центра. Мы говорим, что в нашем спектакле
          выступают 11 молодых артистов.
        </div>
      </div>
    </div>

    <div class="img__block-1">
      <div class="boy-on-ball__wrapper">
        <img class="boy-on-ball" src="./img/boy-on-ball.png" alt="" />
      </div>

      <div class="giraffe__wrapper">
        <img class="giraffe" src="./img/giraffe.png" alt="" />
      </div>
    </div>

    <div class="img__block-2">
      <div class="mountain__wrapper">
        <img class="mountain" src="./img/mountain.png" alt="" />
      </div>

      <div class="yellow-bg__wrapper">
        <img class="yellow-bg" src="./img/yellow-bg.png" alt="" />
      </div>

      <div class="panelka-1__wrapper">
        <img class="panelka-1" src="./img/panelka-back.png" alt="" />
      </div>

      <div class="panelka-2__wrapper">
        <img class="panelka-2" src="./img/panelka-block.png" alt="" />
      </div>

      <div class="girl-on-hoduli__wrapper">
        <img class="girl-on-hoduli" src="./img/girl-on-hoduli.png" alt="" />
      </div>
    </div>
  </div>

  <!-- <div class="mountain__wrapper">
    <img class="mountain" src="./img/mountain.png" alt="" />
  </div>

  <div class="boy-on-ball__wrapper">
    <img class="boy-on-ball" src="./img/boy-on-ball.png" alt="" />
  </div>

  <div class="giraffe__wrapper">
    <img class="giraffe" src="./img/giraffe.png" alt="" />
  </div>

  <div class="panelka-block__wrapper">
    <img class="panelka-block" src="./img/panelka-block.png" alt="" />
  </div>

  <div class="panelka-back__wrapper">
    <img class="panelka-back" src="./img/panelka-back.png" alt="" />
  </div>

  <div class="girl-on-hoduli__wrapper">
    <img class="girl-on-hoduli" src="./img/girl-on-hoduli.png" alt="" />
  </div>

  <div class="yellow-bg__wrapper">
    <img class="yellow-bg" src="./img/yellow-bg.png" alt="" />
  </div>

  <div class="cloud__wrapper">
    <img class="cloud__item" src="./img/cloud.png" alt="" />
  </div> -->
</section>
