<section class="section-6">
  <div class="container">
    <div class="title title-1 section__title">
      <div>
        <span>Профтруппа</span>
      </div>
    </div>

    <div class="content__wrapper">
      <div class="content content-1">
        <div class="content__text">
          Ещё есть Стася, и она артистка профессиональной труппы. Она не
          получала двоек за поведение, и не была «трудным подростком». Поэтому
          Стася даже думала разбить окно в школе или начать курить, чтобы был
          повод предъявить в цирке свое непримерное поведение. Но ее страсть к
          цирку была настолько сильной, что стала достаточным аргументом для
          команды, чтобы принять подростка в проект.
        </div>
      </div>

      <div class="artist-drop__wrapper">
        <div class="artist__wrapper artist__wrapper-1">
          <img class="artist artist-1" src="./img/artist-drop-1.png" alt="" />
        </div>

        <div class="artist__wrapper artist__wrapper-2">
          <img class="artist artist-2" src="./img/artist-drop-2.png" alt="" />
        </div>

        <div class="artist__wrapper artist__wrapper-3">
          <img class="artist artist-3" src="./img/artist-drop-3.png" alt="" />
        </div>
      </div>

      <div class="content content-2">
        <div class="content__text">
          Стася выросла и из хулиганского проекта и перешла в профессиональную
          труппу. Там она занимается вместе с другими выпускниками Упсала-Цирка,
          а также молодыми артистами из других цирков и театров. Это ребята,
          которым интересно работать в жанре нового цирка и развивать это
          направление в России.
          <br /><br />
          Проект появился пару лет назад, мы только в начале пути. Мы хотим
          найти свой характер, хотя это и очень сложно. Кто мы? Откуда наши
          корни? Какова наша энергия? Какова наша эстетика? Пока мы в поиске, вы
          можете посмотреть последний спектакль профтруппы
          <a class="link" href=""
            ><span>&laquo;</span>Перья<span>&rsaquo;</span></a
          >, чтобы понять, о чём идёт речь, куда мы идём.
        </div>
      </div>
    </div>
  </div>

  <div class="cirkcler__wrapper">
    <img class="cirkcler" src="./img/cirkcler.png" alt="" />
    <img
      class="cirkcler__cloud cirkcler__cloud-1"
      src="./img/cloud.png"
      alt=""
    />
    <img
      class="cirkcler__cloud cirkcler__cloud-2"
      src="./img/cloud.png"
      alt=""
    />
  </div>

  <div class="kacheli__wrapper">
    <div class="kacheli">
      <img class="moon" src="./img/kacheli-moon.png" alt="" />
      <img class="actor-left" src="./img/kacheli-actor-left.png" alt="" />
      <img class="actor-right" src="./img/kacheli-actor-right.png" alt="" />
      <img class="brevno-right" src="./img/kacheli-brevno-right.png" alt="" />
      <img class="brevno" src="./img/kacheli-brevno.png" alt="" />
      <img class="brevno-left" src="./img/kacheli-brevno-left.png" alt="" />
    </div>
  </div>

  <!-- <div class="cloud__wrapper cloud__wrapper-1">
    <img class="cloud__item" src="./img/cloud.png" alt="" />
  </div>
  <div class="cloud__wrapper cloud__wrapper-2">
    <img class="cloud__item" src="./img/cloud.png" alt="" />
  </div>
  <div class="cloud__wrapper cloud__wrapper-3">
    <img class="cloud__item" src="./img/cloud.png" alt="" />
  </div>
  <div class="cloud__wrapper cloud__wrapper-4">
    <img class="cloud__item" src="./img/cloud.png" alt="" />
  </div>
  <div class="cloud__wrapper cloud__wrapper-5">
    <img class="cloud__item" src="./img/cloud.png" alt="" />
  </div>
  <div class="cloud__wrapper cloud__wrapper-6">
    <img class="cloud__item" src="./img/cloud.png" alt="" />
  </div>
  <div class="cloud__wrapper cloud__wrapper-7">
    <img class="cloud__item" src="./img/cloud.png" alt="" />
  </div> -->

  <!-- <div class="yellow-bg__wrapper">
    <img class="yellow-bg" src="./img/yellow-bg.png" alt="" />
  </div>

  <div class="tree__wrapper tree__wrapper-1">
    <img class="tree__item tree__item-1" src="../img/tree.png" alt="" />
  </div>
  <div class="tree__wrapper tree__wrapper-2">
    <img class="tree__item tree__item-2" src="../img/tree.png" alt="" />
  </div>
  <div class="tree__wrapper tree__wrapper-3">
    <img class="tree__item tree__item-3" src="../img/tree.png" alt="" />
  </div>
  <div class="tree__wrapper tree__wrapper-4">
    <img class="tree__item tree__item-4" src="../img/tree.png" alt="" />
  </div>
  <div class="tree__wrapper tree__wrapper-5">
    <img class="tree__item tree__item-5" src="../img/tree.png" alt="" />
  </div>
  <div class="tree__wrapper tree__wrapper-6">
    <img class="tree__item tree__item-6" src="../img/tree.png" alt="" />
  </div>
  <div class="tree__wrapper tree__wrapper-7">
    <img class="tree__item tree__item-7" src="../img/tree.png" alt="" />
  </div> -->
</section>
