<section class="section-8">
  <div class="container">
    <div class="title title-1 section__title">
      <div>
        <div>что в результате?</div>
      </div>
    </div>

    <div class="content__wrapper">
      <div class="content content-1 title title-2 outline">
        За нас лучше скажут зрители, которые были на спектаклях:
      </div>
      <div class="content content-2">
        В результате мы
        <span class="text-red">всегда работаем с культурным продуктом</span>.
        Итог первого года обучения для детей — карнавал, миротворческой
        резиденции Rebels for Peace в Германии — спектакль DoMiNo,
        международного партнёрства — перфоманс Circus.Brahms на фестивале
        Балансировка.
        <br />
        <br />
        В основе нашего метода — желание менять и умение действовать. Наша
        команда работает для того, чтобы создавать совместный культурный
        продукт: фестиваль, программу, перфоманс. Мы не можем позволить себе
        бездействовать и только говорить, это цирк!
      </div>
    </div>
  </div>

  <div class="slider__wrapper">
    <div class="container">
      <div class="carousel" id="section8__slider">
        <div class="splide">
          <div class="splide__track">
            <div class="splide__list">
              <div class="splide__slide" role="group">
                <div class="slider__item">
                  <div class="user">
                    <img class="avatar" src="./img/user-avatar.png" alt="" />
                    <div class="name title title-3">Юрий</div>
                  </div>

                  <div class="content">
                    <div class="subtitle uppercase">
                      В «Снах Пиросмани» актеры-подростки летают на канатах,
                      трюкачат, жонглируют, танцуют и веселятся.
                    </div>

                    <div class="descr">
                      А ты сидишь в зале, и мысли твои уходят куда-то вдаль от
                      повседневных вопросов. Огляделся вокруг — у всего зала
                      глаза на мокром месте, а всеобщее состояние умиления и
                      радости накатывает еще сильнее.
                    </div>
                  </div>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="slider__item">
                  <div class="user">
                    <img class="avatar" src="./img/user-avatar.png" alt="" />
                    <div class="name title title-3">Юрий</div>
                  </div>

                  <div class="content">
                    <div class="subtitle uppercase">
                      В «Снах Пиросмани» актеры-подростки летают на канатах,
                      трюкачат, жонглируют, танцуют и веселятся.
                    </div>

                    <div class="descr">
                      А ты сидишь в зале, и мысли твои уходят куда-то вдаль от
                      повседневных вопросов. Огляделся вокруг — у всего зала
                      глаза на мокром месте, а всеобщее состояние умиления и
                      радости накатывает еще сильнее.
                    </div>
                  </div>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="slider__item">
                  <div class="user">
                    <img class="avatar" src="./img/user-avatar.png" alt="" />
                    <div class="name title title-3">Юрий</div>
                  </div>

                  <div class="content">
                    <div class="subtitle uppercase">
                      В «Снах Пиросмани» актеры-подростки летают на канатах,
                      трюкачат, жонглируют, танцуют и веселятся.
                    </div>

                    <div class="descr">
                      А ты сидишь в зале, и мысли твои уходят куда-то вдаль от
                      повседневных вопросов. Огляделся вокруг — у всего зала
                      глаза на мокром месте, а всеобщее состояние умиления и
                      радости накатывает еще сильнее.
                    </div>
                  </div>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="slider__item">
                  <div class="user">
                    <img class="avatar" src="./img/user-avatar.png" alt="" />
                    <div class="name title title-3">Юрий</div>
                  </div>

                  <div class="content">
                    <div class="subtitle uppercase">
                      В «Снах Пиросмани» актеры-подростки летают на канатах,
                      трюкачат, жонглируют, танцуют и веселятся.
                    </div>

                    <div class="descr">
                      А ты сидишь в зале, и мысли твои уходят куда-то вдаль от
                      повседневных вопросов. Огляделся вокруг — у всего зала
                      глаза на мокром месте, а всеобщее состояние умиления и
                      радости накатывает еще сильнее.
                    </div>
                  </div>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="slider__item">
                  <div class="user">
                    <img class="avatar" src="./img/user-avatar.png" alt="" />
                    <div class="name title title-3">Юрий</div>
                  </div>

                  <div class="content">
                    <div class="subtitle uppercase">
                      В «Снах Пиросмани» актеры-подростки летают на канатах,
                      трюкачат, жонглируют, танцуют и веселятся.
                    </div>

                    <div class="descr">
                      А ты сидишь в зале, и мысли твои уходят куда-то вдаль от
                      повседневных вопросов. Огляделся вокруг — у всего зала
                      глаза на мокром месте, а всеобщее состояние умиления и
                      радости накатывает еще сильнее.
                    </div>
                  </div>
                </div>
              </div>

              <div class="splide__slide" role="group">
                <div class="slider__item">
                  <div class="user">
                    <img class="avatar" src="./img/user-avatar.png" alt="" />
                    <div class="name title title-3">Юрий</div>
                  </div>

                  <div class="content">
                    <div class="subtitle uppercase">
                      В «Снах Пиросмани» актеры-подростки летают на канатах,
                      трюкачат, жонглируют, танцуют и веселятся.
                    </div>

                    <div class="descr">
                      А ты сидишь в зале, и мысли твои уходят куда-то вдаль от
                      повседневных вопросов. Огляделся вокруг — у всего зала
                      глаза на мокром месте, а всеобщее состояние умиления и
                      радости накатывает еще сильнее.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="arrow-wrapper">
          <div class="previous-button is-control">
            <div class="arrow"></div>
          </div>

          <div class="next-button is-control">
            <div class="arrow"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-8__img__wrapper">
      <img class="section-8__img" src="./img/chto-v-rezultate-img.png" alt="" />
      <img class="cloud__item cloud__item-1" src="./img/cloud.png" alt="" />
      <img class="cloud__item cloud__item-2" src="./img/cloud.png" alt="" />
    </div>
  </div>

  <!-- <div class="star__wrapper">
    <img class="star" src="./img/star.png" alt="" />
  </div> -->
</section>
