<section class="section-10" id="section10">
  <div class="container">
    <div class="title title-1 section__title">
      <div>
        <div>CМИ о нас</div>
      </div>
    </div>

    <div class="descr">
      После пандемии дети снова несутся к нам после школы, из шатра до ночи их
      не выгнать. Двери хлопают, обувь по всему коридору, красота же. За шатёр
      началась борьба, и это не шутки. Мы параллельно тренируемся,
      восстанавливаем.
    </div>

    <div class="content__block">
      <div class="yt__block">
        <iframe
          class="yt"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/UMIDqPuJqUM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>

        <div class="subtitle title title-4">
          Почему в России не любят инициативных? / Редакция
        </div>

        <div class="descr">
          Этот выпуск «Редакции» про то, с чем в России большая проблема, — про
          инициативу. Мы решили посмотреть, как живут люди, которые пытаются
          сделать что-то хорошее сами, без какой-либо помощи «сверху».
        </div>
      </div>

      <div class="smi__block">
        <a href="" class="smi__item">
          <div class="img__wrapper">
            <img class="img" src="./img/statia-img.png" alt="" />
          </div>

          <div class="content__wrapper">
            <div class="subtitle uppercase">Берегите хулиганов</div>
            <div class="descr">
              Как работает «Упсала-Цирк», ставший домом для десятков
              неблагополучных подростков из Петербурга.
            </div>
          </div>
        </a>
        <a href="" class="smi__item">
          <div class="img__wrapper">
            <img class="img" src="./img/statia-img.png" alt="" />
          </div>

          <div class="content__wrapper">
            <div class="subtitle uppercase">Берегите хулиганов</div>
            <div class="descr">
              Как работает «Упсала-Цирк», ставший домом для десятков
              неблагополучных подростков из Петербурга.
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="star-line__wrapper">
    <img class="star-line" src="./img/star-line.png" alt="" />
  </div>

  @include('../../partials/tree-block.html')
</section>
