<section class="section-12" id="section12">
  <div class="running-line">
    <div class="title title-1">
      наша <span class="italic">История</span>&nbsp; наша
      <span class="italic">История</span>&nbsp; наша
      <span class="italic">История</span>&nbsp;
    </div>

    <div class="title title-1">
      наша <span class="italic">История</span>&nbsp; наша
      <span class="italic">История</span>&nbsp; наша
      <span class="italic">История</span>&nbsp;
    </div>
  </div>

  <div class="container">
    <div class="title title-1 section__title">
      <div>
        <div>Наша</div>
      </div>

      <div class="italic">
        <div class="outline">История</div>
      </div>
    </div>
  </div>

  <div class="slider__wrapper">
    <div class="carousel relative" id="section12__slider">
      <div class="splide">
        <div class="splide__track">
          <div class="splide__list">
            <div class="splide__slide" role="group">
              <div class="slider__item">
                <div class="img__wrapper">
                  <img
                    class="img"
                    src="../img/nasha-storia-img-item.jpg"
                    alt=""
                  />
                  <div class="subtitle title title-4">Новый шатер</div>
                </div>

                <div class="content__wrapper">
                  <div class="subtitle title title-4">
                    <span>2016 год.</span> как Мы обновили шатер
                  </div>
                  <div class="descr">
                    Да, за 20 лет у нас столько всего произошло: уличные
                    карнавалы и спектакли, гастроли по России и Европе, «Золотая
                    маска», стационарный шатёр и жонглёрские онлайн-курсы. А
                    теперь вот и свой интернет-магазин.
                    <br /><br />
                    Там вы можете купить мерч для движа и поддержать
                    Упсала-Цирк. Чтобы вы могли свободно проживать в нём жизнь
                    со всеми её эмоциями, не отмораживаться и действовать. А в
                    Петербурге с вашей поддержкой и дальше будет цирк, в который
                    люди будут приходить смеяться и плакать.
                    <br /><br />
                    Если вы ещё не перешли, знайте, что там наши коллаборации с
                    ARNY PRAHT, NNedre и свой мерч. Клик!
                  </div>
                </div>
              </div>
            </div>

            <div class="splide__slide" role="group">
              <div class="slider__item">
                <div class="img__wrapper">
                  <img
                    class="img"
                    src="../img/nasha-storia-img-item.jpg"
                    alt=""
                  />
                  <div class="subtitle title title-4">Новый шатер</div>
                </div>

                <div class="content__wrapper">
                  <div class="subtitle title title-4">
                    <span>2016 год.</span> как Мы обновили шатер
                  </div>
                  <div class="descr">
                    Да, за 20 лет у нас столько всего произошло: уличные
                    карнавалы и спектакли, гастроли по России и Европе, «Золотая
                    маска», стационарный шатёр и жонглёрские онлайн-курсы. А
                    теперь вот и свой интернет-магазин.
                    <br /><br />
                    Там вы можете купить мерч для движа и поддержать
                    Упсала-Цирк. Чтобы вы могли свободно проживать в нём жизнь
                    со всеми её эмоциями, не отмораживаться и действовать. А в
                    Петербурге с вашей поддержкой и дальше будет цирк, в который
                    люди будут приходить смеяться и плакать.
                    <br /><br />
                    Если вы ещё не перешли, знайте, что там наши коллаборации с
                    ARNY PRAHT, NNedre и свой мерч. Клик!
                  </div>
                </div>
              </div>
            </div>

            <div class="splide__slide" role="group">
              <div class="slider__item">
                <div class="img__wrapper">
                  <img
                    class="img"
                    src="../img/nasha-storia-img-item.jpg"
                    alt=""
                  />
                  <div class="subtitle title title-4">Новый шатер</div>
                </div>

                <div class="content__wrapper">
                  <div class="subtitle title title-4">
                    <span>2016 год.</span> как Мы обновили шатер
                  </div>
                  <div class="descr">
                    Да, за 20 лет у нас столько всего произошло: уличные
                    карнавалы и спектакли, гастроли по России и Европе, «Золотая
                    маска», стационарный шатёр и жонглёрские онлайн-курсы. А
                    теперь вот и свой интернет-магазин.
                    <br /><br />
                    Там вы можете купить мерч для движа и поддержать
                    Упсала-Цирк. Чтобы вы могли свободно проживать в нём жизнь
                    со всеми её эмоциями, не отмораживаться и действовать. А в
                    Петербурге с вашей поддержкой и дальше будет цирк, в который
                    люди будут приходить смеяться и плакать.
                    <br /><br />
                    Если вы ещё не перешли, знайте, что там наши коллаборации с
                    ARNY PRAHT, NNedre и свой мерч. Клик!
                  </div>
                </div>
              </div>
            </div>

            <div class="splide__slide" role="group">
              <div class="slider__item">
                <div class="img__wrapper">
                  <img
                    class="img"
                    src="../img/nasha-storia-img-item.jpg"
                    alt=""
                  />
                  <div class="subtitle title title-4">Новый шатер</div>
                </div>

                <div class="content__wrapper">
                  <div class="subtitle title title-4">
                    <span>2016 год.</span> как Мы обновили шатер
                  </div>
                  <div class="descr">
                    Да, за 20 лет у нас столько всего произошло: уличные
                    карнавалы и спектакли, гастроли по России и Европе, «Золотая
                    маска», стационарный шатёр и жонглёрские онлайн-курсы. А
                    теперь вот и свой интернет-магазин.
                    <br /><br />
                    Там вы можете купить мерч для движа и поддержать
                    Упсала-Цирк. Чтобы вы могли свободно проживать в нём жизнь
                    со всеми её эмоциями, не отмораживаться и действовать. А в
                    Петербурге с вашей поддержкой и дальше будет цирк, в который
                    люди будут приходить смеяться и плакать.
                    <br /><br />
                    Если вы ещё не перешли, знайте, что там наши коллаборации с
                    ARNY PRAHT, NNedre и свой мерч. Клик!
                  </div>
                </div>
              </div>
            </div>

            <div class="splide__slide" role="group">
              <div class="slider__item">
                <div class="img__wrapper">
                  <img
                    class="img"
                    src="../img/nasha-storia-img-item.jpg"
                    alt=""
                  />
                  <div class="subtitle title title-4">Новый шатер</div>
                </div>

                <div class="content__wrapper">
                  <div class="subtitle title title-4">
                    <span>2016 год.</span> как Мы обновили шатер
                  </div>
                  <div class="descr">
                    Да, за 20 лет у нас столько всего произошло: уличные
                    карнавалы и спектакли, гастроли по России и Европе, «Золотая
                    маска», стационарный шатёр и жонглёрские онлайн-курсы. А
                    теперь вот и свой интернет-магазин.
                    <br /><br />
                    Там вы можете купить мерч для движа и поддержать
                    Упсала-Цирк. Чтобы вы могли свободно проживать в нём жизнь
                    со всеми её эмоциями, не отмораживаться и действовать. А в
                    Петербурге с вашей поддержкой и дальше будет цирк, в который
                    люди будут приходить смеяться и плакать.
                    <br /><br />
                    Если вы ещё не перешли, знайте, что там наши коллаборации с
                    ARNY PRAHT, NNedre и свой мерч. Клик!
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="arrow-wrapper">
        <div class="previous-button is-control">
          <div class="arrow"></div>
        </div>

        <div class="next-button is-control">
          <div class="arrow"></div>
        </div>
      </div>
    </div>
  </div>
</section>
