<section class="section-3">
  <div class="container">
    <div class="content__wrapper">
      <div class="content content-1">
        <div class="content__text">
          <span class="text-red">В стационарном шатре без животных</span>
          и клоунов, в котором люди смеются и плачут, перья летят, в офисе висит
          «Золотая маска», в финале спектакля играет АукцЫон, пока дети на
          набережной устраивают мексиканский карнавал смерти.
          <br />
          <span class="title title-3 text-blue">Это же отвал башки!</span>
        </div>
      </div>

      <div class="content content-2">
        <div class="title title-3">
          Цирк достаточно непрактичная вещь. Его нельзя
          <span class="text-blue">съесть</span> или по
          <span class="text-blue">бочкам разлить</span>.
        </div>
        <div class="content__text">
          Уже 20 лет (ого!) мы задаёмся вопросом, зачем нужен цирк. И вот к чему
          мы пришли. Мы начинали как социальный проект. Большинство материалов
          про нас выглядит примерно так: «В 2000 году Астрид Шорн и Лариса
          Афанасьева занимались с детьми цирковым искусством прямо на улицах
          города». Да, в конце прошлого века были странные времена. Весёлые,
          потому что было много свободы, энергии и надежды. Но и печальные,
          потому что люди оказывались ненужными. И в те времена Астрид и Лариса
          создали цирк для хулиганов. Первых артистов нашли прямо на улице —
          заинтересовали жонглированием и моноциклом.
        </div>
      </div>

      <div class="height-100"></div>

      <div class="content content-3">
        <div class="title title-3">
          <span class="text-red">Прошло 20 лет</span>, мы выросли из
          хулиганского проекта, обзавелись шатром, собрали профтруппу и
          наворотили дел.
        </div>
        <div class="content__text">
          А панками так и остались — мы по-прежнему независимый культурный
          проект без государственного финансирования. Сегодня это наш выбор. Мы
          сами ищем средства на программы цирка и работаем во многом благодаря
          частным пожертвованиям и поддержке бизнеса. Вместе с вами мы создаём
          ту культуру, в которой мы живём. В этом смысле мы можем рассчитывать
          только на взаимную поддержку друг друга.
          <br />
          <br />
          Да, многие дети по-прежнему здесь и сейчас что-то меняют в
          Упсала-Цирке, но мы делаем это и для следующего поколения. В доступном
          искусстве и образовании нуждается огромное количество людей. Мы строим
          культурную базу для того, чтобы завтра было немножко увереннее и
          свободнее. Через цирк мы говорим о важном, отвечаем на социальные
          вызовы и создаём общество, в котором хотим жить.
          <br />
          <br />
          Шутки в сторону! Цирк — это серьёзно. Как говорят в цирке, это заруба.
          И наша заруба — создавать возможности для раскрытия творческого
          потенциала, чтобы люди становились свободнее и счастливее. Через
          эксперименты мы узнаём и расширяем границы. Мы меняем себя, общество и
          пространство вокруг.
          <div class="btn-primary elips">Поддержать проект</div>
        </div>
      </div>
    </div>
  </div>

  <div class="juggler__wrapper">
    <img class="juggler" src="./img/juggler.gif" alt="" />
  </div>

  <div class="jumper__wrapper jumper__wrapper-1">
    <img class="jumper" src="./img/jumper.png" alt="" />
  </div>

  <div class="jumper-block">
    <div class="jumper__wrapper jumper__wrapper-2">
      <img class="jumper" src="./img/jumper.png" alt="" />
    </div>

    <div class="cloud__wrapper">
      <img class="cloud" src="./img/cloud.png" alt="" />
    </div>
  </div>
</section>
