<section class="section-5">
  <div class="container">
    <div class="title title-1 section__title">
      <div>
        <div>Xулиганский</div>
      </div>

      <div class="italic">
        <div class="outline">проект</div>
      </div>
    </div>

    <div class="content__wrapper">
      <div class="content content-1">
        <div class="content__text">
          Привет!
          <br /><br />
          Это Сарвар, ему 16 лет. Если вы зайдёте в цирк после обеда, то с
          вероятность в 99% встретите Сарвара, который тренируется, пока в шатре
          не вырубят свет. Он родился и вырос в Узбекистане, но последние
          несколько лет живёт в Петербурге и занимается в нашем хулиганском
          проекте. За это время он выучил русский язык и начал другую жизнь. Что
          в шатре по-настоящему важно? Только то, что Сарвар артист
          Упсала-Цирка.
        </div>

        <img class="cloud__item cloud__item-1" src="./img/cloud.png" alt="" />
        <img class="cloud__item cloud__item-2" src="./img/cloud.png" alt="" />
      </div>

      <div class="content content-2">
        <div class="content__text">
          Вместе с Сарваром в хулиганском проекте занимается ещё 67 молодых
          артистов. Это ребята из неблагополучных и приёмных семей. Сразу после
          школы дети приходят и, как правило, уходят домой уже поздно вечером. И
          так от трёх до пяти раз в неделю. В программе акробатика,
          жонглирование, эквилибристика, современный танец, паркур, воздушная
          акробатика на полотнах. Каждый курс решает свою творческую задачу:
          новички ставят цирковой карнавал, средняя группа увлечена постановкой
          спектакля, выпускники готовят сольные номера.
        </div>
      </div>

      <div class="content content-3">
        <div class="content__text">
          Мы несем ответственность перед каждым ребёнком, который занимается в
          этом проекте. Трудным подросткам мало кто помогает: их отправляют за
          забор спецшколы или спецучилища «перевоспитывать», а на деле — ломают.
          Упсала-Цирк меняет контекст с «вы преступники, и с вами все ясно» на
          «вы талантливы и можете прыгнуть выше головы».
        </div>
      </div>
    </div>
  </div>

  <div class="">

  </div>

  <div class="unicycle__wrapper">
    <div class="unicycle__inner">
      <img class="unicycle" src="../img/unicycle.png" alt="" />
    </div>
  </div>

  <div class="unicycle-profile-girl__wrapper">
    <img
      class="unicycle-profile-girl"
      src="./img/unicycle-profile-girl.png"
      alt=""
    />
  </div>

  <div class="unicycle-profile-boy__wrapper">
    <img
      class="unicycle-profile-boy"
      src="./img/unicycle-profile-boy.png"
      alt=""
    />
  </div>

  <div class="panelka__wrapper-left">
    <img class="panelka-left" src="./img/panelka-left.png" alt="" />
  </div>

  <div class="panelka__wrapper-right">
    <img class="panelka-right" src="./img/panelka-right.png" alt="" />
  </div>

  <!-- <div class="elephant__wrapper">
    <img class="elephant" src="./img/elephant.png" alt="" />
  </div>

  <div class="childrens__wrapper">
    <img class="childrens" src="./img/childrens.png" alt="" />
  </div> -->

  <div class="yellow-bg__wrapper">
    <img class="yellow-bg" src="./img/yellow-bg.png" alt="" />
  </div>

  <!-- <div class="rope__wrapper" alt=""></div> -->

  <!-- <img class="cloud__item cloud__item-3" src="./img/cloud.png" alt="" /> -->

  <!-- <div class="tree__wrapper tree__wrapper-1">
    <img class="tree__item tree__item-1" src="../img/tree.png" alt="" />
  </div>
  <div class="tree__wrapper tree__wrapper-2">
    <img class="tree__item tree__item-2" src="../img/tree.png" alt="" />
  </div>
  <div class="tree__wrapper tree__wrapper-3">
    <img class="tree__item tree__item-3" src="../img/tree.png" alt="" />
  </div>
  <div class="tree__wrapper tree__wrapper-4">
    <img class="tree__item tree__item-4" src="../img/tree.png" alt="" />
  </div>
  <div class="tree__wrapper tree__wrapper-5">
    <img class="tree__item tree__item-5" src="../img/tree.png" alt="" />
  </div>
  <div class="tree__wrapper tree__wrapper-6">
    <img class="tree__item tree__item-6" src="../img/tree.png" alt="" />
  </div>
  <div class="tree__wrapper tree__wrapper-7">
    <img class="tree__item tree__item-7" src="../img/tree.png" alt="" />
  </div> -->
</section>
