<section class="section-1">
  <div class="container relative">
    <div class="content__wrapper">
      <div class="title title-1 section__title">
        <div>
          <div>Тут вам</div>
        </div>

        <div class="italic">
          <div class="outline">не&nbsp;</div>
          <div>цирк</div>
        </div>
      </div>
      <div class="down__wrapper">
        <div class="btn btn-outline">афиша</div>
        <div class="btn btn-std">поддержать проект</div>
        <div class="down__btn">Листайте вниз, знакомьтесь с цирком</div>
      </div>
    </div>
  </div>

  <div class="girl__wrapper">
    <img class="girl" src="./img/girl.png" alt="" />
  </div>

  <div class="hand__wrapper">
    <img class="hand" src="./img/hand.png" alt="" />
  </div>
</section>
