<section class="section-4">
  <div class="running-line">
    <div class="title title-1">
      Из чего состоит <span class="outline">Цирк </span>Из чего состоит
      <span class="outline">Цирк </span>
      Из чего состоит <span class="outline">Цирк </span>Из чего состоит
      <span class="outline">Цирк </span>
    </div>

    <div class="title title-1">
      Из чего состоит <span class="outline">Цирк </span>Из чего состоит
      <span class="outline">Цирк </span>
      Из чего состоит <span class="outline">Цирк </span>Из чего состоит
      <span class="outline">Цирк </span>
    </div>
  </div>

  <div class="container">
    <div class="content__wrapper">
      <div class="preview__block">
        <img class="preview" src="../img/iz-chego-sostoit-img.png" />
        <img class="preview" src="../img/iz-chego-sostoit-img.png" />
        <img class="preview" src="../img/iz-chego-sostoit-img.png" />
        <img class="preview" src="../img/iz-chego-sostoit-img.png" />
        <img class="preview" src="../img/iz-chego-sostoit-img.png" />
        <img class="preview" src="../img/iz-chego-sostoit-img.png" />
        <!-- <img class="preview" src="../img/iz-chego-sostoit-img.png" />
        <img class="preview" src="../img/iz-chego-sostoit-img.png" /> -->
      </div>

      <ul class="nav__list list-reset">
        <!-- <li class="nav__item title title-4">Хулиганский проект</li> -->
        <li class="nav__item title title-4">Профтруппа</li>
        <!-- <li class="nav__item title title-4">Инклюзивный проект</li> -->
        <li class="nav__item title title-4">Что в результате?</li>
        <li class="nav__item title title-4">Культурные продукты</li>
        <li class="nav__item title title-4">СМИ о нас</li>
        <li class="nav__item title title-4">А что происходит сейчас</li>
        <li class="nav__item title title-4">Наша история</li>
      </ul>

      <!-- <div class="cloud__item cloud__item-1"></div>
      <div class="cloud__item cloud__item-2"></div>
      <div class="cloud__item cloud__item-3"></div> -->
    </div>
  </div>
</section>
