<div class="contact-main__wrapper">
  <div class="container">
    <div class="contact__wrapper">
      <div class="email__block">
        <div class="title title-3">Мы пишем классные письма!</div>
        <div class="descr">
          Пару раз в месяц мы делимся новостями из жизни цирка. Чтобы получить
          <br />такое, оставьте контакты вот тут:
        </div>
        <form class="email-form" action="post">
          <input class="name" type="text" placeholder="Имя*" />

          <input class="email" type="text" placeholder="example@domen.com*" />

          <div class="checkbox agree__checkbox">
            <input type="checkbox" id="agree1" />
            <label for="agree1"
              >Я согласен на обработку персональных данных</label
            >
          </div>
          <button class="btn btn-std">отправить</button>
        </form>
      </div>

      <div class="ili__block">
        <div class="title title-4">Или</div>
      </div>

      <div class="tg__block">
        <div class="title title-3">И в Телеграме тоже!</div>
        <div class="descr">
          Вы можете выбрать, где вам будет удобнее узнавать новости
        </div>
        <div class="tg__link">
          <div class="tg__ico">
            <img src="./img/svg/telegram-ico.svg" alt="" />
          </div>

          <div class="title title-4">
            Пару раз в месяц наш бот в Телеграме делится последними новостями
            цирка
          </div>
        </div>
        <button class="btn btn-std">отправить</button>
      </div>
    </div>
  </div>
</div>
