<section class="main-item smi-o-nas-section">
  <div class="container relative">
    <div class="title title-1 section__title smi-o-nas__title">
      <div>
        <div>CМИ о нас</div>
      </div>
    </div>

    <div class="smi-o-nas__text">
      После пандемии дети снова несутся к нам после школы, из шатра до ночи их
      не выгнать. Двери хлопают, обувь по всему коридору, красота же. За шатёр
      началась борьба, и это не шутки. Мы параллельно тренируемся,
      восстанавливаем.
    </div>

    <div class="smi-o-nas__content">
      <div class="main">
        <div>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/UMIDqPuJqUM?controls=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="smi-o-nas-content__title title title-4">
          Почему в России не любят инициативных? / Редакция
        </div>
        <div class="smi-o-nas-content__descr">
          Этот выпуск «Редакции» про то, с чем в России большая проблема, — про
          инициативу. Мы решили посмотреть, как живут люди, которые пытаются
          сделать что-то хорошее сами, без какой-либо помощи «сверху».
        </div>
      </div>

      <div class="secondary statia-block">
        <a href="" class="statia-link">
          <div class="statia-item relative">
            <div class="statia-item__content">
              <div class="statia-item__title">Берегите хулиганов</div>
              <div class="statia-item__descr">
                Как работает «Упсала-Цирк», ставший домом для десятков
                неблагополучных подростков из Петербурга.
              </div>
            </div>
          </div>
        </a>

        <a href="" class="statia-link">
          <div class="statia-item relative">
            <div class="statia-item__content">
              <div class="statia-item__title">Берегите хулиганов</div>
              <div class="statia-item__descr">
                Как работает «Упсала-Цирк», ставший домом для десятков
                неблагополучных подростков из Петербурга.
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <img class="smi-o-nas-star-line" src="../img/star-line.png" />
</section>
