html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: "GTWalsheimPro";
  font-weight: 400;
  font-size: 1.6rem;
  background-color: $bg-color;
  color: $text-color;
  height: 100%;
  overflow-x: hidden;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
  * {
    text-decoration: none;
    color: $text-color;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  width: 86vw;
  padding: 1.5rem;
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

section.main-item {
  position: relative;
}

.title {
  margin: 0;
  padding: 0;
  font-family: "Spektra";
  font-weight: 700;
  text-transform: uppercase;

  &-main {
    font-size: 19.2rem;
    line-height: 15.8rem;
  }
  &-second {
    font-size: 9.6rem;
    line-height: 8.8rem;
  }
  &-third {
    font-size: 4.8rem;
    line-height: 4.8rem;
    letter-spacing: 2%;
  }
  &-fourth {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  * {
    transition: 0.3s;
  }
}

.outline {
  -webkit-text-stroke: 1px rgba(200, 200, 200, 0.5);
  color: rgba(200, 200, 200, 0);
}

.height-100 {
  height: 100vh;
}

.height-200 {
  height: 200vh;
}

.height-300 {
  height: 300vh;
}

.text-contrast {
  color: $contrast;
}

.text-secondary {
  color: $secondary;
}

.text-blue {
  color: $blue;
}

.text-regular {
  font-size: 1.7rem;
  line-height: 2.6rem;
}

.italic {
  font-style: italic;
}

.paragraph-uppercase {
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.align__container-right {
  display: flex;
  justify-content: end;
  & > * {
    flex-basis: 50%;
  }
}

.align__container-left {
  display: flex;
  justify-content: start;
  * > {
    flex-basis: 50%;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.minus-50-mr {
  margin-left: -50%;
}

.std-margin {
  margin: $std-gap;
}

.std-margin-top {
  margin-top: $std-gap;
}

.std-margin-bottom {
  margin-bottom: $std-gap;
}

.std-margin-left {
  margin-left: $std-gap;
}

.std-margin-right {
  margin-right: $std-gap;
}

.std-margin-x2 {
  margin: calc($std-gap * 2);
}

.std-margin-top-x2 {
  margin-top: calc($std-gap * 2);
}

.std-margin-bottom-x2 {
  margin-bottom: calc($std-gap * 2);
}

.std-margin-left-x2 {
  margin-left: calc($std-gap * 2);
}

.std-margin-right-x2 {
  margin-right: calc($std-gap * 2);
}

.content {
  margin-top: 8.8rem;
}

.bg-grey {
  background-color: $grey;
}

.text__running-line {
  display: flex;
  width: 100%;
  div {
    white-space: nowrap;
    animation: running-line 40s -40s linear infinite;
    will-change: transform;

    &:nth-child(2) {
      animation: running-line-2 40s -20s linear infinite;
    }
  }
}

@keyframes running-line {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes running-line-2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

.nav {
  display: flex;

  .nav__link {
    position: relative;
    transition: 0.2s;
    &::before {
      position: absolute;
      content: "";
      bottom: -0.6rem;
      left: 0;
      height: 0.1rem;
      width: 0%;
      background-color: $grey;
      transition: 0.2s;
    }
    &:hover::before {
      width: 100%;
    }
    &.octagram::before {
      width: 0;
    }
  }
}

button {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

button:active {
  border: none;
  outline: none;
}

button:focus {
  border: none;
  outline: none;
}

.text-field__wrapper {
  position: relative;
  .placeholder {
    position: absolute;
    left: 4.2rem;
    top: 50%;
    transform: translateY(-80%);
  }
}

.text-field {
  padding: 1.5rem 4.2rem;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: $text-color;
  border: 1px solid rgb(200, 200, 200, 0.5);
  border-radius: 4.8rem;
  background-color: transparent;
  width: 100%;
  outline: none;
  transition: 0.2s;
  margin-bottom: 1.1rem;
  &:focus {
    outline: none;
    border: 1px solid rgb(200, 200, 200, 1);
  }
  &:active {
    outline: none;
    border: 1px solid rgb(200, 200, 200, 1);
  }
}

input[type="checkbox"] {
  visibility: hidden;
  display: none;
}
label {
  position: relative;
  cursor: pointer;
  margin-left: 4.2rem;
}

input[type="checkbox"] + label::before {
  content: "";
  top: 50%;
  left: -2.5rem;
  transform: translateY(-50%);
  position: absolute;
  border: 1px solid rgb(196, 196, 196, 0.5);
  border-radius: 0.3rem;
  height: 1.1rem;
  width: 1.1rem;
  background-color: transparent;
}

input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -2.4rem;
  transform: translateY(-50%);
  height: 1rem;
  width: 1rem;
  background-image: url("../img/svg/checkbox-ico.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  &:focus {
    border: none;
    outline: none;
  }
}

.btn {
  cursor: pointer;
  display: block;
  text-decoration: none;
  margin: 2.5rem 0;
  padding: 1.5rem 4.2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #fff;
  text-align: center;
  border-radius: 4.8rem;
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  transition: 0.2s;
  &-primary {
    background-color: $contrast;
    &:hover {
      background-color: #b9342d;
    }
  }
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}

.hr {
  height: 1px;
  border: 1px solid rgb(200, 200, 200, 0.2);
}
