@import "./components/animations";

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "GTWalsheimPro";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  background-color: $dark;
  color: $grey;
  overflow-x: hidden;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
  * {
    text-decoration: none;
    color: $grey;
  }
}

.container {
  width: 86vw;
  padding: 0 1rem;
  margin: 0 auto;
}

section.main-item {
  position: relative;
  padding-top: $header-gap;
}

.height-100 {
  height: 100vh;
}

.height-200 {
  height: 200vh;
}

.height-300 {
  height: 300vh;
}

.section__title {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .italic {
    display: flex;
  }
}

.title {
  margin: 0;
  padding: 0;
  font-family: "Spektra";
  font-weight: 700;
  text-transform: uppercase;
  transition: $duration-fast;
  &-1 {
    font-size: 19.2rem;
    line-height: 15.8rem;
  }
  &-2 {
    font-size: 9.6rem;
    line-height: 8.8rem;
  }
  &-3 {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
  &-4 {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}

.outline {
  -webkit-text-stroke: 1px rgba(200, 200, 200, 0.5);
  color: rgba(200, 200, 200, 0);
}

.italic {
  font-style: italic;
}

.text-red {
  color: $red;
}

.text-blue {
  color: $blue;
}

.text-dark {
  color: $dark;
}

.text-grey {
  color: $grey;
}

.align__container-right {
  display: flex;
  justify-content: flex-end;
  & > * {
    flex-basis: 50%;
  }
}

.align__container-left {
  display: flex;
  justify-content: flex-start;
  & > * {
    flex-basis: 50%;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

button {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

button:active {
  border: none;
  outline: none;
}

button:focus {
  border: none;
  outline: none;
}

// .text-field__wrapper {
//   position: relative;
//   .placeholder {
//     position: absolute;
//     left: 4.2rem;
//     top: 50%;
//     transform: translateY(-80%);
//   }
// }

// .text-field {
//   padding: 1.5rem 4.2rem;
//   font-size: 1.4rem;
//   line-height: 1.9rem;
//   color: $text-color;
//   border: 1px solid rgb(200, 200, 200, 0.5);
//   border-radius: 4.8rem;
//   background-color: transparent;
//   width: 100%;
//   outline: none;
//   transition: 0.2s;
//   margin-bottom: 1.1rem;
//   &:focus {
//     outline: none;
//     border: 1px solid rgb(200, 200, 200, 1);
//   }
//   &:active {
//     outline: none;
//     border: 1px solid rgb(200, 200, 200, 1);
//   }
// }

// input[type="checkbox"] {
//   visibility: hidden;
//   display: none;
// }
// label {
//   position: relative;
//   cursor: pointer;
//   margin-left: 4.2rem;
// }

// input[type="checkbox"] + label::before {
//   content: "";
//   top: 50%;
//   left: -2.5rem;
//   transform: translateY(-50%);
//   position: absolute;
//   border: 1px solid rgb(196, 196, 196, 0.5);
//   border-radius: 0.3rem;
//   height: 1.1rem;
//   width: 1.1rem;
//   background-color: transparent;
// }

// input[type="checkbox"]:checked + label:after {
//   content: "";
//   position: absolute;
//   top: 50%;
//   left: -2.4rem;
//   transform: translateY(-50%);
//   height: 1rem;
//   width: 1rem;
//   background-image: url("../img/svg/checkbox-ico.svg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   z-index: 10;
// }

// fieldset {
//   margin: 0;
//   padding: 0;
//   border: none;
//   outline: none;
//   &:focus {
//     border: none;
//     outline: none;
//   }
// }

.btn {
  cursor: pointer;
  display: block;
  width: 100%;
  margin: 2.5rem 0;
  padding: 1.5rem 4.2rem;
  border-radius: 4.8rem;

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #fff;
  outline: none;
  border: none;
  transition: $duration-fast;

  &-std {
    background-color: $red;
    border: 1px solid $red;
    &:hover {
      background-color: darken($red, 10%);
      border-color: darken($red, 10%);
    }
  }
  &-outline {
    background-color: transparent;
    border: 1px solid $red;
    &:hover {
      background-color: darken($red, 10%);
      border-color: darken($red, 10%);
    }
  }

  &-disable {
    pointer-events: none;
    cursor: default;
    background-color: #c4c4c4;
    color: $dark;
  }

  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}

.nav {
  display: flex;
  align-items: center;
  .nav__link:not(.primary-btn) {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      height: 1px;
      width: 0;
      background-color: $dirty-grey;
      transition: $duration-fast;
    }
    &:hover::before {
      width: 100%;
    }
  }
}
